@using CKWMS.App_Code
@using CKWMS.Models
@model wms_scanpickViewModel

@{
    ViewBag.Title = "拣货库位";
}

@*<h2>Picking</h2>*@
<div style="width:360px;height:300px;overflow:hidden">
    <input type="hidden" id="ckid" name="ckid" value="@ViewBag.ckid" />
    <div class="page-header">
        <p>出库编号：@ViewBag.ckbh</p>
        <p>
            <button type="button" id="bt_save" class="btn btn-default"><i class="icon-save"></i>保存</button>
            <button type="button" id="bt_ok" class="btn btn-default"><i class="icon-ok"></i>完成</button>
            <button type="button" class="btn btn-default" onclick="javascript:location.href='/wms_scanin/index'; "><i class="icon-hand-left"></i>返回</button>
        </p>
    </div>
    <div id="pl_loc" class="row">
        <p><input type="text" id="txkuwei"/></p>
        <table class="table table-condensed table-hover" id="dt_loc">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>库位</td>
                    <td>待拣</td>
                    <td>下架</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.pickloc)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.KuWei"></label>
                        </td>
                        <td>@item.KuWei</td>
                        <td>@item.DaijianSL</td>
                        <td>@item.JianhuoSL</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="pl_cargo" class="row" style="width:360px;height:260px;overflow:auto;display:none;">
        <table class="table" id="dt_cargo">
            <caption></caption>
            <thead>
                <tr>
                    <td>规格</td>
                    <td>批号</td>
                    <td>序列号</td>
                    <td>待拣</td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
            </tbody>
        </table>

    </div>
</div>

