@using CKWMS.App_Code
@using CKWMS.Models
@model wms_cangguanszViewModel
@{ViewBag.Title = "仓管设置添加";}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            document.getElementById("cangkuid").focus();

        //    $("#pl_Renyuan").draggable({ handle: '.tuodong' })
        //    GetUser()

        //    $("#pl_close").click(function () {
        //        $("#pl_Renyuan").hide();
        //        Getu();
        //    });

        //    $("#bt_renyuan_add").click(function () {

        //        var valu = $('input:radio[name="radiobox"]:checked').parent().find(".radioid").val();
        //        if (valu == null) {
        //            alert("请选择一位人员")
        //        }
        //        else {
        //            $("#renyuanid").val(valu);
        //            $("#pl_Renyuan").hide();
        //        }

        //    })
        //})
        //function GetUser() {
        //    var filltable = "";
        //    $.post(
        //            "/userinfo/GetUser",
        //            {

        //            },
        //            function (data) {
        //                for (var i in data) {
        //                    filltable = filltable + '<tr><td  style="width:150px"><div class="radio" ><label><input name="radiobox" type="radio" class="radioid" value="';
        //                    filltable = filltable + data[i].ID;
        //                    filltable = filltable + '"></label></div></td><td style="width:220px"><span class="fullname">';
        //                    filltable = filltable + data[i].FullName;
        //                    filltable = filltable + '</td><td style="width:220px">';
        //                    filltable = filltable + data[i].EmployeeID;
        //                    filltable = filltable + '</td></tr>';
        //                }
        //                $("#pl_Renyuan tbody").html(filltable);
        //                Getu();
        //            });
        //}
        //function Bt_Renyuanadd() {
        //    document.getElementById("pl_Renyuan").removeAttribute("hidden");
        //    $("#pl_Renyuan").show();
        //}

        //function Getu() {
        //    var mz = document.getElementsByClassName('fullname');
        //    var tempry = $("#renyuanid").val();
        //    for (var i = 0; i < mz.length; i++) {
        //        if (tempry == $(".fullname").eq(i).html())
        //            $("#rydatatable tr input[type=radio]").eq(i).prop("checked", true);
        //    }
        //}

    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_cangguansz">仓管设置</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "wms_cangguansz", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.CangkuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.CangkuID, new { @class = "form-control", id ="cangkuid"})*@
                    @Html.SelectList_Auto("CangkuID","仓库","")
                    @Html.ValidationMessageFor(m => m.CangkuID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RenyuanID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("RenyuanID", "userinfo", "fullname")
                    @Html.ValidationMessageFor(m => m.RenyuanID)
                </div>             
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" readonly type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("MakeMan", "userinfo", "fullname")*@
                    <input type="text" readonly class="form-control" value="@Html.GetDataValue_ID("userinfo", "全名", (int)Session["user_id"])" />
                </div>
            </div>
        </div>
    }
</div>

@*<div id="pl_Renyuan" class="panel panel-primary" hidden style="display:none;position:fixed;top:100px;left:200px;width:630px;height:400px;z-index:999;">
    <div class="tuodong panel-heading">
        <h3 class="panel-title">人员信息<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_renyuan_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="rydatatable">
                <caption></caption>
                <thead style="display:block" class="tuodong">
                    <tr>
                        <td style="width:150px"></td>
                        <td style="width:220px">姓名</td>
                        <td style="width:220px">员工号</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:260px;width:600px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>*@