@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "入库计划明细清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/cust_rukujihuamx/Edit/" + u_id;
                location.href = url_go;
            }
        });
    });
    function AddInfo() {
        location.href = "/cust_rukujihuamx/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/cust_rukujihuamx/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/cust_rukujihuamx/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "JihuaID";
        scm.ItemTitle = "计划序号";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "JihuaID";
            scm.ItemTitle = "计划序号";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">入库计划明细</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "入库计划明细_条件组合查询", "/cust_rukujihuamx/index", "cust_rukujihuamx_index", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        </p>
    </div>
    <div class="row" style="overflow:auto;height:445px;">
        <table class="table" id="mydatatable" style="white-space: nowrap;">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    @*<td>计划序号</td>*@
                    @*<td>商品序号</td>*@
                    <td>商品代码</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>计划数量</td>
                    <td>到货数量</td>
                    <td>基本单位</td>
                    <td>包装单位</td>
                    <td>换算率</td>
                    <td>厂家</td>
                    <td>产地</td>
                    <td>备注</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.cust_rukujihuamx)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        @*<td>@item.JihuaID</td>*@
                        @*<td>@item.ShangpinID</td>*@
                        <td>@item.ShangpinDM</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:d}", item.ShengchanRQ == null ? "" : item.ShengchanRQ)</td>
                        <td>@string.Format("{0:d}", item.ShixiaoRQ == null ? "" : item.ShixiaoRQ)</td>
                        <td>@item.JihuaSL</td>
                        <td>@item.DaohuoSL</td>
                        <td>@item.JibenDW</td>
                        <td>@item.BaozhuangDW</td>
                        <td>@item.Huansuanlv</td>
                        <td>@item.Changjia</td>
                        <td>@item.Chandi</td>
                        <td>@item.Beizhu</td>
                        <td>@string.Format("{0:d}", item.MakeDate == null ? "" : item.MakeDate)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager" style="height:0px;">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
