@using CKWMS.App_Code;
@using CKWMS.Models
@model base_shouhuodanweiViewModel
@{ViewBag.Title = "收货单位添加";}
@Html.GetFileUpload("yingyezhizhaotp", "yyzz", "z", "cus", 3, 0,new Dictionary<string, string>() { { "yyzz", "yingyezhizhaotp" },{ "xktp", "jingyingxuketp" }, { "batp", "beiantp" } })
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shouhuodanwei">收货单位</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    <form role="form" action="/base_shouhuodanwei/Save" method="post">
        <input type="hidden" name="ob_base_shouhuodanwei_id" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            @*货主*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>货主</label>
                <div class="col-sm-10">
                    @*<input type="text" class="form-control" name="ob_base_shouhuodanwei_huozhuid">*@
                    @Html.SelectList_Auto("huozhuid", "货主", "都有")
                    @Html.ValidationMessageFor(m => m.HuozhuID)
                </div>
            </div>
            @*单位名称*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>单位名称</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mingcheng)
                </div>
            </div>
            @*营业执照编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="yingyezhizhaobh">
                </div>
            </div>
            @*营业执照有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="yingyezhizhaoyxq">
                </div>
            </div>
            @*营业执照照片*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照照片</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" name="yingyezhizhaotp" id="yingyezhizhaotp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yyzz">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            @*<div class="form-group">
                <iframe src="/upload"></iframe>
            </div>*@
            @*经营许可编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jingyingxukebh">
                </div>
            </div>
            @*经营许可有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="jingyingxukeyxq">
                </div>
            </div>
            @*经营许可照片*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可照片</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" name="jingyingxuketp" id="jingyingxuketp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="xktp">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            @*新增*@
            @*经营范围*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营范围</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jingyinfanwei">
                </div>
            </div>
            @*经营范围代码*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营范围代码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jingyinfanweidm">
                </div>
            </div>
            @*区域*@
            <div class="form-group">
                <label for="name" class="col-sm-2">区域</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="quyu">
                </div>
            </div>
            @*备案编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="beianbh">
                </div>
            </div>
            @*备案有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="beianyxq">
                </div>
            </div>
            @*备案批准日期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案批准日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="beianpzrq">
                </div>
            </div>
            @*备案发证机关*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案发证机关</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="beianfzjg">
                </div>
            </div>
            @*备案文件*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案文件</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" name="beiantp" id="beiantp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="batp">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            @*许可批准日期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">许可批准日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="xukepzrq">
                </div>
            </div>
            @*许可发证机关*@
            <div class="form-group">
                <label for="name" class="col-sm-2">许可发证机关</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="xukefzjg">
                </div>
            </div>
            @*<div class="form-group">
                <label for="name" class="col-sm-2">首营状态</label>
                <div class="col-sm-10">
                    @*<input type="text" class="form-control" name="ob_base_shouhuodanwei_shouying">
                    @Html.SelectList_Common("ob_base_shouhuodanwei_shouying", "首营状态")
                </div>
            </div>*@
            <div class="form-group">
                <label for="name" class="col-sm-2">录入日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="makedate">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">输入人</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("makeman", "userinfo", "fullname",(long)ViewBag.userid)
                </div>
            </div>
        </div>
    </form>
</div>
