@using CKWMS.App_Code;
@using CKWMS.EFModels
@model base_shouhuodanwei
@{
    ViewBag.Title = "收货单位修改";
    base_shouhuodanwei item = ViewBag.base_shouhuodanwei;
}
@Html.GetFileUpload("yingyezhizhaotp", "yyzz", "z", "cus", 2, 0, new Dictionary<string, string>() { { "yyzz", "yingyezhizhaotp" }, { "xktp", "jingyingxuketp" } })

@*<script type="text/javascript">
    function doUpload() {
        var formData = new FormData($("#uploadForm")[0]);
        var strBack = "";
        var strWrite = "";
        var strSel = $("#btnSelect").val();
        $.ajax({
            url: 'http://localhost:6446/upload/UploadOK',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                strBack = returndata;
            },
            error: function (returndata) {
                strBack = "fail";
            }
        });
        switch (strBack) {
            case "0":
                strWrite = "无传送值，上传失败！";
                break;
            case "1":
                strWrite = "空文件，上传失败！";
                break;
            case "2":
                strWrite = "错误，上传失败！";
                break;
            case "3":
                strWrite = "文件尺寸超过4M，上传失败！";
                break;
            case "fail":
                strWrite = "文件太大，上传失败！";
                break;
            default:
                strWrite = "文件上传成功！";
                break;
        }
        switch (strSel) {
            case "picsel1":
                $("#ob_base_shouhuodanwei_yingyezhizhaotp").val(strBack);
                $("#zztp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
                break;
            case "picsel2":
                $("#ob_base_shouhuodanwei_jingyingxuketp").val(strBack);
                $("#yxtp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
                break;
            case "":
            default:
                $("#ob_base_shouhuodanwei_yingyezhizhaotp").val(strBack);
                $("#zztp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
                break;
        }
        alert(strWrite);
    }
    function bt1() {
        $("#btnSelect").val("picsel1");
    }
    function bt2() {
        $("#btnSelect").val("picsel2");
    }
</script>*@
@*收货明细*@
<script type="text/javascript">
    $(document).ready(function () {
        var shdw_id = $("#shdw_id").val();
        if (shdw_id.length > 0) {
            GetShouhuomingxiData(shdw_id);
        };

        $("#btn_shdwAdd").click(function () {
            window.open("/base_shouhuomingxi/Add?getId=" + shdw_id);
        });

        $("#btn_shdwDel").click(function () {
            var _shmx = "";
            $("#shouhuomingxi_shdw tr input[type = checkbox]").each(function () {
                if(this.checked){
                    _shmx = _shmx + $(this).val() + ",";
                }
            });
            if (_shmx.length > 0) {
                var _delok = confirm("确定要删除这些信息吗？");
                if (_delok) {
                    $.post(
                    "/base_shouhuomingxi/deletenow",
                    {
                        del: _shmx
                    },
                    function (data) {
                        if (data == 1) {
                            var shdw_id = $("#shdw_id").val();
                            GetShouhuomingxiData(shdw_id);
                        }
                        else
                            alert("删除成功，请重试！");
                    }
                );
                }
            }
        });

    });


    function GetShouhuomingxiData(shdw_id) {
        var shmxdata = "";
        $.post(
            "/base_shouhuomingxi/getmingxidetail",
                {
                    shdw_id: shdw_id
                },
               function (data) {
                   if (data.length > 0) {
                       for (var i in data) {
                           shmxdata = shmxdata + '<tr><td><div class="checkbox"><label><input type="checkbox" value="';
                           shmxdata = shmxdata + data[i].ID;
                           shmxdata = shmxdata + '"></label></div></td>';
                           shmxdata = shmxdata + '<td>';
                           //shmxdata = shmxdata + data[i].ShouhuofangID;
                           //shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Dizhi;
                           shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Lianxiren;
                           shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Lianxidianhua;
                           shmxdata = shmxdata + '</td><td>';
                           //shmxdata = shmxdata + data[i].XiaoshouID;
                           //shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Xiaoshouren;
                           //shmxdata = shmxdata + '</td><td>';
                           //shmxdata = shmxdata + data[i].MakeDate;
                           //shmxdata = shmxdata + '</td><td>';
                           //shmxdata = shmxdata + data[i].MakeMan;
                           shmxdata = shmxdata + '</td></tr>';
                       }
                       $("#shouhuomingxi_shdw tbody").html(shmxdata);
                   }
               }
            );
    }
</script>
@*<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title center" id="myModalLabel">
                    <i class="icon-file blue"></i><span class="large">
                        文件上传
                    </span>
                </h3>
            </div>
            <div class="modal-body center">
                <form id="uploadForm">
                    <input type="hidden" name="uploadtype" id="uploadtype" value="z" />
                    <input type="hidden" name="uploaditemName" id="uploaditemName" value="gys_@item.ID" />
                    <div class="form-group">
                        <input type="file" name="file" />
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="确 定" onclick="doUpload()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shouhuodanwei">收货单位</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <form role="form" action="/base_shouhuodanwei/Update" method="post">
        <input type="hidden" id="shdw_id" name="ob_base_shouhuodanwei_id" value="@item.ID" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
                <span class="pull-right">
                    <button type="button" id="btn_shdwAdd" class="btn btn-default"><i class="icon-adn"></i>收货地址添加</button>
                    <button type="button" id="btn_shdwDel" class="btn btn-default"><i class="icon-remove"></i>收货地址删除</button>
                </span>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>货主</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("huozhuid", "货主", "名称", (int)item.HuozhuID)
                </div>
            </div>
            @*单位名称*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>单位名称</label>
                <div class="col-sm-10">
                    <input id="shdw_mingcheng" type="text" class="form-control" name="mingcheng" value="@item.Mingcheng">
                </div>
            </div>
            @*营业执照编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>营业执照编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="yingyezhizhaobh" value="@item.YingyezhizhaoBH">
                </div>
            </div>
            @*营业执照有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>营业执照有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="yingyezhizhaoyxq" value="@string.Format("{0:yyyy-MM-dd}",item.YingyezhizhaoYXQ)">
                </div>
            </div>
            @*营业执照照片*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="yingyezhizhaotp" id="yingyezhizhaotp" value="@item.YingyezhizhaoTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span id="zztp" class="form-control">
                        <a href="/files/zhengzhao/@item.YingyezhizhaoTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>经营许可编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jingyingxukebh" value="@item.JingyingxukeBH">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>经营许可有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="jingyingxukeyxq" value="@string.Format("{0:yyyy-MM-dd}",item.JingyingxukeYXQ)">
                </div>
            </div>
            @*经营许可照片*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly id="jingyingxuketp" name="jingyingxuketp" value="@item.JingyingxukeTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yxtp">
                        <a href="/files/zhengzhao/@item.JingyingxukeTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            @*<div class="form-group">
                <label for="name" class="col-sm-2">首营状态</label>
                <div class="col-sm-10">
                    @Html.SelectList_Common("ob_base_shouhuodanwei_shouying", "首营状态", (int)item.Shouying)
                </div>
            </div>*@
            <div class="form-group">
                <label for="name" class="col-sm-2">录入日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="makedate" value="@string.Format("{0:yyyy-MM-dd}",item.MakeDate)">
                </div>
            </div>
            @*输入人*@
            <div class="form-group">
                <label for="name" class="col-sm-2">输入人</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("makeman", "userinfo", "fullname", (long)item.MakeMan)
                </div>
            </div>
        </div>
    </form>
    @*收货明细列表*@
    <div id="shouhuomingxi_shdw" class="container" style="height:360px;overflow:auto;">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    @*<td>收货单位</td>*@
                    <td>地址</td>
                    <td>联系人</td>
                    <td>联系电话</td>
                    @*<td>货主的销售序号</td>*@
                    <td>销售人</td>
                    @*<td>录入日期</td>
                    <td>输入人</td>*@
                </tr>
            </thead>

            <tbody></tbody>

        </table>
    </div>
</div>

