@using CKWMS.App_Code;
@using CKWMS.EFModels
@model base_shouhuodanwei
@{
    ViewBag.Title = "收货单位修改";
    base_shouhuodanwei item = ViewBag.base_shouhuodanwei;
}
@Html.GetFileUpload("yingyezhizhaotp", "yyzz", "z", "cus", 3, 0, new Dictionary<string, string>() { { "yyzz", "yingyezhizhaotp" }, { "xktp", "jingyingxuketp" }, { "batp", "beiantp" } })
@*收货明细*@
<script type="text/javascript">
    $(document).ready(function () {
        //时间
        $("#date_yingyezhizhaoyxq").datepicker();
        $("#date_jingyingxukeyxq").datepicker();
        $("#date_beianyxq").datepicker();
        $("#date_beianpzrq").datepicker();
        $("#date_xukepzrq").datepicker();
        $("#date_makedate").datepicker();
        //验证
        $("#mingcheng").attr('required', 'required');
        //获取收货信息
        var shdw_id = $("#shdw_id").val();
        var huozhuid = $("#huozhuid").val();
        if (shdw_id.length > 0) {
            GetShouhuomingxiData(shdw_id);
        };

        $("#btn_shdwAdd").click(function () {
            window.open("/base_shouhuomingxi/Add?getId=" + shdw_id + "&" + "huozhuid=" + huozhuid, "_self");
        });

        $("#btn_shdwEdit").click(function () {
            $("#shouhuomingxi_shdw tr input[type=checkbox]").each(function () {
                //对默认地址的操作
                if (this.checked) {
                    var mxdizhi = $(this).parent().parent().parent().siblings().find(".dizhi").text();
                    var dwdizhi = $("#songhuodz").val();
                    if (mxdizhi == dwdizhi) {
                        var biaoshi = 1;
                        window.open("/base_shouhuomingxi/Edit/" + $(this).val() + "?biaoshi=" + biaoshi, "_self");
                    } else {
                        window.open("/base_shouhuomingxi/Edit/" + $(this).val(), "_self");
                    }
                    
                }
            });
        });

        $("#btn_shdwDel").click(function () {
            var _shmx = "";
            $("#shouhuomingxi_shdw tr input[type = checkbox]").each(function () {
                if(this.checked){
                    _shmx = _shmx + $(this).val() + ",";

                    //默认地址删除
                    var mxdizhi = $(this).parent().parent().parent().siblings().find(".dizhi").text();
                    var dwdizhi = $("#songhuodz").val();
                    if (mxdizhi == dwdizhi) {
                        $("#songhuodz").val("");
                    }
                }
                
            });
            if (_shmx.length > 0) {
                var _delok = confirm("确定要删除这些信息吗？");
                if (_delok) {
                    $.post(
                    "/base_shouhuomingxi/deletenow",
                    {
                        del: _shmx
                    },
                    function (data) {
                        if (data == 1) {
                            var shdw_id = $("#shdw_id").val();
                            GetShouhuomingxiData(shdw_id);
                        }
                        else
                            alert("删除失败，请重试！");
                    }
                );
                }
            }
        });

        //经营范围
        $("#pl_Fanwei").draggable({ handle: '.tuodong' });
        $("#pl_Quyu").draggable({ handle: '.tuodong' });
        var bj = 0;
        GetFanwei1(bj);
        Getquyu();

        //显示全部
        $("#bt_fanwei_showall").click(function () {
            var bj = 1;
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            var fw = document.getElementsByClassName('xulieid');
            var i = $("#jingyingfanweidm").val();
            var ti = i.split(";");
            //ti.splice(ti.length - 1);
            var xiaolei = new Array();
            var x = 0;
            for (var k = 0; k < ti.length; k++, x = 0) {
                for (var l = 0; l < fw.length; l++) {
                    if (ti[k] == $(".xulieid").eq(l).val()) {
                        x = 1;
                    }
                }
                if (x != 1) {
                    xiaolei.push(ti[k]);
                }
            }
            for (k = 0; k < xiaolei.length; k++) {
                tempid = tempid + xiaolei[k] + ";";
            }
            tempid = tempid.substring(0, tempid.length - 1);
            GetFanwei(bj, tempid);
        });

        //显示大类
        $("#bt_fanwei_showdalei").click(function () {
            var bj = 1;
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            GetFanwei1(bj, tempid);
        });

        //关闭窗口
        $("#pl_close").click(function () {
            $("#pl_Fanwei").hide();
            var bj = 0;
            $("#guanlifenlei").val("全部");
            GetFanwei1(bj);
        });

        //添加范围
        $("#bt_fanwei_add").click(function () {
            var _jyfw = "";
            var _jyfw1 = "";
            var _jyfw2 = "";
            var _jyfw3 = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('xulieid');
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    switch ($(this).parent().parent().parent().siblings().find(".glfl").html()) {
                        case "1": _jyfw1 = _jyfw1 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                        case "2": _jyfw2 = _jyfw2 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                        case "3": _jyfw3 = _jyfw3 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                    }
                    //_jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".glfl").html() + "," + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                    _jyfwjm = _jyfwjm + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            _jyfw = "三类:" + _jyfw3 + "\n" + "二类:" + _jyfw2 + "\n" + "一类:" + _jyfw1;
            if (_jyfw3 == "")
                _jyfw = _jyfw.replace("三类:\n", "");
            if (_jyfw2 == "")
                _jyfw = _jyfw.replace("二类:\n", "");
            if (_jyfw1 == "")
                _jyfw = _jyfw.replace("一类:", "");

            var _addok = confirm("确定要修改经营范围吗？");
            if (_addok) {
                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#jingyingfanwei").val(_jyfw);
                    $("#jingyingfanweidm").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                    var bj = "0";
                }
                $("#guanlifenlei").val("全部");
                GetFanwei1(bj);
            }
            
        });
        //全选
        $("#bt_fanwei_all").click(function () {
            $(".xulieid").prop("checked", true);
        })
        //全部取消
        $("#bt_fanwei_clear").click(function () {
            $(".xulieid").prop("checked", false);
        })
        //选择管理分类
        $("#guanlifenlei").change(function () {
            var fl = document.getElementsByClassName('glfl');
            var lb = $("#guanlifenlei").find("option:selected").text();
            if (lb == "一类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "1") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "二类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "2") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "三类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "3") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "全部") {
                $(".bg").show();
            }
        });
        //区域
        $("#qy_close").click(function () {
            $("#pl_Quyu").hide();
            Getqy();
        });
        $("#rydatatable").on("dblclick", "tr", function () {
            $("#quyu").val($(this).find(".qymingcheng").html());
            $("#pl_Quyu").hide();
        });
        $("#bt_quyu_add").click(function () {
            var valqy = $('input:radio[name="radiobox"]:checked').parent().parent().parent().siblings().find(".qymingcheng").html();
            if (valqy == null) {
                alert("没有选择区域哦")
            }
            else {
                $("#quyu").val(valqy);
                $("#pl_Quyu").hide();
            }
        });
        //单击tr打钩，双击取值
        $("#rydatatable").on("dblclick", "tr", function () {
            $("#quyu").val($(this).find(".qymingcheng").html());
            $("#pl_Quyu").hide();
        });
        $("#rydatatable").on("click", "tr", function () {
            if ($(this).find(":radio").is(':checked')) {
                $(this).find(":radio").prop("checked", false);
            } else {
                $(this).find(":radio").prop("checked", true);
            }
        });
        $("#qxdatatable").on("click", "tr", function () {
            if ($(this).find(":checkbox").is(':checked')) {
                $(this).find(":checkbox").prop("checked", false);
            } else {
                $(this).find(":checkbox").prop("checked", true);
            }
        });
        //默认地址
        $("#btn_Default").click(function () {
            var num = $("input[type=checkbox]:checked").length;
            if (num > 1) {
                alert("您只能选取一个地址做为默认地址！");
            } else if (num == "") {
                alert("您没有选择的默认地址！");
            } else {
                $("#shouhuomingxi_shdw tr input[type = checkbox]").each(function () {
                    if (this.checked) {
                        var mxdizhi = $(this).parent().parent().parent().siblings().find(".dizhi").text();
                        $("#songhuodz").val(mxdizhi);
                    };
                });
            }           
        });
    });

    //点击修改or增加
    function Bt_Fanweiadd() {
        document.getElementById("pl_Fanwei").removeAttribute("hidden");
        $("#pl_Fanwei").show();
    }
    function GetFanwei1(a, b) {
        var bj = a;
        var tempid = b;
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {

                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                    GetData(bj, tempid)
                });
    }
    function GetFanwei(a, b) {
        var bj = a;
        var tempid = b;
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                    GetData(bj, tempid)
                });
    }

    function Bt_Quyuadd() {
        Getquyu();
        document.getElementById("pl_Quyu").removeAttribute("hidden");
        $("#pl_Quyu").show();
    }

    function Getquyu() {
        var filltable = "";
        $.post(
            "/base_quyu/GetQuyu",
            {

            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<tr style="display:table;width:100%;table-layout:fixed"><td style="width:5%"><div class="radio" ><label><input name="radiobox" type="radio" class="radioid" value="';
                    filltable = filltable + data[i].ID;
                    filltable = filltable + '"></label></div></td><td style="width:15%">';
                    filltable = filltable + data[i].Bianhao;
                    filltable = filltable + '</td><td style="width:20%"><span class="qymingcheng">';
                    filltable = filltable + data[i].Mingcheng;
                    filltable = filltable + '</td><td>';
                    filltable = filltable + data[i].Miaoshu;
                    filltable = filltable + '</td></tr>';
                }
                $("#pl_Quyu tbody").html(filltable);
                Getqy();
            });
    }
    //打勾
    function GetData(a, tempid) {
        var fw = document.getElementsByClassName('xulieid');
        var bj = a;
        var i = tempid;
        if (bj == 0) {
            var i = $("#jingyingfanweidm").val();
        }
        if (i != null) {
            var t = i.split(";");
        } else { t = "" }
        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < fw.length; l++) {
                if (t[k] == $(".xulieid").eq(l).val())
                    $("#qxdatatable tr input[type=checkbox]").eq(l).attr("checked", true);
            }
        }
    }
    function Getqy() {
        var qymc = document.getElementsByClassName('qymingcheng');
        var tempqy = $("#quyu").val();
        for (var i = 0; i < qymc.length; i++) {
            if (tempqy == $(".qymingcheng").eq(i).html())
                $("#rydatatable tr input[type=radio]").eq(i).prop("checked", true);
        }
    }
    //收货明细
    function GetShouhuomingxiData(shdw_id) {
        var shmxdata = "";
        $.post(
            "/base_shouhuomingxi/getmingxidetail",
                {
                    shdw_id: shdw_id
                },
               function (data) {
                   if (data.length > 0) {
                       for (var i in data) {
                           shmxdata = shmxdata + '<tr><td><div class="checkbox"><label><input type="checkbox" value="';
                           shmxdata = shmxdata + data[i].ID;
                           shmxdata = shmxdata + '"></label></div></td>';
                           shmxdata = shmxdata + '<td><span class="dizhi">';
                           //shmxdata = shmxdata + data[i].ShouhuofangID;
                           //shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Dizhi;
                           shmxdata = shmxdata + '</span></td><td>';
                           shmxdata = shmxdata + data[i].Lianxiren;
                           shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Lianxidianhua;
                           shmxdata = shmxdata + '</td><td>';
                           //shmxdata = shmxdata + data[i].XiaoshouID;
                           //shmxdata = shmxdata + '</td><td>';
                           shmxdata = shmxdata + data[i].Xiaoshouren;
                           //shmxdata = shmxdata + '</td><td>';
                           //shmxdata = shmxdata + data[i].MakeDate;
                           //shmxdata = shmxdata + '</td><td>';
                           //shmxdata = shmxdata + data[i].MakeMan;
                           shmxdata = shmxdata + '</td></tr>';
                       }
                       $("#shouhuomingxi_shdw tbody").html(shmxdata);
                   } else {
                       $("#shouhuomingxi_shdw tbody").empty();
                   }
               }
            );
    }
 
    

    function GetExistingData() {
        //var fw = $("input[type=checkbox]").val();

        text = $("input:checkbox").map(function (index, elem) {
            return $(elem).val();
        }).get().join(',');
        //alert("选中的checkbox的值为："+text);
        var d = text.split(",");
        //alert(d[0]);

        var i = $("#jingyingfanweidm").val();
        if (i != null) {
            var t = i.split(";");
        };

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < d.length; l++) {
                if (t[k] == d[l])
                    $("input:checkbox").eq(l).attr("checked", true);
            }
        }
    };
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shouhuodanwei">收货单位</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <form role="form" action="/base_shouhuodanwei/Update" method="post">
        <input type="hidden" id="shdw_id" name="id" value="@item.ID" />
        <input type="hidden" id="btnSelect" value="" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
        <input type="hidden" name="huozhuid" id="huozhuid" value="@item.HuozhuID" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
                <span class="pull-right">
                    <button type="button" id="btn_shdwAdd" class="btn btn-default"><i class="icon-adn"></i>地址添加</button>
                    <button type="button" id="btn_shdwEdit" class="btn btn-default"><i class="icon-edit"></i>地址编辑</button>
                    <button type="button" id="btn_shdwDel" class="btn btn-default"><i class="icon-remove"></i>地址删除</button>
                    <button type="button" id="btn_Default" class="btn btn-default"><i class="icon-location-arrow"></i>默认地址</button>
                </span>
            </p>
        </div>
        <div class="container">
            @*货主*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>货主</label>
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("huozhuid", "货主", "名称", (int)item.HuozhuID)*@
                    <input type="text" readonly class="form-control" value="@Html.GetDataValue_ID( "货主", "名称",(int)item.HuozhuID)"/>
                </div>
            </div>
            @*单位名称*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>单位名称</label>
                <div class="col-sm-10">
                    <input id="mingcheng" type="text" class="form-control" name="mingcheng" value="@item.Mingcheng">
                </div>
            </div>
            @*营业执照编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="yingyezhizhaobh" value="@item.YingyezhizhaoBH">
                </div>
            </div>
            @*营业执照有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照有效期</label>
                <div class="col-sm-10">
                    <input type="date" id="date_yingyezhizhaoyxq" class="form-control" name="yingyezhizhaoyxq" value="@string.Format("{0:yyyy-MM-dd}",item.YingyezhizhaoYXQ)">
                </div>
            </div>
            @*营业执照照片*@
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="yingyezhizhaotp" id="yingyezhizhaotp" value="@item.YingyezhizhaoTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span id="zztp" class="form-control">
                        <a href="/files/zhengzhao/@item.YingyezhizhaoTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            @*经营许可编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jingyingxukebh" value="@item.JingyingxukeBH">
                </div>
            </div>
            @*经营许可有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可有效期</label>
                <div class="col-sm-10">
                    <input type="date" id="date_jingyingxukeyxq" class="form-control" name="jingyingxukeyxq" value="@string.Format("{0:yyyy-MM-dd}",item.JingyingxukeYXQ)">
                </div>
            </div>
            @*经营许可照片*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly id="jingyingxuketp" name="jingyingxuketp" value="@item.JingyingxukeTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yxtp">
                        <a href="/files/zhengzhao/@item.JingyingxukeTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            @*新增*@
            @*经营许可发证机关*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可发证机关</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="xukefzjg" value="@item.XukeFZJG">
                </div>
            </div>
            @*经营许可批准日期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可批准日期</label>
                <div class="col-sm-10">
                    <input type="date" id="date_xukepzrq" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",item.XukePZRQ)" name="xukepzrq">
                </div>
            </div>
            @*经营范围*@
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="name">经营范围</label><br />
                    <button type="button" class="icon-edit" id="bt_Fanweiadd" onclick="Bt_Fanweiadd()" >修改</button>
                </div>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" readonly id="jingyingfanwei" name="jingyingfanwei" rows="3">@item.Jingyinfanwei</textarea>
                </div>
            </div>
            @*经营范围代码*@
            <div class="form-group" style="display:none">
                <label for="name" class="col-sm-2">经营范围代码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly id="jingyingfanweidm" name="jingyingfanweidm" value="@item.JingyinfanweiDM">
                </div>
            </div>
            @*区域*@
            <div class="form-group">
                <label for="name" class="col-sm-2">区域</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="quyu" id="quyu" value="@item.Quyu">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="form-control" id="bt_Quyuadd" onclick="Bt_Quyuadd()">增加</button>
                </div>
            </div>
            @*备案编号*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="beianbh" value="@item.BeianBH">
                </div>
            </div>
            @*备案有效期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案有效期</label>
                <div class="col-sm-10">
                    <input type="date" id="date_beianyxq" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",item.BeianYXQ)" name="beianyxq">
                </div>
            </div>
            @*备案批准日期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案批准日期</label>
                <div class="col-sm-10">
                    <input type="date" id="date_beianpzrq" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",item.BeianPZRQ)" name="beianpzrq">
                </div>
            </div>
            @*备案发证机关*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案发证机关</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="beianfzjg" value="@item.BeianFZJG">
                </div>
            </div>
            @*备案文件*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案文件</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" name="beiantp" id="beiantp" value="@item.BeianTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="batp">
                        <a href="/files/zhengzhao/@item.BeianTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            @*首营状态*@
            <div class="form-group" style="display:none">
                <label for="name" class="col-sm-2">首营状态</label>
                <div class="col-sm-10">
                    @Html.SelectList_Common("ob_base_shouhuodanwei_shouying", "首营状态", (int)item.Shouying)
                </div>
            </div>
            @*企业地址*@
            <div class="form-group">
                <label class="col-sm-2">企业地址</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.QiyeDZ, new { @class = "form-control" })*@
                    <input type="text" class="form-control" name="qiyedz" value="@item.QiyeDZ">
                </div>
            </div>
            @*送货地址*@
            <div class="form-group">
                <label class="col-sm-2">送货地址</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.SonghuoDZ, new { @class = "form-control" })*@
                    <input type="text" readonly class="form-control" id="songhuodz" name="songhuodz" value="@item.SonghuoDZ">
                </div>
            </div>
            @*录入日期*@
            <div class="form-group">
                <label for="name" class="col-sm-2">录入日期</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@string.Format("{0:yyyy-MM-dd}",item.MakeDate)" />
                </div>
            </div>
            @*输入人*@
            <div class="form-group">
                <label for="name" class="col-sm-2">输入人</label>
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("makeman", "userinfo", "fullname", (long)item.MakeMan)*@
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)" />
                </div>
            </div>
        </div>
    </form>
    
</div>
@*收货明细列表*@
<div id="shouhuomingxi_shdw" class="container" style="height:360px;overflow:auto;">
    <table class="table" id="mydatatable">
        <caption></caption>
        <thead>
            <tr>
                <td></td>
                @*<td>收货单位</td>*@
                <td>地址</td>
                <td>联系人</td>
                <td>联系电话</td>
                @*<td>货主的销售序号</td>*@
                <td>销售人</td>
                @*<td>录入日期</td>
                    <td>输入人</td>*@
            </tr>
        </thead>

        <tbody></tbody>

    </table>
</div>
<div id="pl_Fanwei" class="panel panel-primary" hidden style="display:none;position:fixed;top:100px;left:200px;width:1100px;height:600px;z-index:999;">
    <div class="tuodong panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1090px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear">全部取消</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showdalei">显示大类</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showall">显示全部</button>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理类别</label>
            <select name="guanlifenlei" id="guanlifenlei">
                <option value="全部">全部</option>
                <option value="一类">一类</option>
                <option value="二类">二类</option>
                <option value="三类">三类</option>
            </select>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead style="display:block" class="tuodong">
                    <tr>
                        <td></td>
                        <td style="width:120px">编号</td>
                        <td style="width:80px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;width:1070px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_Quyu" class="panel panel-primary" hidden style="display:none;position:fixed;top:100px;left:200px;width:640px;height:400px;z-index:999;">
    <div class="tuodong panel-heading">
        <h3 class="panel-title">区域信息<button id="qy_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:630px;height:350px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_quyu_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="rydatatable">
                <caption></caption>
                <thead class="tuodong" style="display:table;width:100%;table-layout:fixed;width: calc( 100% - 1em )">
                    <tr style="display:table;width:100%;table-layout:fixed">
                        <td style="width:5%"></td>
                        <td style="width:15%">编号</td>
                        <td style="width:20%">名称</td>
                        <td>描述</td>
                    </tr>
                </thead>
                <tbody style="display:block;max-height:265px;width:620px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>