@using CKWMS.App_Code
@using CKWMS.Models
@model base_shengchanqiyeViewModel
@{ViewBag.Title = "生产企业添加";}
@Html.GetFileUpload("yingyezhizhaotp", "yyzz", "z", "cus", 2, 0, new Dictionary<string, string>() { { "yyzz", "yingyezhizhaotp" }, { "xktp", "shengchanxuketp" } })


<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }

        $(document).ready(function () {
            $("#YingyezhizhaoYXQ").datepicker();
            $("#ShengchanxukeYXQ").datepicker();
            $("#MakeDate").datepicker();
            document.getElementById("daima").focus();
        });

        function GetSpell() {
            $.post("/Service/GetSpellCode",
                {
                    yourwords: $("#shengcheng").val()
                },
            function (response) {
                $("#daima").text(response);
            });
        }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shengchanqiye">生产企业</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "base_shengchanqiye", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Daima)
                </div>
                <div class="col-sm-10" >
                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control",id = "daima" })
                    @*@Html.ValidationMessageFor(m => m.Daima)*@
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Qiyemingcheng)

                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Qiyemingcheng, new { @class = "form-control" , id = "shengcheng" })
                    @*@Html.ValidationMessageFor(m => m.Qiyemingcheng)*@
                </div>
                <div class="col-sm-2">
                    <button type="button" class="form-control" onclick="GetSpell()">生成代码</button>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyezhizhaoBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YingyezhizhaoBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyezhizhaoYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="YingyezhizhaoYXQ" id="YingyezhizhaoYXQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyezhizhaoTP, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="yingyezhizhaotp" id="yingyezhizhaotp">
                </div>
                @*<div class="col-sm-6">
                        @Html.TextBoxFor(m => m.YingyezhizhaoTP, new { @class = "form-control" })
                    </div>*@
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yyzz">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanxukeBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShengchanxukeBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanxukeYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShengchanxukeYXQ" id="ShengchanxukeYXQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanxukeTP, new { @class = "control-label col-sm-2" })
                @*<div class="col-sm-10">
                        @Html.TextBoxFor(m => m.ShengchanxukeTP, new { @class = "form-control" })
                    </div>*@
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="shengchanxuketp" id="shengchanxuketp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="xktp">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Shouying, new { @class = "form-control" })
                    @Html.SelectList_Common("shouying", "首营状态", 1)
                </div>
            </div>*@
            
            @*企业地址*@
            <div class="form-group">
                @Html.LabelFor(m => m.Qiyedizhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Qiyedizhi, new { @class = "form-control" })
                </div>
            </div>
            @*生产地址*@
            <div class="form-group">
                @Html.LabelFor(m => m.Shengchandizhi, new { @class = "control-labe col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Shengchandizhi, new { @class = "form-control" })
                </div>
            </div>
            @*是否合作*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.HezuoSF)
                </div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="hezuosf" value="true" checked>
                        是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="hezuosf" value="false">
                        否
                    </label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate" id="MakeDate">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)@ViewBag.userid)

                </div>
            </div>
            
        </div>
    }
</div>
