@using CKWMS.App_Code
@using CKWMS.Models
@model base_shengchanqiyeViewModel
@{
    ViewBag.Title = "生产企业修改";
}

@Html.GetFileUpload("yingyezhizhaotp", "yyzz", "z", "cus", 3, 0, new Dictionary<string, string>() { { "yyzz", "yingyezhizhaotp" }, { "xktp", "shengchanxuketp" }, { "BATP", "beiantp" } })

<script type="text/javascript">
    //function doUpload() {
    //    var formData = new FormData($("#uploadForm")[0]);
    //    var strBack = "";
    //    var strWrite = "";
    //    var strSel = $("#btnSelect").val();
    //    $.ajax({
    //        url: 'http://localhost:6446/upload/UploadOK',
    //        type: 'POST',
    //        data: formData,
    //        async: false,
    //        cache: false,
    //        contentType: false,
    //        processData: false,
    //        success: function (returndata) {
    //            strBack = returndata;
    //        },
    //        error: function (returndata) {
    //            strBack = "fail";
    //        }
    //    });
    //    switch (strBack) {
    //        case "0":
    //            strWrite = "无传送值，上传失败！";
    //            break;
    //        case "1":
    //            strWrite = "空文件，上传失败！";
    //            break;
    //        case "2":
    //            strWrite = "错误，上传失败！";
    //            break;
    //        case "3":
    //            strWrite = "文件尺寸超过4M，上传失败！";
    //            break;
    //        case "fail":
    //            strWrite = "文件太大，上传失败！";
    //            break;
    //        default:
    //            strWrite = "文件上传成功！";
    //            break;
    //    }
    //    switch (strSel) {
    //        case "picsel1":
    //            $("#yingyezhizhaotp").val(strBack);
    //            $("#zztp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
    //            break;
    //        case "picsel2":
    //            $("#shengchanxuketp").val(strBack);
    //            $("#yxtp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
    //            break;
    //        case "":
    //        default:
    //            $("#yingyezhizhaotp").val(strBack);
    //            $("#zztp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
    //            break;
    //    }
    //    alert(strWrite);
    //}

    $(document).ready(function () {
        $("#YingyezhizhaoYXQ").datepicker();
        $("#ShengchanxukeYXQ").datepicker();
        $("#MakeDate").datepicker();
        $("#BeianYXQ").datepicker();
        $("#BeianPZRQ").datepicker();
        $("#XukePZRQ").datepicker();

        $("#pl_Fanwei").hide();
        $("#pl_Fanwei").draggable();

        GetFanwei1();

        $("#bt_fanwei_showall").click(function () {
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            var fw = document.getElementsByClassName('xulieid');
            var i = $("#xukefanweidm").val();
            var ti = i.split(";");
            //ti.splice(ti.length - 1);
            var xiaolei = new Array();
            var x = 0;
            for (var k = 0; k < ti.length; k++, x = 0) {
                for (var l = 0; l < fw.length; l++) {
                    if (ti[k] == $(".xulieid").eq(l).val()) {
                        x = 1;
                    }
                }
                if (x != 1) {
                    xiaolei.push(ti[k]);
                }
            }
            for (k = 0; k < xiaolei.length; k++) {
                tempid = tempid + xiaolei[k] + ";";
            }
            tempid = tempid.substring(0, tempid.length - 1);
            GetFanwei();
            setTimeout(function () {
                var fw = document.getElementsByClassName('xulieid');
                var i = tempid;
                var t = i.split(";");
                for (var k = 0; k < t.length; k++) {
                    for (var l = 0; l < fw.length; l++) {
                        if (t[k] == $(".xulieid").eq(l).val())
                            $("#qxdatatable tr input[type=checkbox]").eq(l).attr("checked", true);
                    }
                }
            }, 500)
        });

        $("#bt_fanwei_showdalei").click(function () {
            GetFanwei1();
            setTimeout(function () {
                GetData();
            }, 500)
        });


        $("#pl_close").click(function () {
            $("#pl_Fanwei").hide();
        });
        $("#bt_fanwei_add").click(function () {
            //获取小类字符串
            var fw = document.getElementsByClassName('xulieid');
            var i = $("#xukefanweidm").val();
            var ti = i.split(";");
            //ti.splice(ti.length - 1);
            var j = $("#xukefanwei").val();
            var tj = j.split(";");
            //tj.splice(ti.length - 1);
            var xiaolei = new Array();
            var miaoshu = new Array();
            var x = 0;
            for (var k = 0; k < ti.length; k++, x = 0) {
                for (var l = 0; l < fw.length; l++) {
                    if (ti[k] == $(".xulieid").eq(l).val()) {
                        x = 1;
                    }
                }
                if (x != 1) {
                    xiaolei.push(ti[k]);
                    miaoshu.push(tj[k]);
                }
            }

            var _jyfw = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('xulieid');
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                    _jyfwjm = _jyfwjm + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            for (k = 0; k < xiaolei.length; k++) {
                _jyfwjm = _jyfwjm + xiaolei[k] + ";";
            }
            _jyfwjm = _jyfwjm.substring(0, _jyfwjm.length - 1);
            for (k = 0; k < miaoshu.length; k++) {
                _jyfw = _jyfw + miaoshu[k] + ";";
            }
            _jyfw = _jyfw.substring(0, _jyfw.length - 1);
            var _addok = confirm("确定要修改经营范围吗？");
            if (_addok) {
                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#xukefanwei").val(_jyfw);
                    $("#xukefanweidm").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                }
            }
            GetFanwei1();
        });
    });

    //经营范围
    function Bt_Fanweiadd() {
        GetData();
        $("#pl_Fanwei").show();
    }
    function bt_fanwei_all() {
        $(".xulieid").prop("checked", true);
    }

    function bt_fanwei_clear() {
        $(".xulieid").prop("checked", false);
    }
    function GetFanwei1() {
        //var _qxmlid = $("#qxml").val();
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
        //GetData();
    }

    function GetFanwei() {
        //var _qxmlid = $("#qxml").val();
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
    }

    function GetData() {
        var fw = document.getElementsByClassName('xulieid');
        var i = $("#xukefanweidm").val();
        var t = i.split(";");

        //$(".bh").siblings().children().find(".checkbox").attr("checked", true);
        //$("input:checkbox").eq(2).attr("checked", true);
        //alert($(".bh").eq(0).text());
        //document.getElementById('checkbox').checked = true
        //$('.checkbox1').attr("checked",true);

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < fw.length; l++) {
                if (t[k] == $(".xulieid").eq(l).val())
                    $("#qxdatatable tr input[type=checkbox]").eq(l).attr("checked", true);
            }
        }
    }

    function FenLei() {
        var fw = document.getElementsByClassName('xulieid');
        var i = $("#xukefanweidm").val();
        var ti = i.split(";");
        ti.splice(ti.length - 1);
        var j = $("#xukefanwei").val();
        var tj = j.split(";");
        tj.splice(ti.length - 1);
        var xiaolei = new Array();
        var miaoshu = new Array();
        var hh = "";
        var x = 0;
        for (var k = 0; k < ti.length; k++, x = 0) {
            for (var l = 0; l < fw.length; l++) {
                if (ti[k] == $(".xulieid").eq(l).val()) {
                    x = 1;
                }
            }
            if (x != 1) {
                xiaolei.push(ti[k]);
                miaoshu.push(tj[k]);
            }
        }
    }
    function bt1() {
        $("#btnSelect").val("picsel1");
    }
    function bt2() {
        $("#btnSelect").val("picsel2");
    }

    function GetSpell() {
        $.post("/Service/GetSpellCode",
            {
                yourwords: $("#shengcheng").val()
            },
        function (response) {
            $("#daima").val(response);
        });
    }
</script>
<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title center" id="myModalLabel">
                    <i class="icon-file blue"></i><span class="large">
                        文件上传
                    </span>
                </h3>
            </div>
            <div class="modal-body center">
                <form id="uploadForm">
                    <input type="hidden" name="uploadtype" id="uploadtype" value="z" />
                    <input type="hidden" name="uploaditemName" id="uploaditemName" value="gys_@ViewData.Model.ID" />
                    <div class="form-group">
                        <input type="file" name="file" />
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="确 定" onclick="doUpload()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shengchanqiye">生产企业</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Update", "base_shengchanqiye", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Daima)
                </div> 
                <div class="col-sm-10" >
                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control",id = "daima" })
                    @*@Html.ValidationMessageFor(m => m.Daima)*@
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Qiyemingcheng)

                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Qiyemingcheng, new { @class = "form-control" , id = "shengcheng" })
                    @*@Html.ValidationMessageFor(m => m.Qiyemingcheng)*@
                </div>
                <div class="col-sm-2">
                    <button type="button" class="form-control" onclick="GetSpell()">生成代码</button>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyezhizhaoBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YingyezhizhaoBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyezhizhaoYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="YingyezhizhaoYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.YingyezhizhaoYXQ)" id="YingyezhizhaoYXQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyezhizhaoTP, new { @class = "control-label col-sm-2" })
                @*<div class="col-sm-10">
                        @Html.TextBoxFor(m => m.YingyezhizhaoTP, new { @class = "form-control" })
                    </div>*@
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="yingyezhizhaotp" id="yingyezhizhaotp" value="@ViewData.Model.YingyezhizhaoTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="bt1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span id="zztp" class="form-control">
                        <a href="/files/zhengzhao/@ViewData.Model.YingyezhizhaoTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanxukeBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShengchanxukeBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanxukeYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ShengchanxukeYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ShengchanxukeYXQ)" id="ShengchanxukeYXQ">
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ShengchanxukeTP, new { @class = "control-label col-sm-2" })
                    @*<div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ShengchanxukeTP, new { @class = "form-control" })
                        </div>*@
                    <div class="col-sm-6">
                        <input type="text" class="form-control" readonly id="shengchanxuketp" name="shengchanxuketp" value="@ViewData.Model.ShengchanxukeTP">
                    </div>
                    <div class="col-sm-2">
                        <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="bt2()">上传</button>
                    </div>
                    <div class="col-sm-2">
                        <span class="form-control" id="yxtp">
                            <a href="/files/zhengzhao/@ViewData.Model.ShengchanxukeTP" target="_blank">浏览</a>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.XukePZRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.XukePZRQ)" name="XukePZRQ" id="XukePZRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.XukeFZJG, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.XukeFZJG, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(m => m.Xukefanwei, new { @class = "control-label" })<br />
                    <button type="button" class="icon-edit" id="bt_Fanweiadd" onclick="Bt_Fanweiadd()">修改</button>
                </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Xukefanwei, new { @class = "form-control", id = "xukefanwei", @readonly = true, rows = "3" })
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(m => m.XukefanweiDM, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.XukefanweiDM, new { @class = "form-control", id = "xukefanweidm" })
                </div>
            </div>
            
        
            

            @*新增*@           
            <div class="form-group">
                @Html.LabelFor(m => m.BeianBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BeianBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BeianYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.BeianYXQ)" name="BeianYXQ" id="BeianYXQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BeianPZRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.BeianPZRQ)" name="BeianPZRQ" id="BeianPZRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BeianFZJG, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BeianFZJG, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BeianTP, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="beiantp" id="beiantp" value="@ViewData.Model.BeianTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="BATP">
                        <a href="/files/zhengzhao/@ViewData.Model.BeianTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
         @*企业地址*@
        <div class="form-group">
            @Html.LabelFor(m => m.Qiyedizhi, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Qiyedizhi, new { @class = "form-control" })
            </div>
        </div>
        @*生产地址*@
        <div class="form-group">
            @Html.LabelFor(m => m.Shengchandizhi, new { @class = "control-labe col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Shengchandizhi, new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10" readonly>
                    @*@Html.TextBoxFor(m => m.Shouying, new { @class = "form-control" })*@
                    @Html.SelectList_Common("shouying", "首营状态", (int)ViewData.Model.Shouying)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.HezuoSF)
                </div>
                @*<div>
                <label class="radio-inline">
                    <input type="radio" name="hezuosf" value="true" checked>
                    是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="hezuosf" value="false">
                    否
                </label>
            </div>*@
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.HezuoSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShenchaSF)
                </div>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.ShenchaSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="MakeDate" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" id="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewData.Model.MakeMan)
                </div>
            </div>
        </div>
    }
</div>

<div id="pl_Fanwei" class="panel panel-primary " style="position:fixed;top:100px;left:200px;width:1100px;height:600px;z-index:999">
    <div class="panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1080px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all" onclick="bt_fanwei_all()">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear" onclick="bt_fanwei_clear()">全部取消</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showdalei">显示大类</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showall">显示全部</button>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead>
                    <tr style="display:block">
                        <td></td>
                        <td style="width:120px">编号</td>
                        <td style="width:80px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;width:1070px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>
