@using CKWMS.App_Code
@using CKWMS.Models
@model wms_chukudanViewModel
@{ViewBag.Title = "出库单添加";}
<script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            $("#pl_cy_close").click(function () {
                $("#pl_cy").hide();
            });
            $("#selyq").click(function () {
                $("#pl_cy").show();
            });
            $("#ChukuRQ").datepicker();
            $("#pl_dz_close").click(function () {
                $("#pl_dizhi").hide();
            });
            $("#seladdr").click(function () {
                $("#pl_dizhi").show();
            });
            $("#HuozhuID").change(function () {
                var _selval = $(this).find("option:selected").val();
                if (eval(_selval) == 0) {
                    $("#huozhuid").val(0);
                    return;
                }
                $("#huozhuid").val(_selval);
                //GetCust(_selval);
                GetCustPanel(_selval);
            });
            $("#dt_cust tbody").on("dblclick", "tr", function () {
                var _sr = $(this);
                var _cid = _sr.find("input").val();
                var _cnm = _sr.find("td").eq(1).html();
                $("#KehuMC").val(_cnm);
                $("#kehuid").val(_cid);
                $("#khmc").val(_cnm)
            });
            $("#pl_cust").draggable({ handle: ".panel-heading" }, { containment: "parent" });
            $("#pl_cust_close").click(function () {
                $("#pl_cust").hide();
            });
            $("#selcust").click(function () {
                $("#pl_cust").show();
            });
            $("#dt_cust tbody").on("dblclick", "tr", function () {
                var _selval = $(this).find("input").val();
                var _seltxt = $(this).find("td").eq(1).html();
                var _seladdr = $(this).find("td").eq(2).html();
                var _sellxr = $(this).find("td").eq(3).html();
                var _seldh = $(this).find("td").eq(4).html();
                if (eval(_selval) == 0) {
                    $("#kehuid").val(0);
                    $("#khmc").val("");
                    $("#Yunsongdizhi").val("");
                    $("#Lianxiren").val("");
                    $("#LianxiDH").val("");
                    return;
                }
                $("#kehuid").val(_selval);
                $("#khmc").val(_seltxt);
                $("#Yunsongdizhi").val(_seladdr);
                $("#Lianxiren").val(_sellxr);
                $("#LianxiDH").val(_seldh);
                GetCustAddr(_selval);
                $("#pl_cust").hide();
            });
            $("#pl_cy").draggable({ handle: ".panel-heading" });
            $("#dt_cy").on("dblclick", "tr", function () {
                $("#ChunyunYQ").val($(this).find("td").eq(1).html());
                $("#pl_cy").hide();
            });
            $("#selkh").change(function () {
                var _selval = $(this).find("option:selected").val();
                var _seltxt = $(this).find("option:selected").text();
                if (eval(_selval) == 0) {
                    $("#kehuid").val(0);
                    $("#khmc").val("");
                    return;
                }
                $("#kehuid").val(_selval);
                $("#khmc").val(_seltxt);
                GetCustAddr(_selval);
            });
            $("#dt_dz tbody").on("dblclick", "tr", function () {
                $("#Yunsongdizhi").val($(this).find("td").eq(1).html());
                $("#pl_dizhi").hide();
            });
            $("#pl_dizhi").draggable({ handle: ".panel-heading" });
        });
        function GetCustAddr(_sh) {
            if (_sh != null) {
                var _dz = "";
                $.post("/base_shouhuomingxi/GetMingxiDetail",
                    {
                        shdw_id: _sh
                    },
                    function (data) {
                        if (data != "") {
                            for (var i in data) {
                                _dz = _dz + '<tr><td>';
                                _dz = _dz + data[i].Mingcheng;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].Dizhi;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].Lianxiren;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].Lianxidianhua;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].Xiaoshouren;
                                _dz = _dz + '</td></tr>';
                            }
                        }
                        $("#dt_dz tbody").html(_dz);
                    });
            }
        }
        function GetCustPanel(_hz) {
            if (_hz != null) {
                var _dz = "";
                $.post("/base_shouhuodanwei/getcust",
                    { hz: _hz },
                    function (data) {
                        if (data != -1) {
                            for (var i in data) {
                                _dz = _dz + '<tr><td><label><input type="checkbox" class ="checkbox" value="';
                                _dz = _dz + data[i].ID;
                                _dz = _dz + '"></label></td><td>';
                                _dz = _dz + data[i].Mingcheng;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].SonghuoDZ;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].Lianxiren;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].LianxiDH;
                                _dz = _dz + '</td><td>';
                                _dz = _dz + data[i].Jingyinfanwei;
                                _dz = _dz + '</td></tr>';
                            }
                            $("#dt_cust tbody").html(_dz);
                        }
                    });
            }
        }
        function GetCust(_hz) {
            if (_hz != null) {
                var _opt = '<option value="0"></option>';
                $.post("/base_shouhuodanwei/getcust",
                    { hz: _hz },
                    function (data) {
                        if (data != -1) {
                            for (var i in data) {
                                _opt = _opt + '<option value="' + data[i].ID + '">' + data[i].Mingcheng + '</option>';
                            }
                            $("#selkh").html(_opt);
                        }
                    });
            }
        }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_chukudan/outoperate">出库操作</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "wms_chukudan", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="huozhuid" />
        <input type="hidden" name="KehuID" id="kehuid" />
        <input type="hidden"  name="JihuaZT" id="JihuaZT" value="1" />
        <input type="hidden" id="khmc" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.ChukudanBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ChukudanBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YewuLX, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.YewuLX, new { @class = "form-control" })*@
                    @Html.SelectList_Common("YewuLX", "出库类型")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.HuozhuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.HuozhuID, new { @class = "form-control" })*@
                    @Html.SelectList_Auto("HuozhuID", "货主", "名称")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KehuMC, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.KehuMC, new { @class = "form-control"})
                    @*<select id="selkh" class="form-control"></select>*@
                </div>
                <div class="col-sm-2">
                    <p id="selcust" class="form-control blue">选择</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Yunsongdizhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Yunsongdizhi, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <p id="seladdr" class="form-control blue">选择</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CKID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("CKID", "仓库", "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChukuRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="ChukuRQ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ChukuRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KehuDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.KehuDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChunyunYQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ChunyunYQ, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <p id="selyq" class="form-control blue">常用</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BaoshuiSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.BaoshuiSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FuheSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.FuheSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JianguanSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.JianguanSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KefuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.KefuID, new { @class = "form-control" })*@
                    @Html.SelectList_Auto("KefuID", "userinfo", "fullname")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LianxiDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LianxiDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChukuTM, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ChukuTM, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BaifangQY, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BaifangQY, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Jianhuoren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.Jianhuoren, new { @class = "form-control" })*@
                    @Html.SelectList_Auto("Jianhuoren", "userinfo", "fullname")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JihuaZT, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.JihuaZT, new { @class = "form-control" })*@
                    @*@Html.SelectList_Common("JihuaZT", "出库状态")*@
                    <input type="text" readonly class="form-control" value='@Html.GetCommonValue_ID("出库状态",1)' />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname",(long)ViewBag.userid)
                </div>
            </div>
        </div>
    }
</div>
<div id="pl_dizhi" class="panel panel-primary" style="display:none;position:absolute;top:50px;left:100px;width:500px;height:400px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">请选择地址<button id="pl_dz_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-condensed" id="dt_dz">
                <caption></caption>
                <thead>
                    <tr>
                        <td>名称</td>
                        <td>地址</td>
                        <td>联系人</td>
                        <td>电话</td>
                        <td>销售</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_cy" class="panel panel-primary" style="display:none;position:fixed;top:250px;left:200px;width:300px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">常用储运条件<button id="pl_cy_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-condensed" id="dt_cy">
                <caption></caption>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>储运条件</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var cy in MvcApplication.TranCondition)
                    {
                        <tr>
                            <td>@cy.Key</td>
                            <td>@cy.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_cust" class="panel panel-primary" style="display:none;position:fixed;top:50px;left:100px;width:600px;z-index:999;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">请选择客户<button id="pl_cust_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" style="width:580px;height:360px;overflow:auto;">
        <div class="row">
            <table class="table table-condensed" id="dt_cust">
                <caption></caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>名称</td>
                        <td>地址</td>
                        <td>联系人</td>
                        <td>电话</td>
                        <td>经营范围</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
