@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "出库操作";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("click", function () {
            //var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/wms_chukudan/Edit/" + u_id;
            //    location.href = url_go;
            //}
            $(this).addClass("blue");
        });
        $("#bt_Express").click(function () {
            var sDel = "";
            $("#mydatatable tbody tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    sDel = sDel + ", " + $(this).val()
                }
            });
            if (sDel.length < 2)
                return;
            window.open("/wms_chukudan/expressexport?ck="+sDel, "_blank");
        });
        $("#bt_over").click(function () {
            var sDel = "";
            $("#mydatatable tbody tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    sDel = sDel + ", " + $(this).val()
                }
            });
            if (sDel.length < 2)
                return;
            //$.post("/wms_chukudan/outfinish", { ck: sDel }, function (data) {
            //    if (data == -1)
            //        alert("操作失败，请联系管理员！");
            //    else
            //        location.reload();
            //});
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_chukudan/outfinish",
                data: {
                    ck: sDel
                },
                success: function (data) {
                    if (data == -1)
                        alert("操作失败，请联系管理员！");
                    else if(data==-2)
                    {
                        alert("系统出现错误，请立即通知管理员！");
                        location.reload();
                    }
                    else
                        location.reload();
                }
            });

        });
        //随货同行单打印
        $("#mydatatable").on("click", ".outOperateid", function () {
            var outOperateid = $(this).find(".input_outOperateid").val();
            var huozhuid = $(this).parent().find(".huozhuid").text();
            if (huozhuid == "嘉事国润") {
                window.open("/wms_chukudan/PrintJSGRTongxing?out=" + outOperateid);
            } else {
                window.open("/wms_chukudan/PrintTongxing?out=" + outOperateid);
            }
        });
        $(".icon-bookmark-empty").click(function () {
            var _selv = $(this).parent().parent().find("input[type=checkbox]");
            $("#ck").val(_selv.val());
            if (_selv.data("ys") == "")
                $("#YunsongFS").val(1);
            else
                $("#YunsongFS").val(_selv.data("ys"));
            if (_selv.data("kd") == "")
                $("#Kuaidi").val(1);
            else
                $("#Kuaidi").val(_selv.data("kd"));
            $("#ydhm").val(_selv.data("dh"));
            if (_selv.data("js") == "")
                $("#JiesuanFS").val(1);
            else
                $("#JiesuanFS").val(_selv.data("js"));
            $("#pl_kd").show();
        });
        $("#pl_kd_close").click(function () {
            $("#pl_kd").hide();
            $("#YunsongFS").val(0);
            $("#Kuaidi").val(0);
            $("#ydhm").val("");
            $("#JiesuanFS").val();
        });
        $("#pl_kd_cancel").click(function () {
            $("#pl_kd").hide();
            $("#YunsongFS").val(0);
            $("#Kuaidi").val(0);
            $("#ydhm").val("");
            $("#JiesuanFS").val();
        });
        $("#pl_kd_ok").click(function () {
            if ($("#ydhm").val() == "") {
                alert("请录入运单编号后保存！");
                return;
            }
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_chukudan/expressadd",
                data: {
                    ck: $("#ck").val(),
                    ys: $("#YunsongFS").val(),
                    kd: $("#Kuaidi").val(),
                    dh: $("#ydhm").val(),
                    js: $("#JiesuanFS").val()
                },
                success: function (data) {
                    if (data == -1)
                        alert("操作失败，请联系管理员！");
                    else {
                        //alert("添加快递单成功！");
                        $("#pl_kd").hide();
                        //location.reload();
                        $("#mydatatable tbody tr input[type=checkbox]").each(function () {
                            if ($(this).val() == $("#ck").val()) {
                                $(this).data("dh", $("#ydhm").val());
                                $(this).data("js", $("#JiesuanFS").val());
                                $(this).data("ys", $("#YunsongFS").val());
                                $(this).data("kd", $("#Kuaidi").val());
                            }
                        });

                    }
                }
            });
        });
        $("#pl_kd").draggable({ handle: ".panel-heading" });
        $(".icon-edit-sign").click(function () {
            var _selv = $(this).parent().parent().find("input[type=checkbox]");
            var _hz = _selv.data("hz");
            $("#ck").val(_selv.val());
            $("#hz").val(_hz);
            $("#kh").val(_selv.data("kh"));
            $("#dt_xz tbody").html("");
            GetCustStore(_hz);
            $("#pl_xz").show();
        });
        $("#pl_search").click(function () {
            $("#dt_xz tbody").html("");
            GetCustStore($("#hz").val());
        });
        $("#pl_xz_close").click(function () {
            $("#pl_xz").hide();
        });
        $("#dt_xz tbody").on("blur", "input", function () {
            var _sr = $(this).parent().parent();
            var _ch = _sr.find("td").eq(3).html();
            var _sd = _sr.find("td").eq(4).html();
            try {
                var _vcc = 0;
                //$.ajax({
                //    type: "post",
                //    url: "/wms_chukumx/ValidateCustCargo",
                //    data: { cust: $("#kh").val(), cargo: $(this).data("sp") },
                //    async: false,
                //    success: function (data) {
                //        _vcc = data;
                //        if (eval(data) == -1)
                //            return -1;
                //        else
                //            return 1;
                //    }
                //});

                //if (_vcc == -1) {
                //    $(this).val(0);
                //    $(this).attr("readonly", "true");
                //}
                //else {
                //    if (eval($(this).val()) > eval(_ch) - eval(_sd))
                //        $(this).val(eval(_ch) - eval(_sd));
                //}
                if (eval($(this).val()) > eval(_ch) - eval(_sd))
                    $(this).val(eval(_ch) - eval(_sd));
            } catch (ex) {
                $(this).val(eval(_ch) - eval(_sd));
            }
        });
        $("#pl_xlm").draggable({ handle: ".panel-heading" }, { containment: "parent" });
        $("#pl_xlm_close").click(function () {
            $("#pl_xlm").hide();
        })
        $("#pl_xlm_cancel").click(function () {
            $("#pl_xlm").hide();
        });
        $("#pl_xlm_check").click(function () {
            $("#totalnum").html(0);
            getCount();
        });
        $("#pl_xlm_ok").click(function () {
            //alert($("#xlm").val());
            //$.post("/wms_chukuxlm/addxlm",
            //    {
            //        xlm: $("#xlm").val(),
            //        ckd: $("#ckd").val(),
            //        ck: $("#ck").val()
            //    }, function (data) {
            //        if (data == -1)
            //            alert("导入序列码失败，请与管理员联系！");
            //        $("#pl_xlm").hide();
            //    });
            $("#pl_xlm").hide();
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_chukuxlm/addxlm",
                data: {
                    xlm: $("#xlm").val(),
                    ckd: $("#ckd").val(),
                    ck: $("#ck").val()
                },
                success: function (data) {
                    if (data == -1)
                        alert("导入序列码失败，请与管理员联系！");
                }
            });

        });
        $("#pl_xlm_clear").click(function () {
            $("#xlm").val("");
            $("#totalnum").html("0");
        });
        $(".icon-barcode").click(function () {
            var _sr = $(this).parent().parent();
            $("#ck").val(_sr.find("input[type=checkbox]").val());
            $("#ckd").val(_sr.find("td").eq(1).html());
            $("#xlm").val("");
            $("#totalnum").html("0");
            $("#pl_xlm").show();
        });
        $("#pl_ok").click(function () {
            var _sval = "";
            $("#dt_xz tbody tr").each(function () {
                var _sv = $(this).find("input");
                if (eval(_sv.val()) > 0) {
                    _sval = _sval + _sv.data("sp") + "$" + _sv.val() + "$"
                        + $(this).find("td").eq(1).html() + "$" + $(this).find("td").eq(2).text()
                    + "$" + $(this).find("td").eq(5).html() + "$" + $(this).find("td").eq(6).text()
                    + "$" + $(this).find("td").eq(7).text() + "$" + $(this).find("td").eq(8).text()
                    + "$" + $(this).find("td").eq(9).html() + "$" + $(this).find("td").eq(10).html()
                    + "$" + $(this).find("td").eq(11).html() + "$" + $(this).find("td").eq(12).html()
                    + "$" + $(this).find("td").eq(13).html() + "$" + $(this).find("td").eq(14).text()
                    + "$" + $(this).find("td").eq(15).html() + "$" + $(this).find("td").eq(16).html()
                    + "$" + _sv.data("zl") + "$" + _sv.data("jz") + "$" + _sv.data("tj")
                    + "$" + _sv.data("jf") + "$" + _sv.data("zt") + "$" + $(this).find("td").eq(3).html() + ";";
                }
            });
            AddCargo(_sval);
        });
        $("#pl_xz").draggable({ handle: ".panel-heading" });
        $("#dt_xz tbody").on("dblclick", "tr", function () {
            var _ch = $(this).find("td").eq(3).html();
            var _sd = $(this).find("td").eq(4).html();
            var _kh = $("#kh").val();
            var _sv = $(this).find("input");
            var _sp = _sv.data("sp");
            var _vs = 0;
            $.ajax({
                type: "post",
                url: "/wms_chukumx/ValidateCustCargo",
                data: { cust: $("#kh").val(), cargo: _sp },
                async: false,
                success: function (data) {
                    _vs = data;
                    if (eval(data) == -1)
                        return -1;
                    else
                        return 1;
                }
            });
            if (_vs == -1) {
                _sv.attr("readonly", "true");
            } else {
                _sv.val(eval(_ch) - eval(_sd));
            }
        });
    });
    function getCount() {
        var p = $("#xlm").val();
        var pp = p.split("\n");
        $("#totalnum").html(pp.length-1);
        for (var k in pp) {
            var ps = pp[k];
            if (ps.length > 0) {
                for (var j in pp) {
                    if (j > k) {
                        if (ps == pp[j])
                            alert(ps);
                    }
                }
            }
        }
        //alert((p.split()).length);
    }
    function AddInfo() {
        location.href = "/wms_chukudan/Add";
    }
    function AddCargo(_cargo) {
        if (_cargo != null) {
            //$.post("/wms_chukumx/addcargos",
            //    {
            //        cargos: _cargo,
            //        ck: $("#ck").val()
            //    },
            //    function (data) {
            //        if (data != 1)
            //            alert("添加出库货品失败，请重新选择!");
            //        else
            //            alert("出库商品添加成功！");
            //            //$("#pl_xz").hide();
            //    });
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_chukumx/addcargos",
                data: {
                    cargos: _cargo,
                    ck: $("#ck").val()
                },
                success: function (data) {
                    if (data != 1)
                        alert("添加出库货品失败，请重新选择!");
                    else
                        alert("出库商品添加成功！");
                }
            });

        }
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/wms_chukudan/Edit/" + $(this).val();
        });
    }
    function ValidCustCargo(_sp) {
        if (_sp != null) {
            if (eval(_sp) == 0) {
                return -1;
            }
            $.post("/wms_chukumx/ValidateCustCargo", { cust: $("#kh").val(), cargo: _sp }, function (data) {
                if (eval(data) == -1)
                    return -1;
                else
                    return 1;
            });
        }
        return -1;
    }
    function GetCustStore(_cust) {
        var filltable = "";
        if (_cust == null)
            return;
        $.ajax({
            async: true,
            beforeSend: function () {
                ShowWait();
            },
            complete: function () {
                HiddenWait();
            },
            type: "POST",
            url: "/wms_cunhuo/getcuststoregood",
            data: {
                cust: _cust,
                mc: $("#mc").val(),
                gg: $("#gg").val(),
                ph: $("#ph").val()
            },
            success: function (data) {
                if (data != -1) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><input type="number" size="5" value="0" data-sp="';
                        filltable = filltable + data[i].ShangpinID;
                        filltable = filltable + '" data-zt="';
                        filltable = filltable + data[i].CunhuoZT;
                        filltable = filltable + '" data-zl="';
                        filltable = filltable + data[i].zl;
                        filltable = filltable + '" data-jz="';
                        filltable = filltable + data[i].jz;
                        filltable = filltable + '" data-tj="';
                        filltable = filltable + data[i].tj;
                        filltable = filltable + '" data-jf="';
                        filltable = filltable + data[i].jfd;
                        filltable = filltable + '"/></td><td>';
                        filltable = filltable + data[i].ShangpinDM;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].ShangpinMC;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].chsl;
                        filltable = filltable + '</td><td>';
                        if (data[i].sdsl != null)
                            filltable = filltable + data[i].sdsl;
                        else
                            filltable = filltable + '0';
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].JibenDW;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Guige;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Zhucezheng;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Pihao;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Xuliema;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].BaozhuangDW;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Huansuanlv;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Changjia;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Chandi;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].ShangpinTM;
                        filltable = filltable + '</td><td>';
                        if (eval(data[i].CunhuoZT) == 0)
                            filltable = filltable + '';
                        if (eval(data[i].CunhuoZT) == 1)
                            filltable = filltable + '正常';
                        if (eval(data[i].CunhuoZT) == 2)
                            filltable = filltable + '破损';
                        if (eval(data[i].CunhuoZT) == 3)
                            filltable = filltable + '污染';
                        if (eval(data[i].CunhuoZT) == 4)
                            filltable = filltable + '渗漏';
                        if (eval(data[i].CunhuoZT) == 5)
                            filltable = filltable + '其它';
                        filltable = filltable + '</td></tr>';
                    }
                }
                $("#dt_xz tbody").html(filltable);
            }
        });
        //$.post("/wms_cunhuo/getcuststoregood",
        //    {
        //        cust: _cust,
        //        mc: $("#mc").val(),
        //        gg: $("#gg").val(),
        //        ph: $("#ph").val()
        //    },
        //    function (data) {
        //        if (data != -1) {
        //            for (var i in data) {
        //                filltable = filltable + '<tr><td><input type="number" size="5" value="0" data-sp="';
        //                filltable = filltable + data[i].ShangpinID;
        //                filltable = filltable + '" data-zt="';
        //                filltable = filltable + data[i].CunhuoZT;
        //                filltable = filltable + '" data-zl="';
        //                filltable = filltable + data[i].zl;
        //                filltable = filltable + '" data-jz="';
        //                filltable = filltable + data[i].jz;
        //                filltable = filltable + '" data-tj="';
        //                filltable = filltable + data[i].tj;
        //                filltable = filltable + '" data-jf="';
        //                filltable = filltable + data[i].jfd;
        //                filltable = filltable + '"/></td><td>';
        //                filltable = filltable + data[i].ShangpinDM;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].ShangpinMC;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].chsl;
        //                filltable = filltable + '</td><td>';
        //                if (data[i].sdsl != null)
        //                    filltable = filltable + data[i].sdsl;
        //                else
        //                    filltable = filltable + '0';
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].JibenDW;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Guige;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Zhucezheng;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Pihao;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Xuliema;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].BaozhuangDW;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Huansuanlv;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Changjia;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].Chandi;
        //                filltable = filltable + '</td><td>';
        //                filltable = filltable + data[i].ShangpinTM;
        //                filltable = filltable + '</td><td>';
        //                if (eval(data[i].CunhuoZT) == 0)
        //                    filltable = filltable + '';
        //                if (eval(data[i].CunhuoZT) == 1)
        //                    filltable = filltable + '正常';
        //                if (eval(data[i].CunhuoZT) == 2)
        //                    filltable = filltable + '破损';
        //                if (eval(data[i].CunhuoZT) == 3)
        //                    filltable = filltable + '污染';
        //                if (eval(data[i].CunhuoZT) == 4)
        //                    filltable = filltable + '渗漏';
        //                if (eval(data[i].CunhuoZT) == 5)
        //                    filltable = filltable + '其它';
        //                filltable = filltable + '</td></tr>';
        //            }
        //        }
        //        $("#dt_xz tbody").html(filltable);
        //    });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_chukudan/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "HuozhuID";
        scm.ItemTitle = "货主序号";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "HuozhuID";
            scm.ItemTitle = "货主序号";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">出库操作</li>
    </ul>
</div>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "出库单_条件组合查询", "/wms_chukudan/index", "wms_chukudanindex", scms)
    <div class="page-header">
        <input type="hidden" id="hz" />
        <input type="hidden" id="kh" />
        <input type="hidden" id="ck" />
        <input type="hidden" id="ckd" />
        <p>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            @*<button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>*@
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_over"><i class="icon-ok"></i>完成</button>
            <button type="button" class="btn btn-default " id="bt_Express"><i class="icon-file"></i>快递导出</button>
        </p>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>出库编号</td>
                    <td>货主</td>
                    <td>客户名称</td>
                    <td>送货地址</td>
                    <td>出库日期</td>
                    <td>储运要求</td>
                    <td>客户单号</td>
                    <td>运单编号</td>
                    <td>状态</td>
                    <td>备注</td>
                    <td>录入</td>
                    <td>列表</td>
                    <td>选货</td>
                    <td>拣货</td>
                    <td>复核</td>
                    <td>序列</td>
                    <td>快递</td>
                    <td>详单</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_chukudan)
                {
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" value="@item.ID"
                                       data-hz="@item.HuozhuID"
                                       data-ly="@item.XinxiLY"
                                       data-lx="@item.YewuLX"
                                       data-kh="@item.KehuID"
                                       data-fh="@item.FuheSF"
                                       data-jg="@item.JianguanSF"
                                       data-jh="@item.JihuaID"
                                       data-kd="@item.Kuaidi"
                                       data-ys="@item.YunsongFS"
                                       data-js="@item.JiesuanFS"
                                       data-dh="@item.KDdanhao"
                                       data-tel="@item.LianxiDH"
                                       data-man="@item.Lianxiren"
                                       data-addr="@item.Yunsongdizhi">
                            </label>
                        </td>
                        <td>@item.ChukudanBH</td>
                        <td class="huozhuid">@Html.GetDataValue_ID("货主", "简称", (int)item.HuozhuID)</td>
                        <td>@item.KehuMC</td>
                        <td>@item.Yunsongdizhi</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ChukuRQ == null ? "" : item.ChukuRQ)</td>
                        <td>@item.ChunyunYQ</td>
                        <td>@item.KehuDH</td>
                        <td>@item.KDdanhao</td>
                        <td>@Html.GetCommonValue_ID("出库状态", (int)item.JihuaZT)</td>
                        <td title="@item.Beizhu">@string.Format("{0:s}", item.Beizhu == null ? "" : item.Beizhu.Length > 12 ? item.Beizhu.Substring(0, 12) : item.Beizhu)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                        <td><a href="/wms_chukumx/GetOutDetail/@item.ID" target="_blank"><i class="icon-list"></i></a></td>
                        <td><i class="icon-edit-sign"></i></td>
                        <td><a href="/wms_jianhuo/getpickdetailbyout?out=@item.ID" target="_blank"><i class="icon-hand-up"></i></a></td>
                        <td><a href="/quan_chukufh/outinventorycheck/@item.ID" target="_blank"><i class="icon-check"></i></a></td>
                        <td><i class="icon-barcode"></i></td>
                        <td><i class="icon-bookmark-empty"></i></td>
                        <td class="outOperateid"><i class="icon-print"><input type="hidden" class="input_outOperateid" value="@item.ID" /></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("OutOperate", new { page }))
    </div>
</div>
<div id="pl_xz" class="panel panel-primary" style="display:none;position:fixed;top:50px;left:50px;width:1200px;height:600px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">当前可用库存<button id="pl_xz_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <div class="col-sm-1"><label>名称</label></div>
            <div class="col-sm-1"><input type="text" id="mc" size="12" /></div>
            <div class="col-sm-1"><label>批号</label></div>
            <div class="col-sm-1"><input type="text" id="ph" size="12" /></div>
            <div class="col-sm-1"><label>规格</label></div>
            <div class="col-sm-1"><input type="text" id="gg" size="12" /></div>
            <div class="col-sm-3"><p class="btn default" id="pl_search"><i class="icon-search"></i>查询</p></div>
            <div class="col-sm-3"><p class="btn default" id="pl_ok"><i class="icon-ok"></i>添加</p></div>

        </div>
        <div class="row" style="width:1190px;height:500px;overflow:auto">
            <table class="table table-condensed" id="dt_xz">
                <caption></caption>
                <thead>
                    <tr>
                        <td width="20px">出库</td>
                        <td>代码</td>
                        <td>商品</td>
                        <td>库存</td>
                        <td>锁定</td>
                        <td>单位</td>
                        <td>规格</td>
                        <td>注册证</td>
                        <td>批号</td>
                        <td>生产日期</td>
                        <td>失效日期</td>
                        <td>序列码</td>
                        <td>包装单位</td>
                        <td>换算率</td>
                        <td>厂家</td>
                        <td>产地</td>
                        <td>条码</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody style="overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_xlm" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:200px;width:500px;height:500px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">登记出库单的序列码<button id="pl_xlm_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="col-sm-4"><p>总数：<label id="totalnum"></label></p></div>
            <div class="col-sm-2">
                <p class="btn default" id="pl_xlm_check"><i class="icon-check-minus"></i>复核</p>                
            </div>
            <div class="col-sm-2"><p class="btn default" id="pl_xlm_clear"><i class="icon-ok"></i>清除</p></div>
            <div class="col-sm-2"><p class="btn default" id="pl_xlm_ok"><i class="icon-ok"></i>确定</p></div>
            <div class="col-sm-2"><p class="btn default" id="pl_xlm_cancel"><i class="icon-search"></i>取消</p></div>
        </div>
        <div class="center">
            <textarea id="xlm" style="width:480px;height:400px;overflow:auto"></textarea>
        </div>
    </div>
</div>
<div id="pl_kd" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:200px;width:400px;height:300px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">快递登记<button id="pl_kd_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <div class="col-sm-6"><p class="btn default" id="pl_kd_ok"><i class="icon-ok"></i>保存</p></div>
            <div class="col-sm-6"><p class="btn default" id="pl_kd_cancel"><i class="icon-search"></i>取消</p></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3">运送方式</label>
                <div class="col-sm-9">
                    @Html.SelectList_Common("YunsongFS", "运送方式")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">运输公司</label>
                <div class="col-sm-9">
                    @Html.SelectList_Auto("Kuaidi", "运输公司", "简称")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">运单编号</label>
                <div class="col-sm-9">
                    <input type="text" id="ydhm" name="KDdanhao" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">结算方式</label>
                <div class="col-sm-9">
                    @Html.SelectList_Common("JiesuanFS", "结算方式")
                </div>
            </div>
        </div>
    </div>
</div>
