@using CKWMS.App_Code
@using CKWMS.Models
@model cust_rukujihuaViewModel
@{ViewBag.Title = "入库计划添加";}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        $("#RukuRQ").datepicker(); 
        $("#MakeDate").datepicker();
        //'BaoshuiSF'&'JianguanSF'绑定值
        $("#checkbox_BaoshuiSF").change(function () {
            if ($("#checkbox_BaoshuiSF").is(":checked")) {
                $("#BaoshuiSF").val("true");//选中=true
            } else {
                $("#BaoshuiSF").val("false");//不选中=false
            }
        });
        $("#checkbox_JianguanSF").change(function () {
            if ($("#checkbox_JianguanSF").is(":checked")) {
                $("#JianguanSF").val("true");//选中=true
            } else {
                $("#JianguanSF").val("false");//不选中=false
            }
        });
    });
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/cust_rukujihua">入库计划</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "cust_rukujihua", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <input type="hidden" id="BaoshuiSF" name="BaoshuiSF" value="false" />
        <input type="hidden" id="JianguanSF" name="JianguanSF" value="false" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.HuozhuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("huozhuid", "货主", "名称")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.HetongBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.HetongBH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GongyingshangID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("GongyingshangID", "供应商", "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fahuodizhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Fahuodizhi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Yunsongdizhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Yunsongdizhi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RukuRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="RukuRQ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="RukuRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YewuLX, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Common("YewuLX", "入库类型")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BaoshuiSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="checkbox" id="checkbox_BaoshuiSF" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ChunyunYQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ChunyunYQ, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JianguanSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="checkbox" id="checkbox_JianguanSF" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KehuDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.KehuDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KefuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.KefuID, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LianxiDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LianxiDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JihuaZT, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.JihuaZT, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RukudanSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.RukudanSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" name="makedate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)" />
                </div>
            </div>
        </div>
    }
</div>
