@using CKWMS.App_Code
@using CKWMS.Models
@model wms_rukumxViewModel
@{ViewBag.Title = "入库明细添加";}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            getShangPin();
        });
        function getShangPin() {
            var rkd = $("#rkd").val();
            $.post(
                "/base_shangpinxx/GetCustomerCargosByEntryID",
                { rkd: rkd },
                function (data) {
                    if (data.length > 0) {

                    }
                }
                );
        }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_rukudan/edit/@ViewBag.rkdid ">入库单</a>
        </li>
        <li>
            <a href="/wms_rukumx/getcargos/@ViewBag.rkdid ">入库货品</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "wms_rukumx", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" name="rkdid" id="rkd" value="@Model.RukuID" />
        <input type="hidden" name="spid" id="spid" value="@Model.ShangpinID" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            @*<div class="form-group">
                @Html.LabelFor(m => m.RukuID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.RukuID, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinID, new { @class = "control-label col-sm-2" })
                <div id="selsp" class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.ShangpinID, new { @class = "form-control" })*@
                    <select><option></option></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinMC, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinMC, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Zhucezheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Zhucezheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Guige, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Guige, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Pihao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Pihao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Pihao1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Pihao1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Xuliema, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Xuliema, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShengchanRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShixiaoRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShixiaoRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DaohuoSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.DaohuoSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YishouSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YishouSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JibenDW, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.JibenDW, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BaozhuangDW, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BaozhuangDW, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huansuanlv, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Changjia, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Changjia, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Chandi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinTM, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinTM, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Zhongliang, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Zhongliang, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Jingzhong, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Jingzhong, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tiji, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Tiji, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Jifeidun, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Jifeidun, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname")
                </div>
            </div>
        </div>
    }
</div>
<div id="pl_shangpin"  class="panel panel-primary" style="display:none;position:absolute;top:200px;left:300px;width:600px;height:400px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">商品选择<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row" style="width:580px;height:480px;overflow:auto;">
            <table class="table" id="mydatatable">
                <caption></caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>商品代码</td>
                        <td>商品名称</td>
                        <td>注册证编号</td>
                        <td>规格</td>
                        <td>型号</td>
                        <td>单位</td>
                        <td>换算率</td>
                        <td>长</td>
                        <td>宽</td>
                        <td>高</td>
                        <td>产品线序号</td>
                        <td>分类序号</td>
                        <td>医疗器械管理分类</td>
                        <td>包装要求</td>
                        <td>存储条件</td>
                        <td>生产企业</td>
                        <td>供应商序号</td>
                        <td>首营状态</td>
                    </tr>
                </thead>
                <tbody>
                        @*<tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="ID"></label>
                                </div>
                            </td>
                            <td>@item.Daima</td>
                            <td>@item.Mingcheng</td>
                            <td>@item.ZhucezhengBH</td>
                            <td>@item.Guige</td>
                            <td>@item.Xinghao</td>
                            <td>@item.Danwei</td>
                            <td>@item.Huansuanlv</td>
                            <td>@item.Volchang</td>
                            <td>@item.Volkuan</td>
                            <td>@item.Volgao</td>
                            <td>@item.Chanpinxian</td>
                            <td>@item.Muluxuhao</td>
                            <td>@Html.GetCommonValue_ID("医疗器械管理类别", (int)item.Guanlifenlei)</td>
                            <td>@item.Baozhuangyaoqiu</td>
                            <td>@item.Cunchutiaojian</td>
                            <td>@Html.GetDataValue_ID("生产企业", "名称", (int)item.QiyeID)</td>
                            <td>@item.Qiyemingcheng</td>
                            <td>@Html.GetDataValue_ID("gongyingid", "供应商", (int)item.GongyingID)</td>
                            <td>@item.GongyingSQID</td>
                            <td>@item.GongyingXSID</td>
                            <td>@Html.GetCommonValue_ID("首营状态", (int)item.Shouying)</td>
                            <td>@item.MakeDate.ToString("yyyy-MM-dd")</td>
                            <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>