@using CKWMS.App_Code
@using CKWMS.Models
@model wms_rukumxViewModel
@{ViewBag.Title = "入库商品添加";}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        var _spload = false;
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            $("#MakeDate").datepicker();
            $("#ShengchanRQ").datepicker();
            $("#ShixiaoRQ").datepicker();
            $("#pl_shangpin").draggable({ handle: ".panel-heading" });
            $("#bt_selsp").click(function () {
                if (!_spload) {
                    getShangPin();
                }
                $("#pl_shangpin").show();
            });
            $("#pl_close").click(function () {
                $("#pl_shangpin").hide();
            });
            $("#pl_ok").click(function () {
                $("#mydatatable tr input[type=checkbox]").each(function () {
                    if (this.checked) {
                        $("#spid").val($(this).val());
                        $("#ShangpinMC").val($(this).data("mc"));
                        $("#ShangpinDM").val($(this).data("dm"));
                        $("#Zhucezheng").val($(this).data("zcz"));
                        $("#Guige").val($(this).data("gg"));
                        $("#JibenDW").val($(this).data("dw"));
                        $("#BaozhuangDW").val($(this).data("bdw"));
                        $("#Changjia").val($(this).data("qymc"));
                        $("#ShangpinTM").val($(this).data("tm"));
                        $("#Huansuanlv").val($(this).data("hsl"));
                        $("#Chandi").val($(this).data("chd"));
                    }
                });
                $("#pl_shangpin").hide();
            });
            $("#pl_refresh").click(function () {
                getShangPin();
            });
            $("#mydatatable").on('dblclick', 'tr', function () {
                    var u_id = $(this).find("td").eq(0).find("input");
                    var u_idd = u_id.val();
                    if (u_idd != null) {
                        $("#ShangpinMC").val(u_id.data("mc"));
                        $("#ShangpinDM").val(u_id.data("dm"));
                        $("#Zhucezheng").val(u_id.data("zcz"));
                        $("#Guige").val(u_id.data("gg"));
                        $("#JibenDW").val(u_id.data("dw"));
                        $("#BaozhuangDW").val(u_id.data("bdw"));
                        $("#Changjia").val(u_id.data("qymc"));
                        $("#ShangpinTM").val(u_id.data("tm"));
                        $("#Huansuanlv").val(u_id.data("hsl"));
                        $("#Chandi").val(u_id.data("chd"));
                        $("#pl_shangpin").hide();
                    }
            });
        });
        function getShangPin() {
            var rkd = $("#rkd").val();
            _spload = true;
            $.post(
                "/base_shangpinxx/GetCustomerCargosByEntryID",
                { rkd: rkd },
                function (data) {
                    if (data.length > 0) {
                        var _filldata = '';
                        for (var i in data) {
                            _filldata = _filldata + '<tr class="sonline">';
                            _filldata = _filldata + '<td><div class="checkbox"><label><input type="checkbox" value="';
                            _filldata = _filldata + data[i].id;
                            _filldata = _filldata + '" data-dm="' + data[i].daima + '" data-mc="' + data[i].mingcheng + '" data-zcz="';
                            _filldata = _filldata + data[i].ZhucezhengBH + '" data-gg="' + data[i].Guige + '" data-xh="' + data[i].Xinghao;
                            _filldata = _filldata + '" data-dw="' + data[i].danwei + '" data-chd="' + data[i].chandi + '" data-bdw="' + data[i].BaozhuangDW;
                            _filldata = _filldata + '" data-hsl="' + data[i].huansuanlv + '" data-cpx="' + data[i].chanpinxian + '" data-cpxmc="' + data[i].cpxmingcheng;
                            _filldata = _filldata + '" data-ml="' + data[i].muluxuhao + '" data-mlmc="' + data[i].mulubh + '" data-glfl="' + data[i].guanlifenlei;
                            _filldata = _filldata + '" data-cctj="' + data[i].Cunchutiaojian + '" data-qyid="' + data[i].qiyeid + '" data-qymc="' + data[i].Qiyemingcheng;
                            _filldata = _filldata + '" data-gys="' + data[i].GongyingID + '" data-gysmc="' + data[i].gysmingcheng + '" data-tm="' + data[i].shangpintm + '"';
                            _filldata = _filldata + '></label></div></td><td>';
                            _filldata = _filldata + data[i].daima;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].mingcheng;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].ZhucezhengBH;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Guige;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Xinghao;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].danwei;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].BaozhuangDW;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].huansuanlv;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].cpxmingcheng;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].mulubh;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].guanlifenlei;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Cunchutiaojian;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Qiyemingcheng;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].gysmingcheng;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].shangpintm;
                            _filldata = _filldata + '</td>';
                            _filldata = _filldata + '</tr>';
                        }
                        $("#mydatatable tbody").html(_filldata);
                    }
                }
                );
        }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_rukudan/edit/@ViewBag.rkdid ">入库单</a>
        </li>
        <li>
            <a href="/wms_rukumx/getcargos/@ViewBag.rkdid ">入库货品</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>
    <div class="page-content">
        @using (Html.BeginForm("Save", "wms_rukumx", FormMethod.Post, new { @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" />
            <input type="hidden" name="RukuID" id="rkd" value="@ViewBag.rkdid" />
            <input type="hidden" name="ShangpinID" id="spid" value="" />
            <div class="page-header">
                <p>
                    <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                </p>
            </div>
            <div class="container">
                <div class="form-group">
                    @Html.LabelFor(m => m.ShangpinMC, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ShangpinMC, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <p id="bt_selsp" class="form-control btn center"><i class="icon-leaf red"></i>选择商品</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShangpinDM, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.ShangpinDM, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Zhucezheng, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Zhucezheng, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Guige, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Guige, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pihao, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Pihao, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pihao1, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Pihao1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Xuliema, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Xuliema, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShengchanRQ, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        <input id="ShengchanRQ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShengchanRQ">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShixiaoRQ, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        <input id="ShixiaoRQ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShixiaoRQ">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DaohuoSL, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DaohuoSL, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.YishouSL, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.YishouSL, new { @class = "form-control",@readonly="true"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.JibenDW, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.JibenDW, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BaozhuangDW, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.BaozhuangDW, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Huansuanlv, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Changjia, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Changjia, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Chandi, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShangpinTM, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.ShangpinTM, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Zhongliang, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Zhongliang, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label class="form-control">千克(KG)</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Jingzhong, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Jingzhong, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label class="form-control">千克(KG)</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Tiji, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Tiji, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label class="form-control">立方米(M^3)</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Jifeidun, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Jifeidun, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        <input id="MakeDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.SelectList_Auto("MakeMan", "userinfo", "fullname",(int)ViewBag.userid)
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="pl_shangpin" class="panel panel-primary" style="display:none;position:absolute;top:50px;left:100px;width:800px;height:600px;z-index:999;">
        <div class="panel-heading">
            <h3 class="panel-title">商品选择<button id="pl_close" class="pull-right">X</button></h3>
        </div>
        <div class="panel-body">
            <div class="center">
                <p class="btn default" id="pl_ok"><i class="icon-ok"></i>确定</p>
                <p class="btn default" id="pl_refresh"><i class="icon-refresh"></i>刷新</p>
            </div>
            <div class="row" style="width:782px;height:500px;overflow:auto;">
                <table class="table table-condensed" id="mydatatable">
                    <caption></caption>
                    <thead>
                        <tr>
                            <td></td>
                            <td>商品代码</td>
                            <td>商品名称</td>
                            <td>注册证</td>
                            <td>规格</td>
                            <td>型号</td>
                            <td>单位</td>
                            <td>包装单位</td>
                            <td>换算率</td>
                            <td>产品线</td>
                            <td>分类目录</td>
                            <td>管理分类</td>
                            <td>存储条件</td>
                            <td>生产企业</td>
                            <td>供应商</td>
                            <td>商品条码</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
