@using CKWMS.App_Code
@using CKWMS.Models
@model wms_rukumxViewModel
@{ViewBag.Title = "入库商品添加";}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        var _spload = false;
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            $("#bt_selsp").click(function () {
                if (!_spload)
                    getShangPin();
                $("#pl_shangpin").show();
            });
            $("#pl_close").click(function () {
                $("#pl_shangpin").hide();
            });
            $("#pl_ok").click(function () {
                $("#spdatatable tr input[type=checkbox]").each(function () {
                    if (this.checked) {
                        alert($(this).val() + "," + $(this).data("cctj"));
                        $("#ShangpinMC").val($(this).data("mc"));
                        $("#Zhucezheng").val($(this).data("zcz"));
                        $("#Guige").val($(this).data("gg"));
                    }
                });
                $("#pl_shangpin").hide();
            });
            $("#pl_refresh").click(function () {
                getShangPin();
            });
            $("tr").bind("dblclick",function () {
                alert($(this).val() + "," + $(this).data("mc"));
                $("#pl_shangpin").hide();
            });
        });
        function getShangPin() {
            var rkd = $("#rkd").val();
            _spload = true;
            $.post(
                "/base_shangpinxx/GetCustomerCargosByEntryID",
                { rkd: rkd },
                function (data) {
                    if (data.length > 0) {
                        var _filldata = '';
                        for (var i in data) {
                            _filldata = _filldata + '<tr>';
                            _filldata = _filldata + '<td><div class="checkbox"><label><input type="checkbox" value="';
                            _filldata = _filldata + data[i].ID;
                            _filldata = _filldata + '" data-dm="' + data[i].Daima + '" data-mc="' + data[i].Mingcheng + '" data-zcz="';
                            _filldata = _filldata + data[i].ZhucezhengBH + '" data-gg="' + data[i].Guige + '" data-xh="' + data[i].Xinghao;
                            _filldata = _filldata + '" data-dw="' + data[i].Danwei + '" data-bdw="' + data[i].BaozhuangDW;
                            _filldata = _filldata + '" data-hsl="' + data[i].Huansuanlv + '" data-cpx="' + data[i].Chanpinxian;
                            _filldata = _filldata + '" data-ml="' + data[i].Muluxuhao + '" data-glfl="' + data[i].Guanlifenlei;
                            _filldata = _filldata + '" data-cctj="' + data[i].Cunchutiaojian + '" data-qymc="' + data[i].Qiyemingcheng;
                            _filldata = _filldata + '" data-gys="' + data[i].GongyingID + '" data-tm="' + data[i].ShangpinTM + '"';
                            _filldata = _filldata + '></label></div></td><td>';
                            _filldata = _filldata + data[i].Daima;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Mingcheng;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].ZhucezhengBH;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Guige;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Xinghao;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Danwei;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].BaozhuangDW;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Huansuanlv;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Chanpinxian;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Muluxuhao;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Guanlifenlei;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Cunchutiaojian;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].Qiyemingcheng;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].GongyingID;
                            _filldata = _filldata + '</td><td>';
                            _filldata = _filldata + data[i].ShangpinTM;
                            _filldata = _filldata + '</td>';
                            _filldata = _filldata + '</tr>';
                        }
                        $("#spdatatable tbody").html(_filldata);
                    }
                }
                );
        }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_rukudan/edit/@ViewBag.rkdid ">入库单</a>
        </li>
        <li>
            <a href="/wms_rukumx/getcargos/@ViewBag.rkdid ">入库货品</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "wms_rukumx", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" name="rkdid" id="rkd" value="@ViewBag.rkdid" />
        <input type="hidden" name="spid" id="spid" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinMC, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ShangpinMC, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <p id="bt_selsp" class="form-control btn center"><i class="icon-leaf red"></i>选择商品</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Zhucezheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Zhucezheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Guige, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Guige, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Pihao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Pihao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Pihao1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Pihao1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Xuliema, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Xuliema, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShengchanRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShengchanRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShixiaoRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ShixiaoRQ">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DaohuoSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.DaohuoSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YishouSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YishouSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JibenDW, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.JibenDW, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BaozhuangDW, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BaozhuangDW, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huansuanlv, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Changjia, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Changjia, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Chandi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinTM, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinTM, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Zhongliang, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Zhongliang, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Jingzhong, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Jingzhong, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Tiji, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Tiji, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Jifeidun, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Jifeidun, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname")
                </div>
            </div>
        </div>
    }
</div>
<div id="pl_shangpin" class="panel panel-primary" style="display:none;position:absolute;top:50px;left:100px;width:800px;height:600px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">商品选择<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="nav navbar-nav center">
                <li><p class="btn default" id="pl_ok"><i class="icon-ok"></i>确定</p></li>
                <li><p class="btn default" id="pl_refresh"><i class="icon-refresh"></i>刷新</p></li>
            </ul>
        </div>
        <div class="row" style="width:580px;height:450px;overflow:auto;">
            <table class="table" id="spdatatable">
                <caption>货主商品列表</caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>商品代码</td>
                        <td>商品名称</td>
                        <td>注册证编号</td>
                        <td>规格</td>
                        <td>型号</td>
                        <td>单位</td>
                        <td>包装单位</td>
                        <td>换算率</td>
                        <td>产品线</td>
                        <td>分类目录</td>
                        <td>管理分类</td>
                        <td>包装要求</td>
                        <td>存储条件</td>
                        <td>生产企业</td>
                        <td>供应商</td>
                        <td>商品条码</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>