@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "入库货品列表";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            var _shsl = $(this).find("td").eq(11).html();
            if (eval(_shsl) > 0)
                return;
            if (u_id != null) {
                var url_go = "/wms_rukumx/Edit/" + u_id;
                location.href = url_go;
            }
        });
        $("#bt_print").click(function () {
            alert("print now");
        });
        $("#mydatatable tbody tr").each(function () {
            var _orn = $(this).find('td').eq(10).html();
            var _oys = $(this).find('td').eq(11).html();
            if (eval(_orn) == eval(_oys))
                $(this).addClass("green");;
            if (eval(_orn) > eval(_oys) && eval(_oys) > 0)
                $(this).addClass("blue");;
        });
        $("#pl_fn_close").click(function () {
            $("#pl_fun").hide();
        });
        $("#bt_fn_ok").click(function () {
            if ($("#pl_code").val() == "") {
                alert("供应商的随货同行单编号必须输入！");
                return;
            }
            if ($("#rkid").val() == "")
                return;
            var _rkstr = $("#pl_code").val();
            var _rk0 = "";
            if (_rkstr.length < 10)
            {
                for (var i = 0; i < (10 - _rkstr.length) ; i++) {
                    _rk0 = _rk0 + "0";
                }
            }
            _rkstr = _rk0 + _rkstr;
            $.post("/wms_rukumx/importdata",
                {
                    bh: _rkstr,
                    rk: $("#rkid").val()
                }, function (data) {
                    if (data == 1)
                        location.reload();
                    else {
                        if(data==-1)
                            alert("导入失败！");
                        if (data == -2)
                            alert("只有强生公司才能使用此功能！");
                        if (data == -3)
                            alert("此发货单编号不存在，请重新输入！");
                        if (data == -4)
                            alert("此发货单已经导入完成，请勿重复导入！");
                    }
                });
        });
        $("#bt_fn_cancel").click(function () {
            $("#pl_fun").hide();
        });
        $("#pl_fun").draggable({ handler: ".panel-heading" });
        $("#bt_import").click(function () {
            $("#pl_code").val("");
            $("#pl_fun").show();
        });
    });
    function AddInfo() {
        location.href = "/wms_rukumx/Add/?rkid=" + $("#rkid").val();
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked) {
                var _shsl = $(this).parent().parent().parent().parent().find("td").eq(11).html();
                if (eval(_shsl) > 0) {
                    alert("已经收货了，不能再修改货品信息！如果必须修改，请先删除收货记录！");
                    return;
                }
                location.href = "/wms_rukumx/Edit/" + $(this).val();
            }
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked) {
                var _shsl = $(this).parent().parent().parent().parent().find("td").eq(11).html();
                if (eval(_shsl) > 0) {
                    alert("商品已经收货，不能删除！");
                    return;
                }
                sDel = sDel + ", " + $(this).val()
            }
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_rukumx/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_rukudan/edit/@ViewBag.rkid">入库单</a>
        </li>
        <li class="active">入库货品</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_print"><i class="icon-print"></i>打印</button>
            <button type="button" class="btn btn-default " id="bt_import"><i class="icon-inbox"></i>导入</button>
        </p>
    </div>
    <div class="row">
        <input type="hidden" id="rkid" value="@ViewBag.rkid" />
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>商品条码</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>到货数量</td>
                    <td>已收数量</td>
                    <td>基本单位</td>
                    <td>包装单位</td>
                    <td>换算率</td>
                    <td>厂家</td>
                    <td>产地</td>
                    <td>重量</td>
                    <td>净重</td>
                    <td>体积</td>
                    <td>计费吨</td>
                    <td>备注</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_rukumx)
                {
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" value="@item.ID" data-rkd="@item.RukuID" data-sp="@item.ShangpinID"></label>
                            </div>
                        </td>
                        <td>@item.ShangpinTM</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ==null?"":item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ==null?"":item.ShixiaoRQ)</td>
                        <td>@item.DaohuoSL</td>
                        <td>@item.YishouSL</td>
                        <td>@item.JibenDW</td>
                        <td>@item.BaozhuangDW</td>
                        <td>@item.Huansuanlv</td>
                        <td>@item.Changjia</td>
                        <td>@item.Chandi</td>
                        <td>@item.Zhongliang</td>
                        <td>@item.Jingzhong</td>
                        <td>@item.Tiji</td>
                        <td>@item.Jifeidun</td>
                        <td>@item.Beizhu</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.MakeDate)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "名称", (int)item.MakeMan)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="pl_fun" class="panel panel-info" style="display:none;position:fixed;top:200px;left:300px;width:200px;height:300px;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">发货编号<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="center">
                <input type="text" id="pl_code" value="" />
            </div>
            <br />
            <div class="center"><p id="bt_fn_ok" class="btn btn-default">确定</p></div>
            <br />
            <div class="center"><p id="pl_fn_cancel" class="btn btn-default">取消</p></div>
        </div>
    </div>
</div>
