@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "出库复核";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
        });
        //出库复核报告单
        var outid = $("#outid").val();
        $("#bt_fn_print").click(function () {
            window.open("/quan_chukufh/PrintFuheDan?ckfhid=" + outid);
            $("#pl_fun").hide();
        });
        //出库复核检验单
        $("#bt_fhjy_print").click(function () {
            window.open("/quan_chukufh/PrintFuhejianyan?ckfhid=" + outid);
            $("#pl_fun").hide();
        });
        $("#bt_fn_cancel").click(function () {
            $("#pl_fun").hide();
        });
        $("#bt_fn_over").click(function () {
            var _isover = true;
            $("#pl_fun").hide();
            $("#mydatatable tbody tr").each(function () {
                var _fhsl = $(this).find('td').eq(13).html();
                if (_fhsl == "" || eval(_fhsl) == 0)
                    _isover = false;
            });
            if (!_isover)
                alert("还有货品需要复核，不能完成！");
            else
                //$.post("/quan_chukufh/checkover",
                //    { ck: $("#outid").val() },
                //    function (data) {
                //        if (data == -1)
                //            alert("复核完成操作失败，请重试！");
                //        if (data == -2)
                //            alert("已经完成复核，不能再次确认完成！");
                //        if (data == 1)
                //            window.close();
                //    });
                $.ajax({
                    async: true,
                    beforeSend: function () {
                        ShowWait();
                    },
                    complete: function () {
                        HiddenWait();
                    },
                    type: "POST",
                    url: "/quan_chukufh/checkover",
                    data: {
                        ck: $("#outid").val()
                    },
                    success: function (data) {
                        if (data == -1)
                            alert("复核完成操作失败，请重试！");
                        if (data == -2)
                            alert("已经完成复核，不能再次确认完成！");
                        if (data == 1)
                            window.close();
                    }
                });

        });
        $("#bt_fn_delete").click(function () {
            $("#pl_fun").hide();
            //$.post("/quan_chukufh/checkdelete",
            //    {
            //        ck: $("#outid").val(),
            //        fh: $("#fhid").val()
            //    }, function (data) {
            //        if (data == -1)
            //            alert("删除复核记录失败，请重试！");
            //        if (data == -2)
            //            alert("复核已经完成，记录已被锁定，不能删除！");
            //        if (data == 1)
            //            location.reload();
            //    });
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/quan_chukufh/checkdelete",
                data: {
                    ck: $("#outid").val(),
                    fh: $("#fhid").val()
                },
                success: function (data) {
                    if (data == -1)
                        alert("删除复核记录失败，请重试！");
                    if (data == -2)
                        alert("复核已经完成，记录已被锁定，不能删除！");
                    if (data == 1)
                        location.reload();
                }
            });

        });
        $("#pl_fun").draggable({ handle: ".panel-heading" });
        $("#mydatatable tbody").on("dblclick", "tr", function () {
            $("#fhid").val($(this).find("input").data("fh"));
            $("#pl_fun").show();
        });
        $(".icon-gear").click(function () {
            $("#pl_fun").show();
        });
        $("#pl_fn_close").click(function () {
            $("#pl_fun").hide();
        });
        $("#yhsm").change(function () {
            $("#YanshouSM").val($(this).find("option:selected").text());
        });
        $("#Yanshou").change(function () {
            var _sval = $(this).find("option:selected").val();
            if (eval(_sval) == 0) {
                $("#Ngnum").val("0");
                $("#Oknum").val("0");
            }
            if (eval(_sval) == 1) {
                $("#Ngnum").val("0");
                $("#Oknum").val($("#YanshouSL").val());
            }
            if (eval(_sval) == 2) {
                $("#Ngnum").val("0");
                $("#Oknum").val("0");
            }
            if (eval(_sval) == 3) {
                $("#Ngnum").val($("#YanshouSL").val());
                $("#Oknum").val("0");
            }
        });
        $("#pl_jh_cancel").click(function () {
            $("#pl_jh").hide();
        });
        $(".icon-youtube-play").click(function () {
            var _selrow = $(this).parent().parent();
            var _onum = _selrow.find('td').eq(10).html();
            var _fnum = _selrow.find('td').eq(13).html();
            if (_selrow.hasClass("green") || _selrow.hasClass("red"))
                return;
            _selrow.addClass("blue");
            $("#shmx").val(_selrow.find("input").val());
            $("#fhid").val(_selrow.find("input").data("fh"));
            if (eval($("#fhid").val()) > 0)
                $("#YanshouSL").val(eval(_onum) - eval(_fnum));
            else
                $("#YanshouSL").val(_onum);
            $("#Yanshou").val(0);
            $("#Oknum").val(0);
            $("#Ngnum").val(0);
            //$("#YanshouSM").val("");
            $("#Huansuanlv").val(_selrow.find("input").data("hsl"));
            $("#YanshouJS").val(Number(_onum) / Number(_selrow.find("input").data("hsl")));
            $("#pl_yanshou").show();
        });
        $("#pl_close").click(function () {
            $("#pl_yanshou").hide();
        });
        $("#pl_yanshou").draggable({ handle: ".panel-heading" });
        $("#yscancel").click(function () {
            $("#pl_yanshou").hide();
        });
        $("#pl_jh").draggable({ handle: ".panel-heading" }, { containment: "parent" });
        $("#pl_jh_cancel").click(function () {
            $("#pl_jh").hide();
        });
        $("#yssave").click(function () {
            var _ysresult = $("#Yanshou").find("option:selected").val();
            if (eval(_ysresult) == 0) {
                alert("请选择验收结果后再完成检验！");
                return;
            }
            var _ysnum = $("#YanshouSL").val();
            if (eval(_ysnum) == 0) {
                alert("验收数量不对，请重新输入！");
                return;
            }
            var _oknum = $("#Oknum").val();
            var _ngnum = $("#Ngnum").val();
            if (eval(_ysnum) != eval(_oknum) + eval(_ngnum)) {
                alert("验收数量不正确，请重新输入！");
                return;
            }
            if (eval(_ysresult) == 2) {
                alert("请标识不合格的货品！");
                $("#bhg").val($("#Ngnum").val());
                GetPick($("#shmx").val());
                $("#pl_jh").show();
                //$("#pl_yanshou").hide();
            }
            else {
                $("#pl_yanshou").hide();
                if (eval(_ysresult) == 3) {
                    //$.post("/wms_jianhuo/ngpick", { mx: $("#shmx").val() }, function (data) {
                    //    if (data == -1)
                    //        alert("标识不合格商品失败！");
                    //    else
                    //        $("#pl_yanshou").hide();
                    //});
                    $.ajax({
                        async: true,
                        beforeSend: function () {
                            ShowWait();
                        },
                        complete: function () {
                            HiddenWait();
                        },
                        type: "POST",
                        url: "/wms_jianhuo/ngpick",
                        data: {
                            mx: $("#shmx").val()
                        },
                        success: function (data) {
                            if (data == -1)
                                alert("标识不合格商品失败！");
                        }
                    });

                    alert("产品不合格，需要重新拣货！");
                }
                else
                    //$.post("/quan_chukufh/addcheck", {
                    //    shmx: $("#shmx").val(),
                    //    sl: _ysnum,
                    //    ys: _ysresult,
                    //    ysr: $("#Yanshouren").val(),
                    //    yssm: $("#YanshouSM").val()
                    //}, function (data) {
                    //    if (data == -1)
                    //        alert("验收数据保存失败，请重新验收！");
                    //    else {
                    //        ShowCheck();
                    //    }
                    //});
                    $.ajax({
                        async: true,
                        beforeSend: function () {
                            ShowWait();
                        },
                        complete: function () {
                            HiddenWait();
                        },
                        type: "POST",
                        url: "/quan_chukufh/addcheck",
                        data: {
                            shmx: $("#shmx").val(),
                            sl: _ysnum,
                            ys: _ysresult,
                            ysr: $("#Yanshouren").val(),
                            yssm: $("#YanshouSM").val()
                        },
                        success: function (data) {
                            if (data == -1)
                                alert("验收数据保存失败，请重新验收！");
                            else {
                                ShowCheck();
                            }
                        }
                    });

            }
        });
        $("#mydatatable tbody tr").each(function () {
            var _ysn = $(this).find('td').eq(13).html();
            var _shn = $(this).find('td').eq(10).html();
            var _ys = $(this).find('td').eq(14).html();
            try {
                if (eval(_shn) == eval(_ysn)) {
                    if (_ys == "不合格")
                        $(this).addClass("red");
                    else
                        $(this).addClass("green");
                }
            }
            catch (err) {
            }
        });
        $("#pl_jh_close").click(function () {
            $("#pl_jh").hide();
        });
        $("#Oknum").blur(function () {
            if (eval($(this).val()) > 0) {
                if (eval($(this).val()) > eval($("#YanshouSL").val()))
                    $(this).val($("#YanshouSL").val());
                else
                    $("#Ngnum").val(eval($("#YanshouSL").val()) - eval($(this).val()));
            }
        });
        $("#Ngnum").blur(function () {
            if (eval($(this).val()) > 0) {
                if (eval($(this).val()) > eval($("#YanshouSL").val()))
                    $(this).val($("#YanshouSL").val());
                else
                    $("#Oknum").val(eval($("#YanshouSL").val()) - eval($(this).val()));
            }
        });
        $("#pl_jh_ok").click(function () {
            var _ngn = 0;
            var _ngv = "";
            $("#dt_jh tbody tr").each(function () {
                var _sr = $(this).find("input");
                if (eval(_sr.val()) > 0) {
                    _ngn = _ngn + eval(_sr.val());
                    _ngv = _ngv + _sr.data("pk") + "," + _sr.val() + ";";
                }
            });
            if (_ngn != eval($("#bhg").val())) {
                alert("不合格商品数量有误，请重新输入！");
                return;
            }
            $.post("/wms_jianhuo/ngchange", { ch: _ngv }, function (data) {
                if (data == -1) {
                    alert("标识不合格商品失败！");
                    $("#pl_jh").hide();
                }
                else {
                    location.reload();
                    //$("#pl_jh").hide();
                    //$("#pl_yanshou").hide();
                }
            });
        });
    });
    function ShowCheck() {
        $("#mydatatable tbody tr").each(function () {
            var _mx = $(this).find("input").val();
            if (_mx == $("#shmx").val()) {
                if ($(this).hasClass("blue"))
                    $(this).removeClass("blue");
                $(this).find('td').eq(13).html($("#YanshouSL").val());
                $(this).find('td').eq(14).html($("#Yanshou").find("option:selected").text());
                $(this).find('td').eq(15).html($("#Yanshouren").val());
                $(this).find('td').eq(16).html($("#YanshouSM").val());
                $(this).find('td').eq(17).html('@string.Format("{0:yyyy-MM-dd}",DateTime.Now)');
                if (eval($("#Yanshou").find("option:selected").val()) == 3)
                    $(this).addClass("red");
                else
                    $(this).addClass("green");
            }
        });
    }
    function GetPick(_detail) {
        var filltable = "";
        if (_detail != null) {
            $.post("/wms_jianhuo/getdetailbymx", { mx: _detail }, function (data) {
                if (data == -1) { }
                else {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><input type="number" size="5" value="0" data-pk="';
                        filltable = filltable + data[i].pickid;
                        filltable = filltable + '"/></td><td>';
                        filltable = filltable + data[i].Kuwei;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].DaijianSL;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Guige;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].Xuliema;
                        filltable = filltable + '</td><td>';
                        if (eval(data[i].Fuhe) == true)
                            filltable = filltable + '合格';
                        if (eval(data[i].Fuhe) == false)
                            filltable = filltable + '不合格';
                        filltable = filltable + '</td><td>';
                        if (eval(data[i].HuopinZT) == 0)
                            filltable = filltable + '';
                        if (eval(data[i].HuopinZT) == 1)
                            filltable = filltable + '正常';
                        if (eval(data[i].HuopinZT) == 2)
                            filltable = filltable + '破损';
                        if (eval(data[i].HuopinZT) == 3)
                            filltable = filltable + '污染';
                        if (eval(data[i].HuopinZT) == 4)
                            filltable = filltable + '渗漏';
                        if (eval(data[i].HuopinZT) == 5)
                            filltable = filltable + '其它';
                        filltable = filltable + '</td></tr>';
                    }
                    $("#dt_jh tbody").html(filltable);
                }
            });
        }
    }
</script>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />系统正在加载数据,请耐心等待...</div>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">出库复核</li>
    </ul>
</div>
<div class="page-content">
    <input type="hidden" id="shmx" />
    <input type="hidden" id="fhid" />
    <input type="hidden" id="username" value="@ViewBag.username" />
    <input type="hidden" id="userid" value="@ViewBag.userid" />
    <input type="hidden" id="outid" value="@ViewBag.outid" />
    <div class="row">
        <table class="table table-condensed" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td><i class="icon-gear bigger-300"></i></td>
                    <td>复核</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>数量</td>
                    <td>厂家</td>
                    <td>产地</td>
                    <td>复核数量</td>
                    <td>复核结果</td>
                    <td>复核人</td>
                    <td>复核说明</td>
                    <td>复核日期</td>
                    <td>复核件数</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.waitcheck)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID" 
                                          data-fh="@item.fhid"
                                          data-hsl="@item.Huansuanlv"></label>
                        </td>
                        <td><i class="icon-youtube-play bigger-200"></i></td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ)</td>
                        <td>@item.JianhuoSL</td>
                        <td>@item.Changjia</td>
                        <td>@item.Chandi</td>
                        <td>@item.FuheSL</td>
                        <td>@Html.GetCommonValue_ID("验收结果", (int)(item.Fuhe == null ? 0 : item.Fuhe))</td>
                        <td>@item.Fuheren</td>
                        <td>@item.FuheSM</td>
                        <td>@item.MakeDate</td>
                        <td>@string.Format("{0}", item.FuheSL == null ? "" : (item.Huansuanlv != null && item.Huansuanlv > 0 ? item.FuheSL / item.Huansuanlv : item.FuheSL))</td>
                   </tr>
                }
            </tbody>
        </table>
    </div>
    @*<div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>*@
    <div class="row">
        <p class="pull-right">记录:@ViewBag.linecount 条</p>
        <p>复核数量总计:@ViewBag.fuhesls</p>
        <p>复核件数总计:@ViewBag.fuhejss</p>
    </div>
</div>
<div id="pl_yanshou" class="panel panel-info" style="display:none;position:fixed;top:100px;left:200px;width:600px;height:360px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">出库复核<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label col-sm-2" for="Yanshouren">复核人</label>
            <div class="col-sm-10">
                <input class="form-control" id="Yanshouren" name="Yanshouren" type="text" value="@ViewBag.username" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="YanshouJS">复核件数</label>
            <div class="col-sm-10">
                <input class="form-control" data-val="true" readonly data-val-number="字段 已收数量 必须是一个数字。" id="YanshouJS" type="text" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Huansuanlv">换算率</label>
            <div class="col-sm-10">
                <input class="form-control" data-val="true" readonly data-val-number="字段 已收数量 必须是一个数字。" id="Huansuanlv" type="text" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="YanshouSL">复核数量</label>
            <div class="col-sm-10">
                <input class="form-control" id="YanshouSL" name="YanshouSL" type="text" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Yanshou">复核结果</label>
            <div class="col-sm-10">
                @*<input class="form-control" id="Yanshou" name="Yanshou" type="text" value="" />*@
                @Html.SelectList_Common("Yanshou", "验收结果")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Oknum">合格数量</label>
            <div class="col-sm-10">
                <input class="form-control" id="Oknum" name="Oknum" type="text" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Ngnum">不合格数量</label>
            <div class="col-sm-10">
                <input class="form-control" id="Ngnum" name="Ngnum" type="text" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="YanshouSM">检验说明</label>
            <div class="col-sm-10">
                @Html.SelectList_Common("yhsm", "复核不符合项说明")
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="YanshouSM" name="YanshouSM"></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-6 center"><p id="yssave" class="btn btn-default"><i class="icon-save"></i>完成</p></div>
            <div class="col-sm-6 center"><p id="yscancel" class="btn btn-default"><i class="glyphicon-backward"></i>取消</p></div>
        </div>
    </div>
</div>
<div id="pl_jh" class="panel panel-primary" style="display:none;position:fixed;top:50px;left:100px;width:800px;height:600px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">货品下架记录<button id="pl_jh_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <div class="col-sm-8">
                <label>不合格数量：</label>
                <input type="number" id="bhg" />
            </div>
            <div class="col-sm-2"><p class="btn default" id="pl_jh_ok"><i class="icon-ok"></i>确定</p></div>
            <div class="col-sm-2"><p class="btn default" id="pl_jh_cancel"><i class="ui-icon-cancel"></i>取消</p></div>
        </div>
        <div class="row">
            <table class="table table-condensed" id="dt_jh">
                <caption></caption>
                <thead>
                    <tr>
                        <td>不合格</td>
                        <td>库位</td>
                        <td>数量</td>
                        <td>规格</td>
                        <td>生产日期</td>
                        <td>失效日期</td>
                        <td>序列码</td>
                        <td>质量</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody style="overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_fun" class="panel panel-info" style="display:none;position:fixed;top:200px;left:300px;width:200px;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">功能菜单<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @*<div class="center"><p id="bt_fhjy_print" class="btn btn-default">复核检验</p></div>
            <br />*@
            <div class="center"><p id="bt_fn_print" class="btn btn-default">复核报告</p></div>
            <br />
            <div class="center"><p id="bt_fn_over" class="btn btn-default">复核完成</p></div>
            <br />
            <div class="center"><p id="bt_fn_delete" class="btn btn-default">删除选中</p></div>
            <br />
            <div class="center"><p id="bt_fn_cancel" class="btn btn-default" style="letter-spacing:1em;">取消</p></div>
        </div>
    </div>
</div>
