@using CKWMS.App_Code
@using CKWMS.Models

<div class="row">
    <table class="table table-condensed table-hover dataTables_wrapper" id="mydatatable">
        <caption></caption>
        <thead>
            <tr>
                <td></td>
                <td>入库单</td>
                <td>货主</td>
                <td>供应商</td>
                <td>发货地址</td>
                <td>入库日期</td>
                <td>业务类型</td>
                <td>是否保税</td>
                <td>是否监管</td>
                <td>是否验收</td>
                <td>储运要求</td>
                <td>客户单号</td>
                <td>联系人</td>
                <td>联系电话</td>
                <td>入库状态</td>
                <td>收货人</td>
                <td>备注</td>
                <td>制单日期</td>
                <td>制单人</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.wms_rukudan)
            {
                <tr>
                    <td>
                    </td>
                    <td>@item.RukudanBH</td>
                    <td>@Html.GetDataValue_ID("货主", "简称", (int)item.HuozhuID)</td>
                    <td>@Html.GetDataValue_ID("供应商", "", (int)item.GongyingshangID)</td>
                    <td>@item.Fahuodizhi</td>
                    <td>@string.Format("{0:yyyy-MM-dd}", item.RukuRQ)</td>
                    <td>@Html.GetCommonValue_ID("入库类型", (int)item.YewuLX)</td>
                    <td>@string.Format("{0}", item.BaoshuiSF == true ? "是" : "否")</td>
                    <td>@string.Format("{0}", item.JianguanSF == true ? "是" : "否")</td>
                    <td>@string.Format("{0}", item.YanshouSF == true ? "是" : "否")</td>
                    <td>@item.ChunyunYQ</td>
                    <td>@item.KehuDH</td>
                    <td>@item.Lianxiren</td>
                    <td>@item.LianxiDH</td>
                    <td>@Html.GetCommonValue_ID("入库状态", (int)item.RukuZT)</td>
                    <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.Shouhuoren)</td>
                    <td>@item.Beizhu</td>
                    <td>@string.Format("{0:yyyy-MM-dd}", item.MakeDate)</td>
                    <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
