@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "入库记录";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input');
            if (u_id.val() != null) {
                var url_go = "/wms_rukudan/Edit/" + u_id.val();
                location.href = url_go;
            }
        });
        $("#pl_cargo_close").click(function () {
            $("#pl_cargo").hide();
        });
        $(".icon-list-ul").click(function () {
            var _sr = $(this).parent();
            var _srk = _sr.find("input");
            if (eval(_srk.val()) > 0) {
                getCargos(_srk.val());
                $("#pl_cargo").show();
            }
        });
        $("#pl_cargo").draggable({ handle: ".panel-heading" });
    });
    function getCargos(rkd) {
        var rkdetail = "";
        $.post(
            "/wms_rukumx/getcargodetail",
            { rkd: rkd },
            function (data) {
                if (data.length > 0) {
                    for (var i in data) {
                        rkdetail = rkdetail + '<tr><td><label><input type="checkbox" value="';
                        rkdetail = rkdetail + data[i].ID;
                        rkdetail = rkdetail + '" data-rkd="';
                        rkdetail = rkdetail + data[i].RukuID;
                        rkdetail = rkdetail + '" data-sp="';
                        rkdetail = rkdetail + data[i].ShangpinID;
                        rkdetail = rkdetail + '"></label></td>';
                        rkdetail = rkdetail + '<td>';
                        rkdetail = rkdetail + data[i].ShangpinTM;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].ShangpinMC;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Zhucezheng;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Guige;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].DaohuoSL;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].YishouSL;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Pihao;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Pihao1;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Xuliema;
                        rkdetail = rkdetail + '</td><td>';
                        if (data[i].ShengchanRQ != null)
                            rkdetail = rkdetail + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
                        rkdetail = rkdetail + '</td><td>';
                        if (data[i].ShixiaoRQ != null)
                            rkdetail = rkdetail + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].JibenDW;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].BaozhuangDW;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Huansuanlv;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Changjia;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Chandi;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Zhongliang;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Jingzhong;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Tiji;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Jifeidun;
                        rkdetail = rkdetail + '</td><td>';
                        rkdetail = rkdetail + data[i].Beizhu;
                        rkdetail = rkdetail + '</td></tr>';
                    }
                }
                $("#dt_cargo tbody").html(rkdetail);
            }
            );
    }
    function AddInfo() {
        location.href = "/wms_rukudan/Export";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked && eval($(this).data("zt")) < 5)
                location.href = "/wms_rukudan/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked) {
                if (eval($(this).data("zt")) == 1)
                    sDel = sDel + ", " + $(this).val()
            }
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_rukudan/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "RukudanBH";
        scm.ItemTitle = "入库编号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "HuozhuID";
        scm.ItemTitle = "货主";
        scm.ItemType = "货主.名称";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "GongyingshangID";
        scm.ItemTitle = "供应商";
        scm.ItemType = "供应商.供应商";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Fahuodizhi";
        scm.ItemTitle = "发货地址";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "RukudanBH";
            scm.ItemTitle = "入库编号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "HuozhuID";
            scm.ItemTitle = "货主";
            scm.ItemType = "货主.名称";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                if (scm.ItemValue.Length == 0)
                {
                    scm.ItemValue = "0";
                }
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "GongyingshangID";
            scm.ItemTitle = "供应商";
            scm.ItemType = "供应商.供应商";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[2].Split(',')[1];
                if (scm.ItemValue.Length == 0)
                {
                    scm.ItemValue = "0";
                }
                scm.ItemOpValue = scs[2].Split(',')[2];
                scm.ItemJion = scs[2].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Fahuodizhi";
            scm.ItemTitle = "发货地址";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[3].Split(',')[1];
                scm.ItemOpValue = scs[3].Split(',')[2];
                scm.ItemJion = scs[3].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">入库历史</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "入库单_条件组合查询", "/wms_rukudan/index", "wms_rukudanindex", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            @*<button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
                <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
                <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>*@
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_export" onclick="javascript: window.open('/wms_rukudan/historyofinexport')"><i class="icon-inbox"></i>导出</button>
        </p>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover dataTables_wrapper" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td>货品</td>
                    <td>入库编号</td>
                    <td>货主</td>
                    <td>供应商</td>
                    <td>发货地址</td>
                    <td>入库日期</td>
                    <td>业务类型</td>
                    <td>是否保税</td>
                    <td>是否监管</td>
                    <td>是否验收</td>
                    <td>储运要求</td>
                    <td>客户单号</td>
                    <td>联系人</td>
                    <td>联系电话</td>
                    <td>入库状态</td>
                    <td>收货人</td>
                    <td>备注</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_rukudan)
                {
                    <tr>
                        <td>
                            <label><i class="icon-list-ul"></i><input type="hidden" value="@item.ID" data-zt="@item.RukuZT"></label>
                        </td>
                        <td>@item.RukudanBH</td>
                        <td>@Html.GetDataValue_ID("货主", "简称", (int)item.HuozhuID)</td>
                        <td>@Html.GetDataValue_ID("供应商", "", (int)item.GongyingshangID)</td>
                        <td>@item.Fahuodizhi</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.RukuRQ)</td>
                        <td>@Html.GetCommonValue_ID("入库类型", (int)item.YewuLX)</td>
                        <td>@string.Format("{0}", item.BaoshuiSF == true ? "是" : "否")</td>
                        <td>@string.Format("{0}", item.JianguanSF == true ? "是" : "否")</td>
                        <td>@string.Format("{0}", item.YanshouSF == true ? "是" : "否")</td>
                        <td>@item.ChunyunYQ</td>
                        <td>@item.KehuDH</td>
                        <td>@item.Lianxiren</td>
                        <td>@item.LianxiDH</td>
                        <td>@Html.GetCommonValue_ID("入库状态", (int)item.RukuZT)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.Shouhuoren)</td>
                        <td>@item.Beizhu</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.MakeDate)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
<div id="pl_cargo" class="panel panel-primary" style="display:none;position:fixed;top:50px;left:100px;width:1200px;height:600px;z-index:999;overflow:hidden">
    <div class="panel-heading">
        <h3 class="panel-title">货品列表<button id="pl_cargo_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row" style="display:block;width:1190px;height:530px;overflow:auto">
            <table class="table table-condensed" id="dt_cargo">
                <caption></caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>商品条码</td>
                        <td>商品名称</td>
                        <td>注册证</td>
                        <td>规格型号</td>
                        <td>到货数量</td>
                        <td>已收数量</td>
                        <td>批号</td>
                        <td>次批号</td>
                        <td>序列码</td>
                        <td>生产日期</td>
                        <td>失效日期</td>
                        <td>基本单位</td>
                        <td>包装单位</td>
                        <td>换算率</td>
                        <td>厂家</td>
                        <td>产地</td>
                        <td>重量</td>
                        <td>净重</td>
                        <td>体积</td>
                        <td>计费吨</td>
                        <td>备注</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
