@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "入库操作";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("click", function () {
            //var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/wms_rukudan/Edit/" + u_id;
            //    location.href = url_go;
            //}
            $(this).addClass("blue");
        });
        //$(".page-header").on("change", "HuozhuID", function () {
        //    var _hz = $(this).val();
        //    alert(_hz);
        //    location.href = "/wms_rukudan/OperateList?hz=" + _hz;
        //});
        $("#HuozhuID").change(function () {
            var _hz = $(this).val();
            location.href = "/wms_rukudan/OperateList?hz=" + _hz;
        });
        $("#bt_over").click(function () {
            var sDel = "";
            $("#mydatatable tbody tr input[type=checkbox]").each(function () {
                if (this.checked)
                    sDel = sDel + ", " + $(this).val()
            });
            if (sDel.length < 2)
                return;
            //$.post("/wms_rukudan/entryfinish", { rk: sDel }, function (data) {
            //    if (data == -1)
            //        alert("操作失败，请联系管理员！");
            //    else
            //        location.reload();
            //});
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_rukudan/entryfinish",
                data: {
                    rk: sDel
                },
                success: function (data) {
                    if (data == -1)
                        alert("操作失败,上架数量不对或是没有完全验收，请联系管理员！");
                    else if(data==-3)
                        alert("操作失败，收货数量与计划入库数量不符，请检查计划入库信息！");
                    else if(data==-4)
                        alert("严重错误，收货数量出现错误，马上与管理员联系！");
                    else
                        location.reload();
                }
            });
        });
        //序列
        $("#pl_xlm_patch").click(function () {
        });
        $("#pl_xlm").draggable({ handle: ".panel-heading" }, { containment: "parent" });
        $("#pl_xlm_close").click(function () {
            $("#pl_xlm").hide();
        })
        $("#pl_xlm_cancel").click(function () {
            $("#pl_xlm").hide();
        });
        $("#pl_xlm_check").click(function () {
            $("#totalnum").html(0);
            getCount();
        });
        $("#pl_xlm_ok").click(function () {
            //alert($("#xlm").val());
            //$.post("/wms_chukuxlm/addxlm",
            //    {
            //        xlm: $("#xlm").val(),
            //        rkd: $("#rkd").val(),
            //        rk: $("#rk").val()
            //    }, function (data) {
            //        if (data == -1)
            //            alert("导入序列码失败，请与管理员联系！");
            //        $("#pl_xlm").hide();
            //    });
            //$("#pl_xlm").hide();
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_chukuxlm/addxlm_",
                data: {
                    xlm: $("#xlm").val(),
                    rkd: $("#rkd").val(),
                    rk: $("#rk").val(),
                    ph: $("#pl_xlm_patch").val()
                },
                success: function (data) {
                    if (data == -1)
                        alert("导入序列码失败，请与管理员联系！");
                    else if (data == -2)
                        alert("此入库单已被删除！");
                    else if (data == -3)
                        alert("这些状态下不能进行扫码！");
                    else {
                        alert("保存成功！");
                        //location.reload();
                        $("#xlm").val("");
                        $("#totalnum").html("0");
                    }
                }
            });

        });
        $("#pl_xlm_clear").click(function () {
            $("#xlm").val("");
            $("#totalnum").html("0");
        });
        $(".icon-barcode").click(function () {
            var _sr = $(this).parent().parent();
            $("#rk").val(_sr.find("input[type=checkbox]").val());
            $("#rkd").val(_sr.find("td").eq(1).html());
            $("#xlm").val("");
            $("#totalnum").html("0");
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                //url: "/wms_rukumx/getpatch",
                url: "/wms_shouhuomx/getpatch",
                data: {
                    rk: $("#rk").val()
                },
                success: function (data) {
                    var selstr = '<option value=""></option>';
                    if (data == -1) {
                        alert("入库单编号传送失败！");
                        return;
                    }
                    else {
                        for (var i in data) {
                            selstr = selstr + '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        $("#pl_xlm_patch").html(selstr);
                    }
                }
            });
            $("#pl_xlm").show();
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_chukuxlm/getxlm_",
                data: {
                    rkd: $("#rk").val()
                },
                success: function (data) {
                    if (data == -1)
                        alert("入库单编号传送失败！");
                    else if (data == -2)
                        alert("此入库单已被删除！");
                    else if (data == -3)
                        alert("当前状态下不能扫码！");
                    else {
                        if (data != "") {
                            var _ft = "";
                            for (var i in data) {
                                _ft = _ft + data[i].Xuliema + "\r\n";
                            }
                            $("#xlm").val(_ft);
                        }
                    }
                }
            });

        });
        //收货清单打印
        $("#mydatatable").on("click", ".operatelistid", function () {
            var operatelistid = $(this).find(".input_operatelistid").val();
            window.open("/wms_rukudan/PrintRuKuXiangDan?rkxdid=" + operatelistid);
        });
        //收货记录单批量打印
        $("#bt_print").on("click", function () {
            var rkmxid = "";
            $("#mydatatable tbody tr").each(function () {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    rkmxid = rkmxid + $(this).find(".checkbox").val() + ",";
                }
            });
            if (rkmxid != null && rkmxid != "" && rkmxid != "," && rkmxid != "，") {
                window.open("/wms_rukumx/PrintRuKuMX?rkmxid=" + rkmxid);
            } else {
                alert("请选择入库单！");
            }
        });

    });
    function getCount() {
        var p = $("#xlm").val();
        var pp = p.split("\n");
        var pc = pp.length - 1;
        for (var k in pp) {
            var ps = pp[k];
            if (ps.length > 0) {
                for (var j in pp) {
                    if (j > k) {
                        if (ps == pp[j]) {
                            pc = pc - 1;
                            alert(ps);
                        }
                    }
                }
            }
        }
        $("#totalnum").html(pc);
        //alert((p.split()).length);
    }
    function AddInfo() {
        location.href = "/wms_rukudan/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/wms_rukudan/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_rukudan/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "HuozhuID";
        scm.ItemTitle = "货主序号";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "HuozhuID";
            scm.ItemTitle = "货主序号";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">入库操作</li>
    </ul>
</div>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="page-content">
    @*@Html.Search_Condition((int)Session["user_id"], "入库单_条件组合查询", "/wms_rukudan/operatelist", "wms_rukudanoperatelist", scms)*@
    <div class="page-header">
        <input type="hidden" id="rk" />
        <input type="hidden" id="rkd" />
        <div class="col-sm-9">
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_over"><i class="icon-ok"></i>完成</button>
            <button type="button" class="btn btn-default " id="bt_print"><i class="icon-print"></i>打印</button>
        </div>
        <div class="col-sm-3">@Html.SelectList_Auto("HuozhuID", "货主", "都有")</div>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>入库编号</td>
                    <td>货主</td>
                    <td>业务类型</td>
                    <td>入库日期</td>
                    <td>客户单号</td>
                    <td>储运条件</td>
                    <td>收货人</td>
                    <td>备注</td>
                    <td>录入人</td>
                    <td>状态</td>
                    <td>货品</td>
                    <td>登记</td>                
                    <td>收货</td>
                    <td>序列</td>
                    <td>验收</td>
                    <td>上架</td>
                    <td>详单</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_rukudan)
                {
                    <tr>
                        <td>
                                <label><input type="checkbox" class="checkbox" value="@item.ID"></label>
                        </td>
                        <td>@item.RukudanBH</td>
                        <td>@Html.GetDataValue_ID("货主","简称",(int)item.HuozhuID)</td>
                        <td>@Html.GetCommonValue_ID("入库类型",(int)item.YewuLX)</td>
                        <td>@string.Format("{0:d}", item.RukuRQ==null?"":item.RukuRQ)</td>
                        <td>@item.KehuDH</td>
                        <td>@item.ChunyunYQ</td>
                        <td>@Html.GetDataValue_ID("userinfo","全名",(int)item.Shouhuoren)</td>
                        <td title="@item.Beizhu">@string.Format("{0:s}",item.Beizhu==null?"":item.Beizhu.Length>12?item.Beizhu.Substring(0,12):item.Beizhu)</td>
                        <td>@Html.GetDataValue_ID("userinfo","全名",(int)item.MakeMan )</td>
                        <td>@Html.GetCommonValue_ID("入库状态",(int)item.RukuZT)</td>
                        <td><a href="/wms_rukumx/getcargos/@item.ID" target="_blank"><i class="icon-list bigger-200 blue"></i></a></td>
                        <td><a href="/wms_rukumx/add/?rkid=@item.ID" target="_blank"><i class="icon-pencil bigger-200 blue"></i></a></td>               
                        <td><a href="/wms_shouhuomx/recieving/?rkd=@item.ID" target="_blank"><i class="icon-hand-up bigger-200 blue"></i></a></td>
                        <td><i class="icon-barcode bigger-200 blue"></i></td>
                        <td><a href="/quan_rukuys/entrychecklist/@item.ID" target="_blank"><i class="icon-check bigger-200 blue"></i></a></td>
                        <td><a href="/wms_cunhuo/getuploadlist/@item.ID" target="_blank"><i class="icon-shopping-cart bigger-200 blue"></i></a></td>
                        <td class="operatelistid"><i class="icon-print bigger-200 blue"><input type="hidden" class="input_operatelistid" value="@item.ID" /></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="pl_xlm" class="panel panel-primary" style="display:none;position:fixed;top:100px;left:200px;width:550px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">登记入库单的序列码<button id="pl_xlm_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="col-sm-4"><p>总数：<label id="totalnum"></label></p></div>
            <div class="col-sm-2">
                <p class="btn default" id="pl_xlm_check"><i class="icon-check-minus"></i>复核</p>
            </div>
            <div class="col-sm-2"><p class="btn default" id="pl_xlm_ok"><i class="icon-ok"></i>确定</p></div>
            <div class="col-sm-2"><p class="btn default" id="pl_xlm_cancel"><i class="icon-search"></i>取消</p></div>
            <div class="col-sm-2"><p class="btn default" id="pl_xlm_clear"><i class="icon-ok"></i>清除</p></div>
        </div>
        <div>
            <div class="col-sm-2">
                <p>批号：</p>
            </div>
            <div class="col-sm-10">
                <select id="pl_xlm_patch" class="form-control"></select>
            </div>
        </div>
        <div class="center">
            <textarea id="xlm" style="width:480px;height:400px;overflow:auto"></textarea>
        </div>
    </div>
</div>