@using CKWMS.App_Code
@using CKWMS.Models
@model zx_xingdyViewModel
@{
    ViewBag.Title = "包装箱修改";
}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //Select time
        $("#KaishiSJ").datepicker();
        $("#JieshuoSJ").datepicker();
        //'是否占用'绑定值
        $("#ZhanyongSF").change(function () {
            if ($("#ZhanyongSF").is(":checked")) {
                $("#ZhanyongSF").val("true");//选中=true
            } else {
                $("#ZhanyongSF").val("false");//不选中=false
            }
        });
        //'是否周转'赋值
        var ZhanyongSF = "@Model.ZhanyongSF";
        if (ZhanyongSF == "True") {
            $("#ZhanyongSF").attr("checked", true);
            $("#ZhanyongSF").val("true");
        } else {
            $("#ZhanyongSF").attr("checked", false);
            $("#ZhanyongSF").val("false");
        }
        //'是否周转'绑定值
        $("#ZhouzhuanSF").change(function () {
            if ($("#ZhouzhuanSF").is(":checked")) {
                $("#ZhouzhuanSF").val("true");//选中=true
            } else {
                $("#ZhouzhuanSF").val("false");//不选中=false
            }
        });
        //'是否周转'赋值
        var ZhouzhuanSF = "@Model.ZhouzhuanSF";
        if (ZhouzhuanSF == "True") {
            $("#ZhouzhuanSF").attr("checked", true);
            $("#ZhouzhuanSF").val("true");
        } else {
            $("#ZhouzhuanSF").attr("checked", false);
            $("#ZhouzhuanSF").val("false");
        }
        //submit
        $("#save_top").bind("click", function () {
            $("#form").submit();
        });
        $("#save_buttom").bind("click", function () {
            $("#form").submit();
        });
    });
</script>

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/zx_xingdy">包装箱</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-app btn-xs btn-primary radius-4" onclick="javascript: history.back(-1); "><i class="icon-reply icon-only"></i>返回</button>
            <button type="button" id="save_top" class="btn btn-app btn-xs btn-primary radius-4"><i class="icon-save"></i>更新</button>
        </p>
    </div>
    <div class="row" style="background: url('/Imgs/bg-cloud.png') repeat;">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="widget-box radius-4">
                    <div class="widget-header">
                        <h3><b>包装箱信息</b></h3>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            @using (Html.BeginForm("Update", "zx_xingdy", FormMethod.Post, new { @role = "form", @class = "form-horizontal",@id = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@ViewData.Model.ID" />
                                <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
                                <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
                                <fieldset>
                                    @*型号*@
                                    <div class="form-group">
                                        <label for="Xianghao" class="col-sm-2 control-label"><b>型号</b></label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Xianghao, new { @class = "form-control", @placeholder = "请填写型号" })
                                        </div>
                                    </div>                                    
                                    @*体积*@
                                    <div class="form-group">
                                        <label for="Tiji" class="col-sm-2 control-label"><b>体积</b></label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(m => m.Tiji, new { @class = "form-control", @placeholder = "请填写体积" })
                                        </div>
                                    </div>
                                    @*箱型*@
                                    <div class="form-group">
                                        <label for="Xiangxing" class="col-sm-2 control-label"><b>箱型</b></label>
                                        <div class="col-sm-9">
                                            @Html.SelectList_Common( "Xiangxing", "纸箱规格", (int)ViewData.Model.Xiangxing)
                                        </div>
                                    </div>
                                    @*状态*@
                                    <div class="form-group">
                                        <label for="Zhuangtai" class="col-sm-2 control-label"><b>状态</b></label>
                                        <div class="col-sm-9">
                                            @Html.SelectList_Common("Zhuangtai", "包装箱状态",(int)ViewData.Model.Zhuangtai)
                                        </div>
                                    </div>                                    
                                    @*开始装箱时间*@
                                    <div class="form-group">
                                        <label for="KaishiSJ" class="col-sm-2 control-label"><b>开始装箱时间</b></label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input id="KaishiSJ" name="KaishiSJ" placeholder="开始装箱时间" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.KaishiSJ)" type="date" style="z-index:1000;position:relative;">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                            @*<input id="KaishiSJ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="KaishiSJ">*@
                                        </div>
                                    </div>
                                    @*结束装箱时间*@
                                    <div class="form-group">
                                        <label for="JieshuoSJ" class="col-sm-2 control-label"><b>结束装箱时间</b></label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input id="JieshuoSJ" name="JieshuoSJ" placeholder="请填写结束装箱时间" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.JieshuoSJ)" type="date" style="z-index:1000;position:relative;">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                            @*<input id="JieshuoSJ" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="JieshuoSJ">*@
                                        </div>
                                    </div>
                                    @*是否占用*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="ZhanyongSF"><b>是否占用</b></label>
                                        <div class="col-sm-9">

                                            <label class="control-group">
                                                <input name="ZhanyongSF" id="ZhanyongSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                <span class="lbl"></span>
                                            </label>
                                            @*@Html.TextBoxFor(m => m.ZhanyongSF, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                    @*是否周转*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="ZhouzhuanSF"><b>是否周转</b></label>
                                        <div class="col-sm-9">
                                            <label class="control-group">
                                                <input name="ZhouzhuanSF" id="ZhouzhuanSF" class="ace ace-switch ace-switch-7" checked="checked" type="checkbox">
                                                <span class="lbl"></span>
                                            </label>
                                            @*@Html.TextBoxFor(m => m.ZhouzhuanSF, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                    @*col1*@
                                    <div class="form-group" style="display:none;">
                                            @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    @*输入日期*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="makedate"><b>录入日期</b></label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input disabled="disabled" placeholder="请填写录入日期" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" type="text">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @*录入人*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="MakeMan"><b>录入人</b></label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input placeholder="MakeMan" disabled="disabled" class="form-control" type="text" value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)">
                                                <span class="input-group-addon">
                                                    <i class="icon-user bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions center">
                                    <button id="save_buttom" class="btn btn-primary" type="submit">
                                        <b>更新</b>
                                        <i class="icon-save bigger-110"></i>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
