@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "养护记录";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/gsp_hpyhmx/Edit/" + u_id;
                location.href = url_go;
            }
        });
    });
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/gsp_hpyhmx/Edit/" + $(this).val();
        });
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "ShangpinMC";
        scm.ItemTitle = "商品名称";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Pihao";
        scm.ItemTitle = "批号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Guige";
        scm.ItemTitle = "规格";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "YHID";
        scm.ItemTitle = "养护编号";
        scm.ItemType = "System.Int32";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "YanghuoRQ";
        scm.ItemTitle = "养护日期";
        scm.ItemType = "System.DateTime";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "ShangpinMC";
            scm.ItemTitle = "商品名称";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Pihao";
            scm.ItemTitle = "批号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Guige";
            scm.ItemTitle = "规格";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[2].Split(',')[1];
                scm.ItemOpValue = scs[2].Split(',')[2];
                scm.ItemJion = scs[2].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "YHID";
            scm.ItemTitle = "养护编号";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[3].Split(',')[1];
                scm.ItemOpValue = scs[3].Split(',')[2];
                scm.ItemJion = scs[3].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "YanghuoRQ";
            scm.ItemTitle = "养护日期";
            scm.ItemType = "System.DateTime";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[4].Split(',')[1];
                scm.ItemOpValue = scs[4].Split(',')[2];
                scm.ItemJion = scs[4].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">养护记录</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "养护明细_条件组合查询", "/gsp_hpyhmx/index", "gsp_hpyhmx_index", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        </p>
    </div>
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>货主</td>
                    <td>养护编号</td>
                    <td>养护日期</td>
                    <td>库龄</td>
                    <td>产品名称</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>序列号</td>
                    <td>数量</td>
                    <td>单位</td>
                    <td>失效日期</td>
                    <td>生产厂家</td>
                    <td>注册证号</td>
                    <td>库位</td>
                    <td>检查内容</td>
                    <td>处理结果</td>
                    <td>养护人</td>
                    <td>备注</td>
                    <td>制单日期</td>
                    @*<td>制单人</td>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.gsp_hpyhmx)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td>@Html.GetDataValue_ID("货主","简称",(int)item.HuozhuID)</td>
                        <td>@item.YHID</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.YanghuoRQ == null ? "" : item.YanghuoRQ)</td>
                        <td>@item.Kulin</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Xuliema</td>
                        <td>@item.Shuliang</td>
                        <td>@item.JibenDW</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ == null ? "" : item.ShixiaoRQ)</td>
                        <td>@item.Changjia</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Kuwei</td>
                        <td>@item.Jiancha</td>
                        <td>@item.CLJG</td>
                        <td>@item.YHR</td>
                        <td>@item.Beizhu</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.MakeDate == null ? "" : item.MakeDate)</td>
                        @*<td>@Html.GetDataValue_ID("userinfo","全名",(int)item.MakeMan)</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
