@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "出库明细";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/wms_chukumx/Edit/" + u_id;
            //    location.href = url_go;
            //}
        });
        $("#bt_print").click(function () {
            alert("print now");
        });
        $("#bt_fn_print").click(function () {
            alert("print now");
            $("#pl_fun").hide();
        });
        $("#pl_fun").draggable({ handle: ".panel-heading" }, { containment: "parent" });
        //$("#mydatatable tbody").on("dblclick", "tr", function () {
        //    $("#pl_fun").show();
        //});
        $("#pl_fn_cancel").click(function () {
            $("#pl_fun").hide();
        });
        $("#pl_fn_close").click(function () {
            $("#pl_fun").hide();
        });
    });
    function AddInfo() {
        location.href = "/wms_chukumx/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/wms_chukumx/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_chukumx/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">出库明细</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <p>
            @*<button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>*@
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_print" ><i class="icon-print"></i>打印</button>
        </p>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>商品代码</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>出库数量</td>
                    <td>基本单位</td>
                    <td>包装单位</td>
                    <td>换算率</td>
                    <td>厂家</td>
                    <td>产地</td>
                    <td>重量</td>
                    <td>净重</td>
                    <td>体积</td>
                    <td>计费吨</td>
                    <td>备注</td>
                    <td>货品状态</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_chukumx)
                {
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" value="@item.ID"></label>
                            </div>
                        </td>
                        <td>@item.ShangpinDM</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ==null?"":item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}",item.ShixiaoRQ==null?"":item.ShixiaoRQ)</td>
                        <td>@item.ChukuSL</td>
                        <td>@item.JibenDW</td>
                        <td>@item.BaozhuangDW</td>
                        <td>@item.Huansuanlv</td>
                        <td>@item.Changjia</td>
                        <td>@item.Chandi</td>
                        <td>@item.Zhongliang</td>
                        <td>@item.Jingzhong</td>
                        <td>@item.Tiji</td>
                        <td>@item.Jifeidun</td>
                        <td>@item.Beizhu</td>
                        <td>@Html.GetCommonValue_ID("存货状态",(int)item.HuopinZT)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}",item.MakeDate)</td>
                        <td>@Html.GetDataValue_ID("userinfo","全名",(int)item.MakeMan)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetOutDetail", new { page }))
    </div>
</div>
<div id="pl_fun" class="panel panel-info" style="display:none;position:absolute;top:200px;left:300px;width:200px;height:200px;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">功能菜单<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="center"><p id="bt_fn_print" class="btn btn-default">打印</p></div>
            <br />
            <div class="center"><p id="bt_fn_cancel" class="btn btn-default">取消</p></div>
        </div>
    </div>
</div>
