

@using CKWMS.App_Code;
@using CKWMS.Models
@model base_gongyingshangViewModel
@{ViewBag.Title = "供应商添加";}
@Html.GetFileUpload("ob_base_gongyingshang_yingyezhizhaotp", "yyzz", "z", "gys", 2, 0, new Dictionary<string, string>() { { "yyzz", "ob_base_gongyingshang_yingyezhizhaotp" }, { "xkz", "ob_base_gongyingshang_jingyingxuketp" } })

<script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //$.get("/base_gongyingshangController/Save",
        //function (data) {
        //    switch (data.status) {
        //        case 2:alert('333')
        //            break;
        //        default:
        //            break;
        //    }
        //}
        //                            );

        $("#ob_base_gongyingshang_makedate").datepicker();
        $("#ob_base_gongyingshang_yingyezhizhaoyxq").datepicker();
        $("#ob_base_gongyingshang_jingyingxukeyxq").datepicker();
        
        $("#pl_Fanwei").hide();
        $("#pl_fanwei_add").hide();

        var _qxmlid = $("#qxml").val();

        $("#bt_Fanweiadd").click(function () {
            GetFanwei()
            $("#pl_Fanwei").show();
            setTimeout(function () {
                GetData()
            }, 500)
        });

        $("#pl_close").click(function () {
            $("#pl_Fanwei").hide();
        });

        $("form").validate({
            rules: {
                ob_base_gongyingshang_daima: { required: true },
                ob_base_gongyingshang_mingcheng: { required: true },
            },
            messages: {
                ob_base_gongyingshang_daima: { required: "请输入daima" },
                ob_base_gongyingshang_mingcheng: { required: "请输入mingcheng" },
            }
        });

        $("#bt_fanwei_add").click(function () {
            var _jyfw = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('checkbox');
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {                   
                    _jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                    _jyfwjm = _jyfwjm + $(this).parent().parent().parent().siblings().find(".bh").html() + ";";
                }
            });
            var _addok = confirm("确定要修改经营范围吗？");
            if (_addok) {

                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#jingyingfanwei").val(_jyfw);
                    $("#jingyingfanweijianma").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                }
            }            
        });
        $("#bt_fanwei_all").click(function () {

            $(".checkbox").prop("checked", true);

        })

        $("#bt_fanwei_clear").click(function () {

            $(".checkbox").prop("checked", false);

        })
    });



    function GetSpell() {
        $.post("/Service/GetSpellCode",
            {
                yourwords: $("#shengcheng").val()
            },
        function (response) {
            $("#daima").val(response);
        });
    }




    function GetFanwei() {
        //var _qxmlid = $("#qxml").val();
        var filltable = "";

        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><div class="checkbox"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td>';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });

    }
    function GetData() {

        var fw = document.getElementsByClassName('bh');
        var i = $("#jingyingfanweijianma").val();
        var t = i.split(";"); 

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < fw.length; l++) {
                if (t[k] == $(".bh").eq(l).text())
                    $("input:checkbox").eq(l).attr("checked", true);
            }
        }
    }


</script>




<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_gongyingshang">供应商</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    <form role="form" action="/base_gongyingshang/Save" method="post">
        <input type="hidden" name="ob_base_gongyingshang_id" />
        <input type="hidden" id="btnSelect" value="" />

        @*<input id="qxml" type="hidden" name="id" value="@ViewData.Model.ID" />*@

        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>代码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-val="true" data-val-required="Daima 字段是必需的。" id="daima" name="ob_base_gongyingshang_daima">
                    @*@Html.TextBoxFor(m => m.Daima, new { @class = "form-control", id = "daima" })*@
                    @*@Html.ValidationMessageFor(m => m.Daima)*@

                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-val="true" data-val-required="Mingcheng 字段是必需的。" id="shengcheng" name="ob_base_gongyingshang_mingcheng">
                    @*@Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control", id = "shengcheng" })
                        @Html.ValidationMessageFor(m => m.Mingcheng)*@
                </div>

                <div class="col-sm-2">
                    <button type="button" class="form-control " onclick="GetSpell()">生成代码</button>
                </div>

            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required:true" name="ob_base_gongyingshang_yingyezhizhaobh">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ob_base_gongyingshang_yingyezhizhaoyxq" id="ob_base_gongyingshang_yingyezhizhaoyxq">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ob_base_gongyingshang_yingyezhizhaotp" id="ob_base_gongyingshang_yingyezhizhaotp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yyzz">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_jingyingxukebh">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ob_base_gongyingshang_jingyingxukeyxq" id="ob_base_gongyingshang_jingyingxukeyxq">

                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ob_base_gongyingshang_jingyingxuketp" id="ob_base_gongyingshang_jingyingxuketp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="xkz">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="name" >经营范围</label><br />
                    @*<div class="col-sm-10">
                <input type="text" class="form-control" name="ob_base_gongyingshang_jingyingfanwei">
            </div>*@
                    <button type="button" class="icon-edit" id="bt_Fanweiadd">修改</button>
                </div>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" readonly id="jingyingfanwei" name="ob_base_gongyingshang_jingyingfanwei"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营范围简码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly id="jingyingfanweijianma" name="ob_base_gongyingshang_jingyingfanweidm">
                </div>
            </div>
            @*<div class="form-group">
                <label for="name" class="col-sm-2">首营状态</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_shouying">
                    @Html.SelectList_Common("ob_base_gongyingshang_shouying", "首营状态", 1)
                </div>
            </div>*@
            <div class="form-group">
                <label for="name" class="col-sm-2">录入日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ob_base_gongyingshang_makedate" id="ob_base_gongyingshang_makedate">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">输入人</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("ob_base_gongyingshang_makeman", "userinfo", "fullname", (long)@ViewBag.userid)
                </div>
            </div>
        </div>
    </form>
</div>


<div id="pl_Fanwei" class="panel panel-primary " style="position:absolute;top:0px;left:300px;width:1100px;height:600px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1090px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear">全部取消</button>

            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td></td>
                        <td style="width:150px">编号</td>
                        <td style="width:60px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>








