@using CKWMS.App_Code;
@using CKWMS.EFModels

@using CKWMS.Models
@model base_gongyingshangViewModel
@{
    ViewBag.Title = "供应商修改";
    base_gongyingshang item = ViewBag.base_gongyingshang;
}

@Html.GetFileUpload("ob_base_gongyingshang_yingyezhizhaotp", "zztp", "z", "gys", 3, 0, new Dictionary<string, string>() { { "zztp", "ob_base_gongyingshang_yingyezhizhaotp" }, { "yxtp", "ob_base_gongyingshang_jingyingxuketp" }, { "BATP", "ob_base_gongyingshang_beiantp" } })

<script type="text/javascript">
    $(document).ready(function () {
        if (eval($("#syid").val()) > 1)
            $(".page-header").hide();
        $("#pl_Fanwei").draggable({ handle: '.tuodong' }, { containment: [-1000,50,1300,600] });
        $("#ob_base_gongyingshang_makedate").datepicker();
        $("#ob_base_gongyingshang_yingyezhizhaoyxq").datepicker();
        $("#ob_base_gongyingshang_jingyingxukeyxq").datepicker();
        $("#ob_base_gongyingshang_beianyxq").datepicker();
        $("#ob_base_gongyingshang_beianpzrq").datepicker();
        $("#ob_base_gongyingshang_xukepzrq").datepicker();

        if ($(".sc").html() == "True") {
            $(".shencha").attr("checked", true);
        }
        else {
            $(".shencha").attr("checked", false);
        }
        if ($(".hz").html() == "True") {
            $(".hezuo").attr("checked", true);
        }
        else {
            $(".hezuo").attr("checked", false);
        }

        var bj = 0;
        GetFanwei1(bj);

        $("#bt_fanwei_showall").click(function () {
            var bj = 1;
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            var fw = document.getElementsByClassName('xulieid');
            var i = $("#jingyingfanweijianma").val();
            var ti = i.split(";");
            //ti.splice(ti.length - 1);
            var xiaolei = new Array();
            var x = 0;
            for (var k = 0; k < ti.length; k++, x = 0) {
                for (var l = 0; l < fw.length; l++) {
                    if (ti[k] == $(".xulieid").eq(l).val()) {
                        x = 1;
                    }
                }
                if (x != 1) {
                    xiaolei.push(ti[k]);
                }
            }
            for (k = 0; k < xiaolei.length; k++) {
                tempid = tempid + xiaolei[k] + ";";
            }
            tempid = tempid.substring(0, tempid.length - 1);
            GetFanwei(bj, tempid);
        });

        $("#bt_fanwei_showdalei").click(function () {
            var bj = 1;
            var tempid = "";
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    tempid = tempid + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            GetFanwei1(bj, tempid);
        });


        $("#pl_close").click(function () {
            $("#pl_Fanwei").hide();
            var bj = 0;
            $("#guanlifenlei").val("全部");
            GetFanwei1(bj);
        });       

        $("#bt_fanwei_add").click(function () {           
            var _jyfw = "";
            var _jyfw1 = "";
            var _jyfw2 = "";
            var _jyfw3 = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('xulieid');
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    switch ($(this).parent().parent().parent().siblings().find(".glfl").html()) {
                        case "1": _jyfw1 = _jyfw1 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                        case "2": _jyfw2 = _jyfw2 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                        case "3": _jyfw3 = _jyfw3 + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                            break;
                    }
                    //_jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".glfl").html() + "," + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                    _jyfwjm = _jyfwjm + $(this).parent().find(".xulieid").val() + ";";
                }
            });
            _jyfw = "三类:" + _jyfw3 + "\n" + "二类:" + _jyfw2 + "\n" + "一类:" + _jyfw1;
            if (_jyfw3 == "")
                _jyfw = _jyfw.replace("三类:\n", "");
            if (_jyfw2 == "")
                _jyfw = _jyfw.replace("二类:\n", "");
            if (_jyfw1 == "")
                _jyfw = _jyfw.replace("一类:", "");

            var _addok = confirm("确定要修改这些数据吗？");
            if (_addok) {
                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#jingyingfanwei").val(_jyfw);
                    $("#jingyingfanweijianma").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                    var bj = "0";
                }
                $("#guanlifenlei").val("全部");
                GetFanwei1(bj);
            }
            
        });
        //选择管理分类
        $("#guanlifenlei").change(function () {
            var fl = document.getElementsByClassName('glfl');
            var lb = $("#guanlifenlei").find("option:selected").text();
            if (lb == "一类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "1") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "二类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "2") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "三类") {
                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() == "3") {
                        $(".bg").eq(i).show();
                    }
                    else { $(".bg").eq(i).hide(); }
                }
            }
            if (lb == "全部") {
                $(".bg").show();
            }
        });
        //双击选取，单击打钩
        $("#qxdatatable").on("dblclick", "tr", function () {
            var _jyfw = "";
            var _jyfw1 = "";
            var _jyfw2 = "";
            var _jyfw3 = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('xulieid');
            var bhmc = $(this).find(".glfl").html();
            switch (bhmc) {
                case "1": _jyfw1 = _jyfw1 + $(this).find(".bh").html() + "," + $(this).find(".mc").html() + ";";
                    break;
                case "2": _jyfw2 = _jyfw2 + $(this).find(".bh").html() + "," + $(this).find(".mc").html() + ";";
                    break;
                case "3": _jyfw3 = _jyfw3 + $(this).find(".bh").html() + "," + $(this).find(".mc").html() + ";";
                    break;
            }
            _jyfwjm = _jyfwjm + $(this).find(".xulieid").val() + ";";
            _jyfw = "三类:" + _jyfw3 + "\n" + "二类:" + _jyfw2 + "\n" + "一类:" + _jyfw1;
            if (_jyfw3 == "")
                _jyfw = _jyfw.replace("三类:\n", "");
            if (_jyfw2 == "")
                _jyfw = _jyfw.replace("二类:\n", "");
            if (_jyfw1 == "")
                _jyfw = _jyfw.replace("一类:", "");
            var _addok = confirm("确定要修改这条数据吗？");
            if (_addok) {
                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else {
                    $("#jingyingfanwei").val(_jyfw);
                    $("#jingyingfanweijianma").val(_jyfwjm);
                    $("#pl_Fanwei").hide();
                    var bj = "0";
                }
                $("#guanlifenlei").val("全部");
                GetFanwei1(bj);
            }
        });
        $("#qxdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        $("form").validate({
            rules: {
                ob_base_gongyingshang_daima: { required: true },
                ob_base_gongyingshang_mingcheng: { required: true },
            },
            messages: {
                ob_base_gongyingshang_daima: { required: "请输入daima" },
                ob_base_gongyingshang_mingcheng: { required: "请输入mingcheng" },
            }
        });

        //BUTTON提交
        $("#sub").click(function () {
            if ($("#daima").val() == "") {
                alert("代码不能为空");
                document.getElementById("daima").focus();
            }
            else if ($("#shengcheng").val() == "") {
                alert("名称不能为空");
                document.getElementById("shengcheng").focus();
            }
            else { form.submit(); }
        })

        var form = $("#tempform");
        form.submit(function () {
            $.post(form.attr("action"),
                  form.serialize(),
                  function (result, status) {
                      //alert(status);                              
                      if (result._flag == 1) {
                          alert("更新成功");
                      }
                      else if (result._flag == -1) {
                          alert("更新失败");
                      }
                      else if (result._flag == -2) {
                          alert("更新失败，该代码已存在");
                      }
                      else { alert("未知异常"); }
                  },
                    "json");
            return false;

        });
    });

    //经营范围
    function Bt_Fanweiadd() {
        document.getElementById("pl_Fanwei").removeAttribute("hidden");
        $("#pl_Fanwei").show();
    }
    function bt_fanwei_all() {
        $(".xulieid").prop("checked", true);
    }

    function bt_fanwei_clear() {
        $(".xulieid").prop("checked", false);
    }

    function GetFanwei1(a,b) {
        var bj = a;
        var tempid = b;
        //var _qxmlid = $("#qxml").val();
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                    GetData(bj, tempid)
                });
        //GetData();
    }

    function GetFanwei(a,b) {
        var bj = a;
        var tempid = b;
        //var _qxmlid = $("#qxml").val();
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="xulieid" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                    GetData(bj, tempid)
                });
    }

    function GetData(a, tempid) {
        var fw = document.getElementsByClassName('xulieid');
        var bj = a;
        var i = tempid;
        if (bj == 0) {
            var i = $("#jingyingfanweijianma").val();
        }
        if (i != null) {
            var t = i.split(";");
        } else { t = "" }
        //$(".bh").siblings().children().find(".checkbox").attr("checked", true);
        //$("input:checkbox").eq(2).attr("checked", true);
        //alert($(".bh").eq(0).text());
        //document.getElementById('checkbox').checked = true
        //$('.checkbox1').attr("checked",true);

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < fw.length; l++) {
                if (t[k] == $(".xulieid").eq(l).val())
                    $("#qxdatatable tr input[type=checkbox]").eq(l).attr("checked", true);
            }
        }
    }

    function bt1() {
        $("#btnSelect").val("picsel1");
    }
    function bt2() {
        $("#btnSelect").val("picsel2");
    }
    function GetSpell() {
        $.post("/Service/GetSpellCode",
            {
                yourwords: $("#shengcheng").val()
            },
        function (response) {
            $("#daima").val(response);
        });
    }

</script>
<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title center" id="myModalLabel">
                    <i class="icon-file blue"></i><span class="large">
                        文件上传
                    </span>
                </h3>
            </div>
            <div class="modal-body center">
                <form id="uploadForm">
                    <input type="hidden" name="uploadtype" id="uploadtype" value="z" />
                    <input type="hidden" name="uploaditemName" id="uploaditemName" value="gys_@item.ID" />
                    <div class="form-group">
                        <input type="file" name="file" />
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="确 定" onclick="doUpload()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_gongyingshang">供应商</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <form role="form" action="/base_gongyingshang/Update" method="post" id="tempform">

        <input type="hidden" name="ob_base_gongyingshang_id" value="@item.ID" />
        <input type="hidden" id="syid" value="@item.Shouying" />
        <input type="hidden" id="btnSelect" value="" />
        <input type="hidden" id="ob_base_gongyingshang_makeman" name="ob_base_gongyingshang_makeman" value=@Session["user_id"] />
        <input type="hidden" id="ob_base_gongyingshang_makedate" name="ob_base_gongyingshang_makedate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
        <div class="page-header">
            <p>
                <button type="button" class="btn btn-default" id="sub"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>代码</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" data-val="true" data-val-required="Daima 字段是必需的。" id="daima" name="ob_base_gongyingshang_daima" value="@item.Daima">
                    @*@Html.TextBoxFor(m => m.Daima, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Daima)*@
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-val="true" data-val-required="Mingcheng 字段是必需的。" id="shengcheng" name="ob_base_gongyingshang_mingcheng" value="@item.Mingcheng">
                    @*@Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Mingcheng)*@
                </div>
                <div class="col-sm-2">
                    <button type="button" class="form-control" onclick="GetSpell()">生成代码</button>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_yingyezhizhaobh" value="@item.YingyezhizhaoBH">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_yingyezhizhaoyxq" value="@string.Format("{0:yyyy-MM-dd}", item.YingyezhizhaoYXQ)" id="ob_base_gongyingshang_yingyezhizhaoyxq">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ob_base_gongyingshang_yingyezhizhaotp" id="ob_base_gongyingshang_yingyezhizhaotp" value="@item.YingyezhizhaoTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="bt1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span id="zztp" class="form-control">
                        <a href="/files/zhengzhao/@item.YingyezhizhaoTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_jingyingxukebh" value="@item.JingyingxukeBH">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_jingyingxukeyxq" value="@string.Format("{0:yyyy-MM-dd}", item.JingyingxukeYXQ)" id="ob_base_gongyingshang_jingyingxukeyxq">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly id="ob_base_gongyingshang_jingyingxuketp" name="ob_base_gongyingshang_jingyingxuketp" value="@item.JingyingxukeTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="bt2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yxtp">
                        <a href="/files/zhengzhao/@item.JingyingxukeTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可批准日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_xukepzrq" id="ob_base_gongyingshang_xukepzrq" value="@string.Format("{0:yyyy-MM-dd}", item.XukePZRQ)">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可发证机关</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_xukefzjg" value="@item.XukeFZJG">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 ">
                    <label for="name">经营范围</label><br />
                    <button type="button" class="icon-edit" id="bt_Fanweiadd" onclick="Bt_Fanweiadd()">修改</button>
                </div>
                <div class="col-sm-10">
                    <textarea type="text" rows="3" class="form-control" readonly id="jingyingfanwei" name="ob_base_gongyingshang_jingyingfanwei">@item.Jingyingfanwei</textarea>
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label for="name" class="col-sm-2">经营范围简码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="jingyingfanweijianma" name="ob_base_gongyingshang_jingyingfanweidm" value="@item.JingyingfanweiDM">
                </div>
            </div>
            @*<div class="form-group">
                    <label for="name" class="col-sm-2">首营状态</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ob_base_gongyingshang_shouying" value="@item.Shouying">
                        @Html.SelectList_Common("ob_base_gongyingshang_shouying", "首营状态", (int)item.Shouying)
                    </div>
                </div>*@

            @*增加*@
            <div class="form-group">
                <label for="name" class="col-sm-2">备案编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_beianbh" value="@item.BeianBH">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">备案有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_beianyxq" id="ob_base_gongyingshang_beianyxq" value="@string.Format("{0:yyyy-MM-dd}", item.BeianYXQ)">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">备案照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ob_base_gongyingshang_beiantp" id="ob_base_gongyingshang_beiantp" value="@item.BeianTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="BATP">
                        <a href="/files/zhengzhao/@item.BeianTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">备案批准日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_beianpzrq" id="ob_base_gongyingshang_beianpzrq" value="@string.Format("{0:yyyy-MM-dd}", item.BeianPZRQ)">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">备案发证机关</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_beianfzjg" value="@item.BeianFZJG">
                </div>
            </div>
            <div class="form-group">
                @*<label for="name" class="col-sm-2">是否合作</label>*@
                @Html.LabelFor(m => m.HezuoSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*<input type="CheckBox" class="hezuo form-control" name="ob_base_gongyingshang_hezuosf" >*@
                    @Html.CheckBoxFor(m => m.HezuoSF, new { @class = "hezuo form-control" })
                </div>
            </div>
            <div class="form-group">
                @*<label for="name" class="col-sm-2">是否审查</label>*@
                @Html.LabelFor(m => m.ShenchaSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*<input type="CheckBox" class="shencha form-control" name="ob_base_gongyingshang_shenchasf">*@
                    @Html.CheckBoxFor(m => m.ShenchaSF, new { @class = "shencha form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">录入日期</label>
                <div class="col-sm-10">
                    @*<input type="date" readonly class="form-control" name="ob_base_gongyingshang_makedate" value="@string.Format("{0:yyyy-MM-dd}", item.MakeDate)" id="ob_base_gongyingshang_makedate">*@
                    <input type="text" readonly class="form-control" value="@string.Format("{0:yyyy-MM-dd}", item.MakeDate)" />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">输入人</label>
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("ob_base_gongyingshang_makeman", "userinfo", "fullname", (long)item.MakeMan)*@
                    <input type="text" readonly class="form-control" value="@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)" />
                </div>
            </div>
        </div>
    </form>

</div>


<div id="pl_Fanwei" class="panel panel-primary" hidden style="position:fixed;top:100px;left:200px;width:1100px;height:600px;z-index:999">
    <div class="tuodong panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1080px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all" onclick="bt_fanwei_all()">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear" onclick="bt_fanwei_clear()">全部取消</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showdalei">显示大类</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showall">显示全部</button>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理类别</label>
            <select name="guanlifenlei" id="guanlifenlei">
                <option value="全部">全部</option>
                <option value="一类">一类</option>
                <option value="二类">二类</option>
                <option value="三类">三类</option>
            </select>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead>
                    <tr style="display:block" class="tuodong">
                        <td></td>
                        <td style="width:120px">编号</td>
                        <td style="width:80px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;width:1070px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>

<td><span class="sc" style="display:none">@item.ShenchaSF</span></td>
<td><span class="hz" style="display:none">@item.HezuoSF</span></td>


