@using CKWMS.App_Code;
@using CKWMS.EFModels
@model base_gongyingshang
@{
 ViewBag.Title="供应商修改";
base_gongyingshang item=ViewBag.base_gongyingshang;
}

<div class="breadcrumbs" id="breadcrumbs">
<script type="text/javascript">
try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
</script>
<ul class="breadcrumb">
<li>
<i class="icon-home home-icon"></i>
<a href="/Home">首页</a>
</li>
<li>
<a href="/base_gongyingshang">供应商</a>
</li>
<li class="active"> 编辑</li>
</ul>
</div>

<div class="page-content">
<form role="form" action="/base_gongyingshang/Update" method="post">
<input type="hidden" name="ob_base_gongyingshang_id" value="@item.ID"/>
<div class="page-header">
<p>
<button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
<button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
</p>
</div>
<div class="container">
<div class="form-group">
<label for="name" class="col-sm-2">代码</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_daima"  value="@item.Daima">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">名称</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_mingcheng"  value="@item.Mingcheng">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">营业执照编号</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_yingyezhizhaobh"  value="@item.YingyezhizhaoBH">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">营业执照有效期</label>
<div class="col-sm-10">
<input type="date" class="form-control" name="ob_base_gongyingshang_yingyezhizhaoyxq"  value="@string.Format("{0:yyyy-MM-dd}",item.YingyezhizhaoYXQ)">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">营业执照照片</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_yingyezhizhaotp"  value="@item.YingyezhizhaoTP">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">经营许可编号</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_jingyingxukebh"  value="@item.JingyingxukeBH">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">经营许可有效期</label>
<div class="col-sm-10">
<input type="date" class="form-control" name="ob_base_gongyingshang_jingyingxukeyxq"  value="@string.Format("{0:yyyy-MM-dd}",item.JingyingxukeYXQ)">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">经营许可照片</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_jingyingxuketp"  value="@item.JingyingxukeTP">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">经营范围</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_jingyingfanwei"  value="@item.Jingyingfanwei">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">经营范围简码</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_jingyingfanweidm"  value="@item.JingyingfanweiDM">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">首营状态</label>
<div class="col-sm-10">
<input type="text" class="form-control" name="ob_base_gongyingshang_shouying"  value="@item.Shouying">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">录入日期</label>
<div class="col-sm-10">
<input type="date" class="form-control" name="ob_base_gongyingshang_makedate"  value="@string.Format("{0:yyyy-MM-dd}",item.MakeDate)">
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-2">输入人</label>
<div class="col-sm-10">
@Html.SelectList_Auto("ob_base_gongyingshang_makeman", "userinfo","fullname",(long)item.MakeMan)
</div>
</div>
</div>
</form>
</div>

