@using CKWMS.App_Code;
@using CKWMS.EFModels

@using CKWMS.Models
@model base_gongyingshangViewModel
@{
    ViewBag.Title = "供应商修改";
    base_gongyingshang item = ViewBag.base_gongyingshang;
}

@Html.GetFileUpload("ob_base_gongyingshang_yingyezhizhaotp", "zztp", "z", "gys", 2, 0, new Dictionary<string, string>() { { "zztp", "ob_base_gongyingshang_yingyezhizhaotp" }, { "yxtp", "ob_base_gongyingshang_jingyingxuketp" } })

<script type="text/javascript">
    //function doUpload() {
    //    var formData = new FormData($("#uploadForm")[0]);
    //    var strBack = "";
    //    var strWrite = "";
    //    var strSel = $("#btnSelect").val();
    //    $.ajax({
    //        url: 'http://localhost:6446/upload/UploadOK',
    //        type: 'POST',
    //        data: formData,
    //        async: false,
    //        cache: false,
    //        contentType: false,
    //        processData: false,
    //        success: function (returndata) {
    //            strBack = returndata;
    //        },
    //        error: function (returndata) {
    //            strBack = "fail";
    //        }
    //    });
    //    switch (strBack) {
    //        case "0":
    //            strWrite = "无传送值，上传失败！";
    //            break;
    //        case "1":
    //            strWrite = "空文件，上传失败！";
    //            break;
    //        case "2":
    //            strWrite = "错误，上传失败！";
    //            break;
    //        case "3":
    //            strWrite = "文件尺寸超过4M，上传失败！";
    //            break;
    //        case "fail":
    //            strWrite = "文件太大，上传失败！";
    //            break;
    //        default:
    //            strWrite = "文件上传成功！";
    //            break;
    //    }
    //    switch (strSel) {
    //        case "picsel1":
    //            $("#ob_base_gongyingshang_yingyezhizhaotp").val(strBack);
    //            $("#zztp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
    //            break;
    //        case "picsel2":
    //            $("#ob_base_gongyingshang_jingyingxuketp").val(strBack);
    //            $("#yxtp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
    //            break;
    //        case "":
    //        default:
    //            $("#ob_base_gongyingshang_yingyezhizhaotp").val(strBack);
    //            $("#zztp").html("<a href='/files/zhengzhao/" + strBack + "'  target='_blank'>浏览</a>");
    //            break;
    //    }
    //    alert(strWrite);
    //}

    $(document).ready(function () {

        $("#ob_base_gongyingshang_makedate").datepicker();
        $("#ob_base_gongyingshang_yingyezhizhaoyxq").datepicker();
        $("#ob_base_gongyingshang_jingyingxukeyxq").datepicker();

        $("#pl_Fanwei").hide();
        $("#bt_Fanweiadd").click(function () {
            GetFanwei();
            $("#pl_Fanwei").show();
            setTimeout(function () {
                GetData()
            }, 500)

            //隐藏小类
            setTimeout(function () {
                var fl = document.getElementsByClassName('glfl');

                for (var i = 0; i < fl.length; i++) {
                    if ($(".glfl").eq(i).text() != "0") {
                        $(".bg").eq(i).hide();
                    }
                }
            }, 50);
        });

        $("#bt_fanwei_showall").click(function () {
            $(".bg").show();
            //var tamp_jyfwjm = "";
            //var tamp_jyfwjm = "" + $("#jingyingfanweijianma").val();
            //var t = document.getElementsByClassName('checkbox');
            //$("#qxdatatable tr input[type=checkbox]").each(function () {
            //    if (this.checked) {
            //        tamp_jyfwjm = tamp_jyfwjm + $(this).parent().parent().parent().siblings().find(".bh").html() + ";";
            //    }
            //});
            //GetFanwei()
            //setTimeout(function () {
            //    var fw = document.getElementsByClassName('bh');
            //    var i = tamp_jyfwjm;
            //    var t = i.split(";");
            //    for (var k = 0; k < t.length; k++) {
            //        for (var l = 0; l < fw.length; l++) {
            //            if (t[k] == $(".bh").eq(l).text())
            //                $("input:checkbox").eq(l).attr("checked", true);
            //        }
            //    }
            //}, 200);           
        });

        $("#bt_fanwei_showdalei").click(function () {
            var fl = document.getElementsByClassName('glfl');
            for (var i = 0; i < fl.length; i++) {
                if ($(".glfl").eq(i).text() != "0") {
                    $(".bg").eq(i).hide();
                }
            }
            //var tamp_jyfwjm = "";
            //var tamp_jyfwjm = "" + $("#jingyingfanweijianma").val();
            //var t = document.getElementsByClassName('checkbox');
            //$("#qxdatatable tr input[type=checkbox]").each(function () {
            //    if (this.checked) {
            //        tamp_jyfwjm = tamp_jyfwjm + $(this).parent().parent().parent().siblings().find(".bh").html() + ";";
            //    }
            //});
            //GetFanwei1()
            //setTimeout(function () {
            //    var fw = document.getElementsByClassName('bh');
            //    var i = tamp_jyfwjm;
            //    var t = i.split(";");
            //    for (var k = 0; k < t.length; k++) {
            //        for (var l = 0; l < fw.length; l++) {
            //            if (t[k] == $(".bh").eq(l).text())
            //                $("input:checkbox").eq(l).attr("checked", true);
            //        }
            //    }
            //}, 200);          
        });


        $("#pl_close").click(function () {
            $("#pl_Fanwei").hide();
        });

        $("form").validate({
            rules: {
                ob_base_gongyingshang_daima: { required: true },
                ob_base_gongyingshang_mingcheng: { required: true },
            },
            messages: {
                ob_base_gongyingshang_daima: { required: "请输入daima" },
                ob_base_gongyingshang_mingcheng: { required: "请输入mingcheng" },
            }
        });

        $("#bt_fanwei_add").click(function () {

            var _jyfw = "";
            var _jyfwjm = "";
            var t = document.getElementsByClassName('checkbox');
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                    _jyfwjm = _jyfwjm + $(this).parent().parent().parent().siblings().find(".bh").html() + ";";
                }
            });
            var _addok = confirm("确定要修改经营范围吗？");
            if (_addok) {

                if (_jyfw.length >= 512) {
                    alert("所选数据超过范围，请重新选择。")
                }
                else{
                $("#jingyingfanwei").val(_jyfw);
                $("#jingyingfanweijianma").val(_jyfwjm);
                $("#pl_Fanwei").hide();
                }
            }          
        });
    });

    function bt_fanwei_all() {
        $(".checkbox").prop("checked", true);
    }

    function bt_fanwei_clear() {
        $(".checkbox").prop("checked", false);
    }

    function bt1() {
        $("#btnSelect").val("picsel1");
    }
    function bt2() {
        $("#btnSelect").val("picsel2");
    }
    function GetSpell() {
        $.post("/Service/GetSpellCode",
            {
                yourwords: $("#shengcheng").val()
            },
        function (response) {
            $("#daima").val(response);
        });
    }


    function GetFanwei1() {
        //var _qxmlid = $("#qxml").val();
        var filltable = "";

        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
        //GetData();
    }

    function GetFanwei() {
        //var _qxmlid = $("#qxml").val();
        var filltable = "";

        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {
                    //qxml: _qxmlid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td><div class="checkbox"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td style="width:80px"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:150px"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:800px">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:100px"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
    }

    function GetData() {

        var fw = document.getElementsByClassName('bh');
        var i = $("#jingyingfanweijianma").val();
        var t = i.split(";");

        //$(".bh").siblings().children().find(".checkbox").attr("checked", true);
        //$("input:checkbox").eq(2).attr("checked", true);
        //alert($(".bh").eq(0).text());
        //document.getElementById('checkbox').checked = true
        //$('.checkbox1').attr("checked",true);      

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < fw.length; l++) {
                if (t[k] == $(".bh").eq(l).text())
                    $("input:checkbox").eq(l).attr("checked", true);
            }
        }
    }

</script>
<div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title center" id="myModalLabel">
                    <i class="icon-file blue"></i><span class="large">
                        文件上传
                    </span>
                </h3>
            </div>
            <div class="modal-body center">
                <form id="uploadForm">
                    <input type="hidden" name="uploadtype" id="uploadtype" value="z" />
                    <input type="hidden" name="uploaditemName" id="uploaditemName" value="gys_@item.ID" />
                    <div class="form-group">
                        <input type="file" name="file" />
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="确 定" onclick="doUpload()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_gongyingshang">供应商</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    <form role="form" action="/base_gongyingshang/Update" method="post">
        <input type="hidden" name="ob_base_gongyingshang_id" value="@item.ID" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>代码</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control"  data-val="true" data-val-required="Daima 字段是必需的。" id="daima" name="ob_base_gongyingshang_daima" value="@item.Daima">
                    @*@Html.TextBoxFor(m => m.Daima, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Daima)*@
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-val="true" data-val-required="Mingcheng 字段是必需的。" id="shengcheng" name="ob_base_gongyingshang_mingcheng" value="@item.Mingcheng">
                    @*@Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Mingcheng)*@
                </div>
                <div class="col-sm-2">
                    <button type="button" class="form-control" onclick="GetSpell()">生成代码</button>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_yingyezhizhaobh" value="@item.YingyezhizhaoBH">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_yingyezhizhaoyxq" value="@string.Format("{0:yyyy-MM-dd}",item.YingyezhizhaoYXQ)" id="ob_base_gongyingshang_yingyezhizhaoyxq">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">营业执照照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ob_base_gongyingshang_yingyezhizhaotp" id="ob_base_gongyingshang_yingyezhizhaotp" value="@item.YingyezhizhaoTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="bt1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span id="zztp" class="form-control">
                        <a href="/files/zhengzhao/@item.YingyezhizhaoTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ob_base_gongyingshang_jingyingxukebh" value="@item.JingyingxukeBH">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可有效期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_jingyingxukeyxq" value="@string.Format("{0:yyyy-MM-dd}",item.JingyingxukeYXQ)" id="ob_base_gongyingshang_jingyingxukeyxq">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营许可照片</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly id="ob_base_gongyingshang_jingyingxuketp" name="ob_base_gongyingshang_jingyingxuketp" value="@item.JingyingxukeTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="bt2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yxtp">
                        <a href="/files/zhengzhao/@item.JingyingxukeTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 ">
                <label for="name" >经营范围</label><br />
                    <button type="button" class="icon-edit" id="bt_Fanweiadd">修改</button>
                </div>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" readonly id="jingyingfanwei" name="ob_base_gongyingshang_jingyingfanwei">@item.Jingyingfanwei</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">经营范围简码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly id="jingyingfanweijianma" name="ob_base_gongyingshang_jingyingfanweidm" value="@item.JingyingfanweiDM">
                </div>
            </div>
            @*<div class="form-group">
                    <label for="name" class="col-sm-2">首营状态</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ob_base_gongyingshang_shouying" value="@item.Shouying">
                        @Html.SelectList_Common("ob_base_gongyingshang_shouying", "首营状态", (int)item.Shouying)
                    </div>
                </div>*@
            <div class="form-group">
                <label for="name" class="col-sm-2">录入日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="ob_base_gongyingshang_makedate" value="@string.Format("{0:yyyy-MM-dd}",item.MakeDate)" id="ob_base_gongyingshang_makedate">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">输入人</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("ob_base_gongyingshang_makeman", "userinfo", "fullname", (long)item.MakeMan)
                </div>
            </div>
        </div>
    </form>
</div>


<div id="pl_Fanwei" class="panel panel-primary " style="position:absolute;top:0px;left:300px;width:1100px;height:600px;z-index:999">
    <div class="panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1080px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add" ><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all" onclick="bt_fanwei_all()">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear" onclick="bt_fanwei_clear()">全部取消</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showdalei">显示大类</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_showall">显示全部</button>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead>
                    <tr style="display:block">
                        <td></td>
                        <td style="width:120px">编号</td>
                        <td style="width:80px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;width:1070px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>

