@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "拣货清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/wms_jianhuo/Edit/" + u_id;
            //    location.href = url_go;
            //}
        });
        //拣货单打印
        $("#bt_fn_print").click(function () {
            var chukuid = $("#ckd").val();
            window.open("/wms_jianhuo/PrintJianhuodan?id=" + chukuid);
            $("#pl_fun").hide();
        });
        //出库复核检验单打印
        $("#bt_fn_printJY").click(function () {
            var chukuid = $("#ckd").val();
            if (chukuid.length > 0) {
                window.open("/wms_jianhuo/PrintCKfuhejianyan?id=" + chukuid);
                $("#pl_fun").hide();
            }
        });
        $("#bt_fn_show").click(function () {
            $("#pl_fun").hide();
            $("#dt_pick tbody").html("");
            GetPickList($("#ckd").val());
            $("#pl_picklist").show();
        });
        $("#pl_pl_close").click(function () {
            $("#pl_picklist").hide();
        });
        $("#pl_picklist").draggable({ handle: ".panel-heading" });
        $("#pl_fun").draggable({ handle: ".panel-heading" });
        $("#mydatatable tbody").on("dblclick", "tr", function () {
            $("#pl_fun").show();
        });
        $(".icon-gear").click(function () {
            $("#pl_fun").show();
        });
        $("#pl_fn_cancel").click(function () {
            $("#pl_fun").hide();
        });
        $("#pl_fn_close").click(function () {
            $("#pl_fun").hide();
        });
        $(".icon-hand-right").click(function () {
            var _sr = $(this).parent().parent();
            var _sc = _sr.find("input");
            var _sn = _sr.find("td").eq(11).html();
            var _sj = _sr.find("td").eq(12).html();
            var _ph = _sr.find("td").eq(6).html();
            var _xlm = _sr.find("td").eq(8).html();
            var _hpzt = _sr.find("td").eq(18).html();
            var _spid = _sc.data("sp");
            if (eval(_sj) == eval(_sn))
                return;
            $("#picknum").val("");
            _sr.addClass("gray");
            $("#selmx").val(_sc.val());
            if (_sj == "")
                $("#picknum").val(eval(_sn));
            else
                $("#picknum").val(eval(_sn) - eval(_sj));
            $("#dt_ch tbody").html("");
            GetInvetoryCargo($("#selmx").val(),_ph,_xlm,_hpzt,_spid);
            $("#pl_pk").show();
            _sr.addClass("brown");
        });
        PaintTable();
        $("#pl_pk_close").click(function () {
            $("#pl_pk").hide();
        });
        $("#bt_cancel").click(function () {
            $("#pl_pk").hide();
        });
        $("#bt_ok").click(function () {
            var _pkval = "";
            var _pkct = 0;
            $("#dt_ch tbody tr").each(function () {
                var _ch = $(this).find("td").eq(0).find("input");
                var _cksl = $(this).find("td").eq(1).find("input");
                var _cksm = $(this).find("td").eq(2).find("input");
                if (eval(_cksl.val()) > 0 && _cksl.val() != "") {
                    _pkct = _pkct + Number(_cksl.val());
                    _pkval = _pkval + $("#selmx").val() + "," + _cksl.val() + "," + _cksm.val() + "," + _ch.val() + ";";
                }
            });
            $("#pl_pk").hide();
            //$.post("/wms_jianhuo/addpickgoods", { pickgd: _pkval }, function (data) {
            //    if (data == -1)
            //        alert("拣货失败，请重试！");
            //    else {
            //        $("#mydatatable tr").each(function () {
            //            var _sv = $(this).find("input").val();
            //            if ($("#selmx").val() == _sv) {
            //                var _ssj = 0;
            //                var _son = $(this).find("td").eq(11).html();
            //                var _snn = $(this).find("td").eq(12).html();
            //                if (_snn == "")
            //                    _ssj = _pkct;
            //                else
            //                    _ssj = eval(_snn) + _pkct;
            //                $(this).find("td").eq(12).html(_ssj);
            //            }
            //        });
            //        PaintTable();
            //    }
            //});
            if (_pkct > Number($("#picknum").val()))
            {
                alert("拣货数量大于应拣数量，请重新选择！");
                return;
            }
            $.ajax({
                async: true,
                beforeSend: function () {
                    //ShowWait();
                    $.myloading({ title: "数据正在加载，请稍等..." });
                },
                complete: function () {
                    //HiddenWait();
                    $.myloading("hide");
                },
                type: "POST",
                url: "/wms_jianhuo/addpickgoods",
                data: {
                    pickgd: _pkval
                },
                success: function (data) {
                    if (data == -1)
                        alert("拣货失败，请重试！");
                    else if(data==-2){
                        alert("拣货失败，拣货数量超过可用量！");
                        location.reload();
                    }
                    else {
                        $("#mydatatable tr").each(function () {
                            var _sv = $(this).find("input").val();
                            if ($("#selmx").val() == _sv) {
                                var _ssj = 0;
                                var _son = $(this).find("td").eq(11).html();
                                var _snn = $(this).find("td").eq(12).html();
                                if (_snn == "")
                                    _ssj = _pkct;
                                else
                                    _ssj = eval(_snn) + _pkct;
                                $(this).find("td").eq(12).html(_ssj);
                            }
                        });
                        PaintTable();
                    }
                }
            });

        });
        $("#dt_pick tbody").on("dblclick", "tr", function () {
            var _pkid = $(this).find("input").val();
            var _sj = $(this).find("td").eq(10).html();
            if (eval(_sj) > 0) {
                alert("货品已经拣货下架了，不能删除记录！");
                return;
            }
            if (confirm("确定要删除这条拣货记录吗？")) {
                //$.post("/wms_jianhuo/delpick",
                //    {
                //        del: _pkid,
                //        ck:$("#ckd").val()
                //    },
                //    function (data) {
                //    if (data == -1)
                //        alert("删除失败！");
                //    if (data == -2)
                //        alert("拣货已经被完成，不能删除拣货记录！");
                //    if(data==1)
                //        location.reload();
                //    });
                $.ajax({
                    async: true,
                    beforeSend: function () {
                        ShowWait();
                    },
                    complete: function () {
                        HiddenWait();
                    },
                    type: "POST",
                    url: "/wms_jianhuo/delpick",
                    data: {
                        del: _pkid,
                        ck: $("#ckd").val()
                    },
                    success: function (data) {
                        if (data == -1)
                            alert("删除失败！");
                        if (data == -2)
                            alert("拣货已经被完成，不能删除拣货记录！");
                        if (data == 1)
                            location.reload();
                    }
                });

            }
        });
        $("#dt_ch tbody").on("blur", "input", function () {
            var _sr = $(this).parent().parent();
            var _chsl = _sr.find("td").eq(4).html();
            var _sdsl = _sr.find("td").eq(5).html();
            var _ky = eval(_chsl) - eval(_sdsl);
            var _zd = eval($("#picknum").val());
            var _sl = _sr.find("td").eq(1).find("input");
            if (eval(_sl.val()) > 0) {
                if (eval(_sl.val()) > _ky)
                    _sl.val(_ky);
                if (eval(_sl.val()) > _zd)
                    _sl.val(_zd);
            }
        });
        $("#pl_pk").draggable({ handle: ".panel-heading" });
        $("#dt_ch tbody").on("dblclick", "tr", function () {
            var _cksl = $(this).find("td").eq(1).find("input");
            var _chsl = $(this).find("td").eq(4).html();
            var _sdsl = $(this).find("td").eq(5).html();
            var _zdj = eval($("#picknum").val());
            var _kj = eval(_chsl) - eval(_sdsl);
            if (_zdj > 0) {
                if (_kj <= _zdj && _zdj > 0) {
                    _cksl.val(_kj);
                    _zdj = _zdj - _kj;
                }
                else {
                    _cksl.val(_zdj);
                    _zdj = 0;
                }
                //$("#picknum").val(_zdj);
            }
        });
    });
    function PaintTable() {
        $("#mydatatable tbody tr").each(function () {
            var _cksl = eval($(this).find("td").eq(11).html());
            var _djsl = eval($(this).find("td").eq(12).html());
            if (_cksl == _djsl)
                $(this).addClass("green");
            if (_cksl > _djsl && _djsl > 0)
                $(this).addClass("blue");
        });
    }
    function GetInvetoryCargo(_ck,_ph,_xlm,_hpzt,_spid) {
        if (_ck != null) {
            var filltable = "";
            var _ng = $("#ngck").val();
            var _url = "/wms_jianhuo/getstorecargo";
            if (_ng == "1")
                _url = "/wms_jianhuo/getstorecargo1";
            $.ajax({
                async: true,
                beforeSend: function () {
                    //ShowWait();
                    $.myloading({ title: "数据正在加载，请稍等..." });
                },
                complete: function () {
                    //HiddenWait();
                    $.myloading("hide");
                },
                type: "POST",
                url: _url,
                data: {
                    mx: _ck,
                    ph: _ph,
                    xlm: _xlm,
                    sp:_spid,
                    hz:$("#hzid").val()
                },
                success: function (data) {
                    if (data != -1) {
                        if (_ng == "1") {
                            for (var i in data) {
                                filltable = filltable + '<tr><td><input type="checkbox" value="';
                                filltable = filltable + data[i].sid;
                                filltable = filltable + '" data-kw="';
                                filltable = filltable + data[i].KuweiID;
                                filltable = filltable + '"/></td><td>';
                                filltable = filltable + '<input type="text" size="5" value=""/>';
                                filltable = filltable + '</td><td>';
                                filltable = filltable + '<input type="text" size="10" value=""/>';
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Kuwei;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].sshuliang;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].DaijianSL;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Guige;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Pihao;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Xuliema;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Zhucezheng;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
                                filltable = filltable + '</td><td>';
                                if (eval(data[i].CunhuoZT) == 0)
                                    filltable = filltable + '';
                                if (eval(data[i].CunhuoZT) == 1)
                                    filltable = filltable + '正常';
                                if (eval(data[i].CunhuoZT) == 2)
                                    filltable = filltable + '破损';
                                if (eval(data[i].CunhuoZT) == 3)
                                    filltable = filltable + '污染';
                                if (eval(data[i].CunhuoZT) == 4)
                                    filltable = filltable + '渗漏';
                                if (eval(data[i].CunhuoZT) == 5)
                                    filltable = filltable + '其它';
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].CunhuoSM;
                                filltable = filltable + '</td></tr>';
                            }
                        }
                        else {
                            for (var i in data) {
                                filltable = filltable + '<tr><td><input type="checkbox" value="';
                                filltable = filltable + data[i].sid;
                                filltable = filltable + '" data-kw="';
                                filltable = filltable + data[i].KuweiID;
                                filltable = filltable + '"/></td><td>';
                                filltable = filltable + '<input type="text" size="5" value=""/>';
                                filltable = filltable + '</td><td>';
                                filltable = filltable + '<input type="text" size="10" value=""/>';
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Kuwei;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].sshuliang;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].DaijianSL;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Guige;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Pihao;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Xuliema;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].Zhucezheng;
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
                                filltable = filltable + '</td><td>';
                                if (eval(data[i].CunhuoZT) == 0)
                                    filltable = filltable + '';
                                if (eval(data[i].CunhuoZT) == 1)
                                    filltable = filltable + '正常';
                                if (eval(data[i].CunhuoZT) == 2)
                                    filltable = filltable + '破损';
                                if (eval(data[i].CunhuoZT) == 3)
                                    filltable = filltable + '污染';
                                if (eval(data[i].CunhuoZT) == 4)
                                    filltable = filltable + '渗漏';
                                if (eval(data[i].CunhuoZT) == 5)
                                    filltable = filltable + '其它';
                                filltable = filltable + '</td><td>';
                                filltable = filltable + data[i].CunhuoSM;
                                filltable = filltable + '</td></tr>';
                            }
                        }
                    }
                    $("#dt_ch tbody").html(filltable);
                }
            });
            //$.post("/wms_jianhuo/getstorecargo/",
            //    { mx: _ck },
            //    function (data) {
            //        if (data != -1) {
            //            for (var i in data) {
            //                filltable = filltable + '<tr><td><input type="checkbox" value="';
            //                filltable = filltable + data[i].sid;
            //                filltable = filltable + '" data-kw="';
            //                filltable = filltable + data[i].KuweiID;
            //                filltable = filltable + '"/></td><td>';
            //                filltable = filltable + '<input type="text" size="5" value=""/>';
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + '<input type="text" size="10" value=""/>';
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Kuwei;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].sshuliang;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].DaijianSL;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Guige;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Zhucezheng;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
            //                filltable = filltable + '</td><td>';
            //                if (eval(data[i].CunhuoZT) == 0)
            //                    filltable = filltable + '';
            //                if (eval(data[i].CunhuoZT) == 1)
            //                    filltable = filltable + '正常';
            //                if (eval(data[i].CunhuoZT) == 2)
            //                    filltable = filltable + '破损';
            //                if (eval(data[i].CunhuoZT) == 3)
            //                    filltable = filltable + '污染';
            //                if (eval(data[i].CunhuoZT) == 4)
            //                    filltable = filltable + '渗漏';
            //                if (eval(data[i].CunhuoZT) == 5)
            //                    filltable = filltable + '其它';
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].CunhuoSM;
            //                filltable = filltable + '</td></tr>';
            //            }
            //        }
            //        $("#dt_ch tbody").html(filltable);
            //    });
        }
    }
    function GetPickList(_ck) {
        if (_ck != null) {
            var filltable = "";
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_jianhuo/getpickbyout/",
                data: { out: _ck },
                success: function (data) {
                    if (data != -1) {
                        for (var i in data) {
                            filltable = filltable + '<tr><td><input type="checkbox" value="';
                            filltable = filltable + data[i].pickid;
                            filltable = filltable + '"/></td><td>';
                            filltable = filltable + data[i].ShangpinMC;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Guige;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Pihao;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Kuwei;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].DaijianSL;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Zhongliang;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Jingzhong;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Tiji;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Jifeidun;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].ShijianSL;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].JianhuoSM;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].JianhuoRQ.toDate().Format("yyyy-MM-dd");
                            filltable = filltable + '</td></tr>';
                        }
                    }
                    $("#dt_pick tbody").html(filltable);
                }
            });

            //$.post("/wms_jianhuo/getpickbyout/",
            //    { out: _ck },
            //    function (data) {
            //        if (data != -1) {
            //            for (var i in data) {
            //                filltable = filltable + '<tr><td><input type="checkbox" value="';
            //                filltable = filltable + data[i].pickid;
            //                filltable = filltable + '"/></td><td>';
            //                filltable = filltable + data[i].ShangpinMC;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Guige;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Pihao;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Kuwei;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].DaijianSL;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Zhongliang;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Jingzhong;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Tiji;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].Jifeidun;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].ShijianSL;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].JianhuoSM;
            //                filltable = filltable + '</td><td>';
            //                filltable = filltable + data[i].JianhuoRQ.toDate().Format("yyyy-MM-dd");
            //                filltable = filltable + '</td></tr>';
            //            }
            //        }
            //        $("#dt_pick tbody").html(filltable);
            //    });
        }
    }
    function AddInfo() {
        location.href = "/wms_jianhuo/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/wms_jianhuo/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_jianhuo/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
<div id="loading"><img src="~/Imgs/wait.gif" alt="" />...系统正在加载数据,请耐心等待...</div>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">拣货-@ViewBag.chukubh</li>
    </ul>
</div>
<div class="page-content">
    <input type="hidden" id="ckd" value="@ViewBag.chukudan" />
    <input type="hidden" id="selmx" />
    <input type="hidden" id="ck" />
    <input type="hidden" id="hzid" value="@ViewBag.huozhu" />
    <input type="hidden" id="ngck" value="@ViewBag.ngck" />
    <div id="pl_data" class="row" style="overflow:auto;">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td><i class="icon-gear bigger-300"></i></td>
                    <td>拣货</td>
                    <td>商品代码</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>出库</td>
                    <td>拣货</td>
                    <td>单位</td>
                    <td>换算率</td>
                    <td>出库件数</td>
                    <td>拣货件数</td>
                    <td>备注</td>
                    <td>货品状态</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.outdetail)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID" data-sp="@item.ShangpinID"></label>
                        </td>
                        <td><i class="icon-hand-right bigger-200"></i></td>
                        <td>@item.ShangpinDM</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ == null ? "" : item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ == null ? "" : item.ShixiaoRQ)</td>
                        <td>@item.ChukuSL</td>
                        <td>@item.JianhuoSL</td>
                        <td>@item.JibenDW</td>
                        <td>@item.Huansuanlv</td>
                        <td>@string.Format("{0}", item.Huansuanlv != null && item.Huansuanlv > 0 ? item.ChukuSL / item.Huansuanlv : item.ChukuSL)</td>
                        <td>@string.Format("{0}", item.JianhuoSL==null?"":(item.Huansuanlv != null && item.Huansuanlv > 0 ? item.JianhuoSL / item.Huansuanlv : item.JianhuoSL))</td>
                        <td>@item.Beizhu</td>
                        <td>@Html.GetCommonValue_ID("存货状态", (int)item.HuopinZT)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <p class="pull-right">记录:@ViewBag.linecount 条</p>
        <p>出库数量总计:@ViewBag.totalproduct</p>
        <p>拣货数量总计:@ViewBag.JianhuoSLs</p>
        <p>出库件数总计:@ViewBag.totalbox</p>
        <p>拣货件数总计:@ViewBag.JianhuoJSs</p>
        <p>计划数量总计:@ViewBag.jhsl</p>

    </div>
</div>
<div id="pl_picklist" class="panel panel-info" style="position:fixed;top:100px;left:200px;width:1000px;height:500px;display:none;">
    <div class="panel-heading">
        <h3 class="panel-title">拣货清单<button id="pl_pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" style="width:990px;height:440px;overflow:auto;">
        <table class="table table-condensed" id="dt_pick">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>名称</td>
                    <td>规格</td>
                    <td>批号</td>
                    <td>库位</td>
                    <td>待拣</td>
                    <td>重量</td>
                    <td>净重</td>
                    <td>体积</td>
                    <td>计费吨</td>
                    <td>下架</td>
                    <td>说明</td>
                    <td>拣货时间</td>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in ViewBag.pickdetail)
                    {
                        <tr>
                            <td>
                                <label><input type="checkbox" value="@item.pickid"></label>
                            </td>
                            <td>@item.ShangpinMC</td>
                            <td>@item.Guige</td>
                            <td>@item.Pihao</td>
                            <td>@item.Kuwei</td>
                            <td>@item.DaijianSL</td>
                            <td>@item.Zhongliang</td>
                            <td>@item.Jingzhong</td>
                            <td>@item.Tiji</td>
                            <td>@item.Jifeidun</td>
                            <td>@item.ShijianSL</td>
                            <td>@item.JianhuoSM</td>
                            <td>@string.Format("{0:yyyy-MM-dd hh:mm:ss}", item.JianhuoRQ)</td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
</div>
<div id="pl_pk" class="panel panel-info" style="display:none;position:fixed;top:100px;left:200px;width:1000px;height:500px;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">拣货<button id="pl_pk_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-1 center"><p id="bt_ok" class="btn btn-default">拣货</p></div>
            <div class="col-sm-1 center"><p id="bt_cancel" class="btn btn-default">取消</p></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-5">
                <label>待拣数量：</label>
                <input type="text" size="12" id="picknum" readonly />
            </div>
        </div>
        <div class="row">
            <table class="table table-condensed" id="dt_ch">
                <caption></caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>出库数量</td>
                        <td>拣货说明</td>
                        <td>库位</td>
                        <td>存货数量</td>
                        <td>锁定数量</td>
                        <td>规格</td>
                        <td>批号</td>
                        <td>序列码</td>
                        <td>注册证</td>
                        <td>生产日期</td>
                        <td>失效日期</td>
                        <td>状态</td>
                        <td>备注</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_fun" class="panel panel-info" style="display:none;position:fixed;top:200px;left:300px;width:200px;overflow:auto;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">拣货<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="center"><p id="bt_fn_show" class="btn btn-default">清单</p></div>
            <br />
            <div class="center"><p id="bt_fn_print" class="btn btn-default">拣货</p></div>
            <br />
            <div class="center"><p id="bt_fn_printJY" class="btn btn-default">检验</p></div>
            <br />
            <div class="center"><p id="pl_fn_cancel" class="btn btn-default">取消</p></div>
        </div>
    </div>
</div>
