@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "拣货清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            //if (u_id != null) {
            //    var url_go = "/wms_jianhuo/Edit/" + u_id;
            //    location.href = url_go;
            //}
        });
        var chukuid = $("#ckd").val();
        $("#bt_fn_print").click(function () {
            window.open("/wms_jianhuo/PrintJianhuodan?id=" + chukuid);
            $("#pl_fun").hide();
        });
        $("#pl_fun").draggable({ handle: '.tuodong' }, { containment: "parent" });
        $("#mydatatable tbody").on("dblclick", "tr", function () {
            $("#pl_fun").show();
        });
        $("#pl_fn_cancel").click(function () {
            $("#pl_fun").hide();
        });
        $("#pl_fn_close").click(function () {
            $("#pl_fun").hide();
        });
        $(".icon-hand-right").click(function () {
            var _sr = $(this).parent().parent();
            var _sc = _sr.find("input");
            var _sn = _sr.find("td").eq(11).html();
            var _sj = _sr.find("td").eq(12).html();
            $("#selmx").val(_sc.val());
            if (_sj == "")
                $("#picknum").val(eval(_sn));
            else
                $("#picknum").val(eval(_sn) - eval(_sj));
            GetInvetoryCargo($("#selmx").val());
            $("#pl_pk").show();
            _sr.addClass("grey");
        });
        $("#mydatatable tbody tr").each(function () {
            var _cksl = eval($(this).find("td").eq(11).html());
            var _djsl = eval($(this).find("td").eq(12).html());
            if (_cksl == _djsl)
                $(this).addClass("green");
            if (_cksl > _djsl && _djsl > 0)
                $(this).addClass("blue");
        });
        $("#pl_pk_close").click(function () {
            $("#pl_pk").hide();
        });
        $("#bt_cancel").click(function () {
            $("#pl_pk").hide();
        });
        $("#bt_ok").click(function () {
            var _pkval = "";
            $("#dt_ch tbody tr").each(function () {
                var _ch = $(this).find("td").eq(0).find("input");
                var _cksl = $(this).find("td").eq(1).find("input");
                var _cksm = $(this).find("td").eq(2).find("input");
                if (eval(_cksl.val()) > 0 && _cksl.val() != "") {
                    _pkval = _pkval + $("#selmx").val() + "," + _cksl.val() + "," + _cksm.val() + "," + _ch.val() + ";";
                }
            });
            $.post("/wms_jianhuo/addpickgoods", { pickgd: _pkval }, function (data) {
                if (data == -1)
                    alert("拣货失败，请重试！");
                else
                    location.reload();
            });
        });
        $("#dt_pick tbody").on("dblclick", "tr", function () {
            var _pkid = $(this).find("input").val();
            var _sj = $(this).find("td").eq(10).html();
            if (eval(_sj) > 0) {
                alert("货品已经拣货下架了，不能删除记录！");
                return;
            }
            if (confirm("确定要删除这条拣货记录吗？")) {
                $.post("/wms_jianhuo/delpick", { del: _pkid }, function (data) {
                    if (data == -1)
                        alert("删除失败！");
                    else
                        location.reload();
                });
            }
        });
        $("#dt_ch tbody").on("blur", "input", function () {
            var _sr = $(this).parent().parent();
            var _chsl = _sr.find("td").eq(4).html();
            var _sdsl = _sr.find("td").eq(5).html();
            var _ky = eval(_chsl) - eval(_sdsl);
            var _zd = eval($("#picknum").val());
            var _sl = _sr.find("td").eq(1).find("input");
            if (eval(_sl.val()) > 0) {
                if (eval(_sl.val()) > _ky)
                    _sl.val(_ky);
                if (eval(_sl.val()) > _zd)
                    _sl.val(_zd);
            }
        });
        $("#pl_pk").draggable({ handle: ".panel-heading" }, { containment: "parent" });
        $("#dt_ch tbody").on("dblclick", "tr", function () {
            var _cksl = $(this).find("td").eq(1).find("input");
            var _chsl = $(this).find("td").eq(4).html();
            var _sdsl = $(this).find("td").eq(5).html();
            var _zdj = eval($("#picknum").val());
            var _kj = eval(_chsl) - eval(_sdsl);
            if (_zdj > 0) {
                if (_kj <= _zdj && _zdj > 0) {
                    _cksl.val(_kj);
                    _zdj = _zdj - _kj;
                }
                else {
                    _cksl.val(_zdj);
                    _zdj = 0;
                }
                //$("#picknum").val(_zdj);
            }
        });
    });
    function GetInvetoryCargo(_ck) {
        if (_ck != null) {
            var filltable = "";
            $.post("/wms_jianhuo/getstorecargo/",
                { mx: _ck },
                function (data) {
                    if (data != -1) {
                        for (var i in data) {
                            filltable = filltable + '<tr><td><input type="checkbox" value="';
                            filltable = filltable + data[i].sid;
                            filltable = filltable + '" data-kw="';
                            filltable = filltable + data[i].KuweiID;
                            filltable = filltable + '"/></td><td>';
                            filltable = filltable + '<input type="text" size="5" value=""/>';
                            filltable = filltable + '</td><td>';
                            filltable = filltable + '<input type="text" size="10" value=""/>';
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Kuwei;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].sshuliang;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].DaijianSL;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Guige;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Zhucezheng;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].ShengchanRQ.toDate().Format("yyyy-MM-dd");
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].ShixiaoRQ.toDate().Format("yyyy-MM-dd");
                            filltable = filltable + '</td><td>';
                            if (eval(data[i].CunhuoZT) == 0)
                                filltable = filltable + '';
                            if (eval(data[i].CunhuoZT) == 1)
                                filltable = filltable + '正常';
                            if (eval(data[i].CunhuoZT) == 2)
                                filltable = filltable + '破损';
                            if (eval(data[i].CunhuoZT) == 3)
                                filltable = filltable + '污染';
                            if (eval(data[i].CunhuoZT) == 4)
                                filltable = filltable + '渗漏';
                            if (eval(data[i].CunhuoZT) == 5)
                                filltable = filltable + '其它';
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].CunhuoSM;
                            filltable = filltable + '</td></tr>';
                        }
                    }
                    $("#dt_ch tbody").html(filltable);
                });
        }
    }
    function AddInfo() {
        location.href = "/wms_jianhuo/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/wms_jianhuo/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_jianhuo/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">拣货-@ViewBag.chukubh</li>
    </ul>
</div>
<div class="page-content">
    <input type="hidden" id="ckd" value="@ViewBag.chukudan" />
    <input type="hidden" id="selmx" />
    <input type="hidden" id="ck" />
    <div class="row" style="height:300px;overflow:auto;">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>拣货</td>
                    <td>商品代码</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>出库</td>
                    <td>拣货</td>
                    <td>单位</td>
                    <td>换算率</td>
                    <td>厂家</td>
                    <td>产地</td>
                    <td>备注</td>
                    <td>货品状态</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.outdetail)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td><i class="icon-hand-right"></i></td>
                        <td>@item.ShangpinDM</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ == null ? "" : item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ == null ? "" : item.ShixiaoRQ)</td>
                        <td>@item.ChukuSL</td>
                        <td>@item.JianhuoSL</td>
                        <td>@item.JibenDW</td>
                        <td>@item.Huansuanlv</td>
                        <td>@item.Changjia</td>
                        <td>@item.Chandi</td>
                        <td>@item.Beizhu</td>
                        <td>@Html.GetCommonValue_ID("存货状态", (int)item.HuopinZT)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row" style="overflow:auto;">
        <table class="table table-condensed" id="dt_pick">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>名称</td>
                    <td>规格</td>
                    <td>批号</td>
                    <td>库位</td>
                    <td>待拣</td>
                    <td>重量</td>
                    <td>净重</td>
                    <td>体积</td>
                    <td>计费吨</td>
                    <td>下架</td>
                    <td>说明</td>
                    <td>拣货人</td>
                    <td>拣货时间</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.pickdetail)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.pickid"></label>
                        </td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Kuwei</td>
                        <td>@item.DaijianSL</td>
                        <td>@item.Zhongliang</td>
                        <td>@item.Jingzhong</td>
                        <td>@item.Tiji</td>
                        <td>@item.Jifeidun</td>
                        <td>@item.ShijianSL</td>
                        <td>@item.JianhuoSM</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.Jianhuoren)</td>
                        <td>@string.Format("{0:yyyy-MM-dd hh:mm:ss}", item.JianhuoRQ)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="pl_pk" class="panel panel-info" style="display:none;position:fixed;top:100px;left:200px;width:1000px;height:500px;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">拣货<button id="pl_pk_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-1 center"><p id="bt_ok" class="btn btn-default">拣货</p></div>
            <div class="col-sm-1 center"><p id="bt_cancel" class="btn btn-default">取消</p></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-5">
                <label>待拣数量：</label>
                <input type="text" size="12" id="picknum" readonly />
            </div>
        </div>
        <div class="row">
            <table class="table table-condensed" id="dt_ch">
                <caption></caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>出库数量</td>
                        <td>拣货说明</td>
                        <td>库位</td>
                        <td>存货数量</td>
                        <td>锁定数量</td>
                        <td>规格</td>
                        <td>注册证</td>
                        <td>生产日期</td>
                        <td>失效日期</td>
                        <td>状态</td>
                        <td>备注</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_fun" class="panel panel-info" style="display:none;position:fixed;top:200px;left:300px;width:200px;height:200px;overflow:auto;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">拣货<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="center"><p id="bt_fn_print" class="btn btn-default">打印</p></div>
            <br />
            <div class="center"><p id="pl_fn_cancel" class="btn btn-default">取消</p></div>
        </div>
    </div>
</div>
