@using CKWMS.App_Code
@using CKWMS.Models
@model wms_cangkuViewModel
@{ViewBag.Title = "仓库添加";}
@Html.GetFileUpload("yyzztp", "yytp", "z", "scqy", 2, 0, new Dictionary<string, string>() { { "yytp", "yyzztp" }, { "xktp", "jyxktp" } })

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {

            document.getElementById("jiancheng").focus();
            $("#pl_Renyuan").draggable({ handle: '.tuodong' })
            GetRenyuan()

            $("#pl_close").click(function () {
                $("#pl_Renyuan").hide();
                Getry();
            });

            $("#bt_renyuan_add").click(function () {

                var valry = $('input:radio[name="radiobox"]:checked').parent().parent().parent().siblings().find(".mingzi").html();
                if (valry == null) {
                    alert("请选择一位负责人")
                }
                else {
                    $("#fuzeren").val(valry);
                    $("#pl_Renyuan").hide();
                }

            })
        })
        function GetRenyuan() {
            var filltable = "";
            $.post(
                    "/base_renyuanxx/GetRenyuan",
                    {

                    },
                    function (data) {
                        for (var i in data) {
                            filltable = filltable + '<tr style="display:table;width:100%;table-layout:fixed;width: calc( 100% - 1em )"><td style="width:5%"><div class="radio" ><label><input name="radiobox" type="radio" class="radioid" value="';
                            filltable = filltable + data[i].ID;
                            filltable = filltable + '"></label></div></td><td style="width:15%"><span class="mingzi">';
                            filltable = filltable + data[i].Mingcheng;
                            filltable = filltable + '</td><td style="width:15%"">';
                            //filltable = filltable + data[i].Xingbie;
                            //filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].Bumen;
                            filltable = filltable + '</td><td style="width:15%"">';
                            filltable = filltable + data[i].Zhiwei;
                            filltable = filltable + '</td><td style="width:15%">';
                            filltable = filltable + data[i].Zhize;
                            filltable = filltable + '</td><td style="width:15%">';
                            filltable = filltable + data[i].Beizhu;
                            filltable = filltable + '</td></tr>';
                        }
                        $("#pl_Renyuan tbody").html(filltable);
                        Getry();
                    });
        }
        function Bt_Renyuanadd() {
            document.getElementById("pl_Renyuan").removeAttribute("hidden");
            $("#pl_Renyuan").show();
        }

        function Getry() {
            var mz = document.getElementsByClassName('mingzi');
            var tempry = $("#fuzeren").val();
            for (var i = 0; i < mz.length; i++) {
                if (tempry == $(".mingzi").eq(i).html())
                    $("#rydatatable tr input[type=radio]").eq(i).prop("checked", true);
            }
        }



    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_cangku">仓库</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "wms_cangku", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="btnSelect" value="" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                @Html.LabelFor(m => m.Jiancheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Jiancheng, new { @class = "form-control" ,id = "jiancheng"})
                    @Html.ValidationMessageFor(m => m.Jiancheng)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mingcheng)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ZhuceDZ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ZhuceDZ, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShouhuoDZ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShouhuoDZ, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.FuzerenID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FuzerenID, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.Fuzeren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Fuzeren, new { @class = "form-control",id="fuzeren", @readonly = true })
                </div>
                <div class="col-sm-2">
                    <button type="button" class="form-control" id="bt_Renyuanadd" onclick="Bt_Renyuanadd()">增加</button>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LianxiDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LianxiDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FapiaoTT, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FapiaoTT, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YinhangZH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YinhangZH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Shuihao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Shuihao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YYZZTP, new { @class = "control-label col-sm-2" })
                @*<div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YYZZTP, new { @class = "form-control" })
                </div>*@
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly id="yyzztp" name="yyzztp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control"  data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="yytp">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JYXKTP, new { @class = "control-label col-sm-2" })
                @*<div class="col-sm-10">
                    @Html.TextBoxFor(m => m.JYXKTP, new { @class = "form-control" })
                </div>*@
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly id="jyxktp" name="jyxktp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="xktp">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" readonly type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("MakeMan", "userinfo", "fullname")*@
                    <input type="text" readonly class="form-control" value="@Html.GetDataValue_ID("userinfo", "全名", (int)Session["user_id"])" />
                </div>
            </div>
        </div>
    }
</div>


<div id="pl_Renyuan" class="panel panel-primary" hidden style="display:none;position:fixed;top:100px;left:200px;width:640px;height:400px;z-index:999;">
    <div class="tuodong panel-heading">
        <h3 class="panel-title">人员信息<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_renyuan_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="rydatatable">
                <caption></caption>
                <thead style="display:table;width:100%;table-layout:fixed;width: calc( 100% - 1em )" class="tuodong">
                    <tr style="display:table;width:100%;table-layout:fixed;width: calc( 100% - 1em )">
                        <td style="width:5%"></td>
                        <td style="width:15%">姓名</td>
                        @*<td>性别</td>*@
                        <td style="width:15%">部门</td>
                        <td style="width:15%">职位</td>
                        <td style="width:15%">职责</td>
                        <td style="width:15%">备注</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:265px;width:620px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>


