@using CKWMS.App_Code
@using CKWMS.Models
@{
    ViewBag.Title = "出库信息";
}
<div class="page-content">
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td>委托方企业名称</td>
                    <td>出库日期</td>
                    <td>出库类型</td>
                    <td>产品名称</td>
                    <td>规格(型号)</td>
                    <td>生产企业</td>
                    <td>产品注册证号/备案凭证号</td>
                    <td>生产批号/序列号</td>
                    <td>储运条件</td>
                    <td>单位</td>
                    <td>数量</td>
                    <td>收货客户名称</td>
                    <td>收货地址</td>
                    <td>联系人</td>
                    <td>联系方式</td>
                    <td>备注</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.outrec)
                {
                    <tr>
                        <td>@Html.GetDataValue_ID("货主", "名称", (int)item.HuozhuID)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ChukuRQ == null ? "" : item.ChukuRQ)</td>
                        <td>@Html.GetCommonValue_ID("出库类型", (int)item.YewuLX)</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Guige</td>
                        <td>@item.Changjia</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Pihao/@item.Xuliema</td>
                        <td>@item.ChunyunYQ</td>
                        <td>@item.JibenDW</td>
                        <td>@item.ChukuSL</td>
                        <td>@item.KehuMC</td>
                        <td>@item.Yunsongdizhi</td>
                        <td>@item.Lianxiren</td>
                        <td>'@item.LianxiDH</td>
                        <td>@item.Beizhu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
