@using CKWMS.App_Code
@using CKWMS.Models
@model wms_kuweiViewModel
@{ViewBag.Title = "库位添加";}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //时间
        $("#MakeDate").datepicker();

        //仓库->区域
        $("#CangkuID").change(function () {
            var CkID = $("#CangkuID").val();

            GetQuyuData(CkID);
        });

    });
    
    function GetQuyuData(id) {
        var _CkID = id;
        var filltable = "";
        $.post(
                "/wms_cangkuqy/getData",
                {
                    cangkuid: _CkID
                },
                function (data) {
                    if (data == "-1") {

                    } else {
                        for (var i in data) {
                            filltable = filltable + '<option value="';
                            filltable = filltable + data[i].ID;
                            filltable = filltable + '">';
                            filltable = filltable + data[i].Mingcheng;
                            filltable = filltable + '</option>';
                        }
                        $("#select_quyu").html(filltable);
                    }
                }
            )
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_kuwei">库位</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "wms_kuwei", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="makeman" name="makeman" value="@Session["user_id"]" />
        <div class="page-header">
            <p>
                <button type="submit" id="kuwei_save" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label class="col-sm-2">仓库</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("CangkuID", "仓库", "")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">区域</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.QuyuID, new { @class = "form-control" })*@
                    <select name="quyuid" id="select_quyu" style="width:100%;"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huojia, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huojia, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Censhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Censhu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PiciSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PiciSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MaxWeight, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.MaxWeight, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MaxVolumn, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.MaxVolumn, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.QiyongSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.QiyongSF, new { @class = "form-control" })*@
                    @Html.CheckBoxFor(m => m.QiyongSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" readonly type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名",(int)ViewBag.userid)" />
                </div>
            </div>
        </div>
    }
</div>
