@using CKWMS.App_Code
@using CKWMS.Models
@model wms_kuweiViewModel
@{ViewBag.Title = "库位添加";}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {

        //仓库->区域
        $("#CangkuID").change(function () {
            var CkID = $("#CangkuID").val();
            if (CkID == 0) {
                $("#select_quyu").val(0);
                GetQuyuData(0);
                return;
            }
            GetQuyuData(CkID);
        });

        //区域
        $("#select_quyu").change(function () {
            Changeqy();
        })

        $("#huojia").change(function () {
            var hj = $("#huojia").val();
            if (!/^[0-9]*$/.test(hj)) { alert("请输入数量!");$("#huojia").val(""); var hj = $("#huojia").val(); }
            if (hj > 200) { alert("数量超过范围！（最多200个）"); $("#huojia").val(""); var hj = $("#huojia").val(); }
            var hj1 = $("#huojia1").val();
            var hj2 = $("#huojia2").val();
            Chhuojia(hj, hj1, hj2);
        })
        $("#huojia1").change(function () {
            var hj = $("#huojia").val();
            var hj1 = $("#huojia1").val();
            if (!/^[0-9]*$/.test(hj1)) {
                if (!/^[A-Za-z]+$/.test(hj1)) {
                    alert("请输入正确的内容!"); $("#huojia1").val(""); var hj1 = $("#huojia1").val();
                }
                else if (hj1.length > 1) {
                    alert("只能输入一位字母"); $("#huojia1").val(""); var hj1 = $("#huojia1").val();
                }
            }
            var hj2 = $("#huojia2").val();
            Chhuojia(hj, hj1, hj2);
        })

        $("#lieshu").change(function () {
            var ls = $("#lieshu").val();
            if (!/^[0-9]*$/.test(ls)) { alert("请输入数量!"); $("#lieshu").val(""); var ls = $("#lieshu").val(); }
            if (ls > 50) { alert("数量超过范围！（最多50列）"); $("#lieshu").val(""); var ls = $("#lieshu").val(); }
            var ls1 = $("#lieshu1").val();
            var ls2 = $("#lieshu2").val();
            Chlieshu(ls, ls1, ls2);
        })
        $("#lieshu1").change(function () {
            var ls = $("#lieshu").val();
            var ls1 = $("#lieshu1").val();
            if (!/^[0-9]*$/.test(ls1)) {
                if (!/^[A-Za-z]+$/.test(ls1)) {
                    alert("请输入正确的内容!"); $("#lieshu1").val(""); var ls1 = $("#lieshu1").val();
                }
                else if (ls1.length > 1) {
                    alert("只能输入一位字母"); $("#lieshu1").val(""); var ls1 = $("#lieshu1").val();
                }
            }
            var ls2 = $("#lieshu2").val();
            Chlieshu(ls, ls1, ls2);
        })
        $("#censhu").change(function () {
            var cs = $("#censhu").val();
            if (!/^[0-9]*$/.test(cs)) { alert("请输入数量!"); $("#censhu").val(""); var cs = $("#censhu").val(); }
            if (cs > 10) { alert("数量超过范围！（最多10层）"); $("#censhu").val(""); var cs = $("#censhu").val(); }
            var cs1 = $("#censhu1").val();
            var cs2 = $("#censhu2").val();
            Chcenshu(cs, cs1, cs2);
        })
        $("#censhu1").change(function () {
            var cs = $("#censhu").val();
            var cs1 = $("#censhu1").val();
            if (!/^[0-9]*$/.test(cs1)) {
                if (!/^[A-Za-z]+$/.test(cs1)) {
                    alert("请输入正确的内容!"); $("#censhu1").val(""); var cs1 = $("#censhu1").val();
                }
                else if (cs1.length > 1) {
                    alert("只能输入一位字母"); $("#censhu1").val(""); var cs1 = $("#censhu1").val();
                }
            }
            var cs2 = $("#censhu2").val();
            Chcenshu(cs, cs1, cs2);
        })

        $("#sub").click(function () {
            if ($("#huojia").val() == "" || $("#lieshu").val() == "" || $("#censhu").val() == "" || $("#select_quyu").val() == null || $("#huojia1").val() == "起始序号" || $("#lieshu1").val() == "起始序号" || $("#censhu1").val() == "起始序号" || $("#huojia1").val() == "" || $("#lieshu1").val() == "" || $("#censhu1").val() == "") {
                alert("请完整填写信息！")
            }
            else if (($("#qydaima").val().length + $("#huojia1").val().length + $("#lieshu1").val().length + $("#censhu1").val().length) > 22)
            {
                alert("库位太长！")
            }
            else { 
                form.submit();
            }
        })
    
        var form = $("#tempform");
        form.submit(function () {
            //$("#qyiddaima").val($("#select_quyu option:selected").val());
            loadingShow_save();
            if ($("#huojia").val() == "" || $("#lieshu").val() == "" || $("#censhu").val() == "" || $("#select_quyu").val() == null || $("#huojia1").val() == "起始序号" || $("#lieshu1").val() == "起始序号" || $("#censhu1").val() == "起始序号"||$("#huojia1").val() == "" || $("#lieshu1").val() == "" || $("#censhu1").val() == "") {
                Finished();
            }
            $.post(form.attr("action"),
                  form.serialize(),              
                  function (result, status) {
                      //alert(status);
                      if (result._flag == 1) {
                          Finished();
                          alert("添加成功");
                          loadingShow_complete();
                          location.href = "/wms_kuwei/Index";                        
                      }
                      else if (result._flag == -1) {
                          Finished();
                          alert("添加失败");
                      }
                      else {
                          Finished();
                          alert("添加失败");
                      }
                  },
                    "json");
            return false;

        });

        //$("#12345").click(function () {
            
        //    $("#qyiddaima").val($("#select_quyu option:selected").val());
          
        //})

    });

    //货架结束序号自动生成
    function Chhuojia(hj,hj1,hj2) {
        var tempz;
        if (hj != "" && hj1 != "" && hj1 != "起始序号") {
            if (hj1.length == 1) {
                if (hj1.charCodeAt() >= 48 && hj1.charCodeAt() <= 57) {
                    $("#huojia2").val(Number(hj) + Number(hj1) - 1);
                }
                else if (hj1.charCodeAt() >= 65 && hj1.charCodeAt() <= 90) {
                    tempz = Number(hj) + Number(hj1.charCodeAt()) - 1;
                    if (tempz > 90) {
                        $("#huojia2").val("范围不符")
                    }
                    else {
                        $("#huojia2").val(String.fromCharCode(tempz))
                    }
                }
                else if (hj1.charCodeAt() >= 97 && hj1.charCodeAt() <= 122) {
                    tempz = Number(hj) + Number(hj1.charCodeAt()) - 1;
                    if (tempz > 122) {
                        $("#huojia2").val("范围不符")
                    }
                    else {
                        $("#huojia2").val(String.fromCharCode(tempz))
                    }
                }
            }
            else {
                $("#huojia2").val(Number(hj) + Number(hj1) - 1);
            }
        }
    }

    //列数结束序号自动生成
    function Chlieshu(ls, ls1, ls2) {
        var tempz;
        if (ls != "" && ls1 != "" && ls1 != "起始序号") {
            if (ls1.length == 1) {
                if (ls1.charCodeAt() >= 48 && ls1.charCodeAt() <= 57) {
                    $("#lieshu2").val(Number(ls) + Number(ls1) - 1);
                }
                else if (ls1.charCodeAt() >= 65 && ls1.charCodeAt() <= 90) {
                    tempz = Number(ls) + Number(ls1.charCodeAt()) - 1;
                    if (tempz > 90) {
                        $("#lieshu2").val("范围不符")
                    }
                    else {
                        $("#lieshu2").val(String.fromCharCode(tempz))
                    }
                }
                else if (ls1.charCodeAt() >= 97 && ls1.charCodeAt() <= 122) {
                    tempz = Number(ls) + Number(ls1.charCodeAt()) - 1;
                    if (tempz > 122) {
                        $("#lieshu2").val("范围不符")
                    }
                    else {
                        $("#lieshu2").val(String.fromCharCode(tempz))
                    }
                }
            }
            else {
                $("#lieshu2").val(Number(ls) + Number(ls1)-1);
            }
        }
    }
    //层数结束序号自动生成
    function Chcenshu(cs, cs1, cs2) {
        var tempz;
        if (cs != "" && cs1 != "" && cs1 != "起始序号") {
            if (cs1.length == 1) {
                if (cs1.charCodeAt() >= 48 && cs1.charCodeAt() <= 57) {
                    $("#censhu2").val(Number(cs) + Number(cs1) - 1);
                }
                else if (cs1.charCodeAt() >= 65 && cs1.charCodeAt() <= 90) {
                    tempz = Number(cs) + Number(cs1.charCodeAt()) - 1;
                    if (tempz > 90) {
                        $("#censhu2").val("范围不符")
                    }
                    else {
                        $("#censhu2").val(String.fromCharCode(tempz))
                    }
                }
                else if (cs1.charCodeAt() >= 97 && cs1.charCodeAt() <= 122) {
                    tempz = Number(cs) + Number(cs1.charCodeAt()) - 1;
                    if (tempz > 122) {
                        $("#censhu2").val("范围不符")
                    }
                    else {
                        $("#censhu2").val(String.fromCharCode(tempz))
                    }
                }
            }
            else {
                $("#censhu2").val(Number(cs) + Number(cs1) - 1);
            }
        }
    }
    //获取区域代码
    function Changeqy() {
        var qyid = $("#select_quyu option:selected").val();
        $.post("/wms_cangkuqy/GetDaima",
            {
                id: qyid
            },
        function (response) {
            $("#qydaima").val(response);
        });
    }



    function GetQuyuData(id) {
        var _CkID = id;
        var filltable = "";
        if (_CkID != 0) {
            $.post(
                    "/wms_cangkuqy/getData",
                    {
                        cangkuid: _CkID
                    },
                    function (data) {
                        if (data == "-1") {

                        } else {
                            for (var i in data) {
                                filltable = filltable + '<option class = "qyid" value="';
                                filltable = filltable + data[i].ID;
                                filltable = filltable + '">';
                                filltable = filltable + data[i].Mingcheng;
                                filltable = filltable + '</option>';
                            }
                            $("#select_quyu").html(filltable);
                            $("#select_quyu").change()
                        }
                    }
                )
        }
        else {
            $("#select_quyu").html(filltable);
            $("#select_quyu").change()
        }
    }


    function loadingShow_save() {
        var loadingContainer = $("div.loading");
        if (loadingContainer.length <= 0) {

            loadingContainer = $("<div>", { Class: "loading", id: "loading" });
            var img = $("<img>", { src: "/Imgs/LOADING.gif" });
            loadingContainer.html("");
            loadingContainer.append(img).css({
                position: "fixed",
                zIndex: "9999",
                textAlign: "center",
                //paddingTop: "18px",
                //fontSize: "14px",
                top: "30%",
                left: "40%",
                height: "300px",
                width: "400px"
            });
            //document.body.appendChild(loadingContainer);
            loadingContainer.appendTo('body');
            loadingContainer.append("<p>正在保存，请耐心等待</p>");
        }
        //$(loadingContainer).show();
    }

    function loadingShow_complete() {
        var loadingContainer = $("div.loading");
        if (loadingContainer.length <= 0) {

            loadingContainer = $("<div>", { Class: "loading", id: "loading" });
            var img = $("<img>", { src: "/Imgs/LOADING.gif" });
            loadingContainer.html("");
            loadingContainer.append(img).css({
                position: "fixed",
                zIndex: "9999",
                textAlign: "center",
                //paddingTop: "18px",
                //fontSize: "14px",
                top: "30%",
                left: "40%",
                height: "300px",
                width: "400px"
            });
            loadingContainer.appendTo('body');
            loadingContainer.append("<p>正在跳转，请耐心等待</p>");
        }
       
    }

    function Finished() {
        $("#loading").remove();
    }



</script>


<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_kuwei">库位</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Savekw", "wms_kuwei", FormMethod.Post, new { @role = "form", id = "tempform" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="makeman" name="makeman" value="@Session["user_id"]" />
        <input type="hidden" id="qydaima" name="qydaima" />
        @*<input type="hidden" id="qyiddaima" name="qyiddaima" />*@
        @*<button type="button" id="12345" >12345</button>*@
        <div class="page-header">
            <p>
                <button type="button" id="sub" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>

            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label class="col-sm-2"><i class="icon-leaf red"></i>仓库</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("CangkuID", "仓库", "")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2"><i class="icon-leaf red"></i>区域</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.QuyuID, new { @class = "form-control" })*@
                    <select name="quyuid" id="select_quyu" style="width:100%;" required></select>
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class = "control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Huojia)
                </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Huojia, new { @class = "form-control", id = "huojia" })
                        @*<input class="form-control" type="text" id="huojia" name="Huojia" required>*@
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="huojia1" name="Huojia1" value="起始序号" onfocus="javascript: if (this.value == '起始序号') this.value = '';" required>
                    </div>
                    <div class="col-sm-1">
                        <label>-</label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="huojia2" name="Huojia2" value="结束序号" onfocus="javascript: if (this.value == '结束序号') this.value = '';">
                    </div>
                </div>
            <div class="form-group">
                <div style="margin-left:250px" id="yanzheng1">
                    @Html.ValidationMessageFor(m => m.Huojia)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Lieshu)
                </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Lieshu, new { @class = "form-control" ,id = "lieshu" })
                        @*<input class="form-control" type="text" id="lieshu" name="Lieshu" required>*@
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="lieshu1" name="Lieshu1" value="起始序号" onfocus="javascript: if (this.value == '起始序号') this.value = '';" required>
                    </div>
                    <div class="col-sm-1">
                        <label>-</label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="lieshu2" name="Lieshu2" value="结束序号" onfocus="javascript: if (this.value == '结束序号') this.value = '';">
                    </div>
                </div>
            <div class="form-group">
                <div style="margin-left:250px" id="yanzheng2">
                    @Html.ValidationMessageFor(m => m.Lieshu)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Censhu)
                </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Censhu, new { @class = "form-control", id = "censhu" })
                        @*<input class="form-control" type="text" id="censhu" name="Censhu" required>*@
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="censhu1" name="Censhu1" value="起始序号" onfocus="javascript: if (this.value == '起始序号') this.value = '';" required>
                    </div>
                    <div class="col-sm-1">
                        <label>-</label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="censhu2" name="Censhu2" value="结束序号" onfocus="javascript: if (this.value == '结束序号') this.value = '';">
                    </div>
                </div>
            <div class="form-group">
                <div style="margin-left:250px"  id="yanzheng3">
                    @Html.ValidationMessageFor(m => m.Censhu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PiciSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PiciSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MaxWeight, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.MaxWeight, new { @class = "form-control" })
                </div>              
                <div class="col-sm-2">
                    <input value="千克(KG)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MaxVolumn, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.MaxVolumn, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input value="立方米(M^3)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.QiyongSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.QiyongSF, new { @class = "form-control" })*@
                    @Html.CheckBoxFor(m => m.QiyongSF, new { @class = "form-control",@checked =true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" readonly type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="MakeDate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)" />
                </div>
            </div>
        </div>
    }
</div>
