@using CKWMS.App_Code
@using CKWMS.Models
@model wms_kuweiViewModel
@{
    ViewBag.Title = "库位修改";
}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        $("#CangkuID").attr("disabled", "disabled");
        GetQuyuData();//从wms_cangkuqyController获取区域'id'&'Mingcheng'
        //区域字段:后台int值转为对应的文本
        setTimeout(function () {
            var quyu_length = $("#select_quyu option").length;
            var quyuid = $("#quyuid").val();
            for (var i = 0; i < quyu_length; i++) {
                if (quyuid == $(".quyu_id").eq(i).val()) {
                    $("#quyu_text").val($(".quyu_id").eq(i).text());
                }
            }
            //通过区域文本值获取仓库值
            var quyu = $("#quyu_text").val();
            GetCangku(quyu);//获取'仓库ID'
        }, 300);
    });
    function GetCangku(qy) {
        var _quyu = qy;
        var filltable = "";
        $.post(
                "/wms_cangkuqy/getCangkuData",
                {
                    quyu: _quyu
                },
                function (data) {
                    if (data == "-1") {

                    } else {
                        for (var i in data) {
                            filltable = filltable + data[i].CangkuID;
                        }
                        $("#CangkuID").val(filltable);
                    }
                }
            )
    };
    function GetQuyuData() {
        var filltable = "";
        $.post(
                "/wms_cangkuqy/getData1",
                {},
                function (data) {
                    if (data == "-1") {

                    } else {
                        for (var i in data) {
                            filltable = filltable + '<option class="quyu_id" value="';
                            filltable = filltable + data[i].ID;
                            filltable = filltable + '">';
                            filltable = filltable + data[i].Mingcheng;
                            filltable = filltable + '</option>';
                        }
                        $("#select_quyu").html(filltable);
                    }
                }
            )
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/wms_kuwei">库位</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Update", "wms_kuwei", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" name="makedate" value="@string.Format("{0:yyyy-MM-dd}",DateTime.Now)" />
        <input type="hidden" name="makeman" value="@Session["user_id"]" />
        <input type="hidden" name="quyuid" id="quyuid" value="@ViewData.Model.QuyuID" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            @*仓库*@
            <div class="form-group">
                <label class="col-sm-2">仓库</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("CangkuID", "仓库", "", 0)
                    <select id="select_cangku" style="width:100%;display:none;"></select>
                </div>
            </div>
            @*区域*@
            <div class="form-group">
                <label class="col-sm-2">区域</label>
                <div class="col-sm-10">
                    <input type="text" id="quyu_text" readonly class="form-control" value="" />
                    <select id="select_quyu" style="width:100%;display:none;"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huojia, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huojia, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Censhu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Censhu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShangpinSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PiciSL, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PiciSL, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MaxWeight, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.MaxWeight, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MaxVolumn, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.MaxVolumn, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.QiyongSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.QiyongSF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="MakeDate" readonly type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewData.Model.MakeMan)*@
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)" />
                </div>
            </div>
        </div>
    }
</div>
