@using CKWMS.App_Code
@using CKWMS.Models
@model base_yunshugsViewModel
@{
    ViewBag.Title = "运输公司修改";
}
@Html.GetFileUpload("ZhizhaoTP", "zztp", "z", "cus", 2, 0, new Dictionary<string, string>() { { "zztp", "ZhizhaoTP" } })
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //提交验证
        $("#bt_update").click(function () {
            if ($("#Jiancheng").val() == null || $("#Jiancheng").val() == "") {
                alert("请输入简称。");
            } else if ($("#Mingcheng").val() == null || $("#Mingcheng").val() == "") {
                alert("请输入名称。");
            } else if ($("#Leixing").val() == null || $("#Leixing").val() == "") {
                alert("请选择类别。");
            } else {
                $("#ysgs_form").submit();
            }
        });
    });
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_yunshugs">运输公司</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Update", "base_yunshugs", FormMethod.Post, new { @role = "form", id = "ysgs_form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy/MM/dd}",DateTime.Now) />
        <div class="page-header">
            <p>
                <button type="button" id="bt_update" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>简称</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Jiancheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>名称</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>类型</label>
                <div class="col-sm-10">
                    @Html.SelectList_Common("Leixing", "运输公司类型",(long)ViewData.Model.Leixing)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Miaoshu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Miaoshu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LianxiDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LianxiDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fuzeren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Fuzeren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FuzeDH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FuzeDH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JiezhangFS, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.JiezhangFS, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YingyeZZ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.YingyeZZ, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ZhizhaoTP, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="ZhizhaoTP" id="ZhizhaoTP" value="@Model.ZhizhaoTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="zztp">
                        <a href="/files/zhengzhao/@Model.ZhizhaoTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(m => m.Col2, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(m => m.Col3, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col3, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@string.Format("{0:yyyy/MM/dd}",ViewData.Model.MakeDate)" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)" />
                </div>
            </div>
        </div>
    }
</div>
