@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "存货清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
        });
        $("#mydatatable tbody tr").each(function () {
            if ($(this).find("td").eq(14).html() == "不合格")
                $(this).addClass("red");
            if ($(this).find("td").eq(15).html() != "正常")
                $(this).add("blue");
        });
    });
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "RKMXID";
        scm.ItemTitle = "明细序号";
        scm.ItemType = "System.Int32";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "RKMXID";
            scm.ItemTitle = "明细序号";
            scm.ItemType = "System.Int32";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">存货</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "存货_条件组合查询", "/wms_cunhuo/index", "wms_cunhuo_currentstorage", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        </p>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>入库单</td>
                    <td>库位</td>
                    <td>入库日期</td>
                    <td>商品代码</td>
                    <td>商品名称</td>
                    <td>规格</td>
                    <td>注册证</td>
                    <td>批号</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>序列码</td>
                    <td>数量</td>
                    <td>单位</td>
                    <td>质量</td>
                    <td>状态</td>
                    <td>说明</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_storage_v)
                {
                    <tr>
                        <td>
                                <label><input type="checkbox" value="@item.sid"></label>
                        </td>
                        <td>@item.RukudanBH</td>
                        <td>@item.Kuwei</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.RukuRQ == null ? "" : item.RukuRQ)</td>
                        <td>@item.ShangpinDM</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Guige</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Pihao</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ == null ? "" : item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ == null ? "" : item.ShixiaoRQ)</td>
                        <td>@item.Xuliema</td>
                        <td>@item.sshuliang</td>
                        <td>@item.JibenDW</td>
                        <td>@Html.Encode(item.HegeSF == true? "合格":"不合格")</td>
                        <td>@Html.GetCommonValue_ID("存货状态",(int)item.CunhuoZT)</td>
                        <td>@item.CunhuoSM</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
