@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "库内移位清单";
}
<div class="page-content">
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td>移位商品</td>
                    <td>库位编号</td>
                    <td>移出数量</td>
                    <td>新库位编号</td>
                    <td>移库日期</td>
                    <td>操作人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_yiwei)
                {
                    <tr>
                        <td>@Html.GetDataValue_ID("收货", "全部", (int)item.SHID)</td>
                        <td>@item.KWBH</td>
                        <td>@item.Shuliang</td>
                        <td>@item.XKWBH</td>
                        <td>@string.Format("{0:d}", item.MakeDate)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




