@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "库内移位清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#pl_loc").draggable({ handle: ".panel-heading" });
        $("#bt_stomove").click(function () {
            window.open("/wms_yiwei/storagelocationmove", "_blank");
        });
        $("#bt_locmove").click(function () {
            $("#pl_loc").show();
        });
        $("#bt_fn_move").click(function () {
            if ($("#kw").val() == "" || $("#xkw").val() == "")
            {
                alert("请设定移动的库位后再提交！");
                return;
            }
            if ($("#kw").val() == $("#xkw").val()) {
                alert("请输入正确的库位！");
                return;
            }
            $.ajax({
                async: true,
                beforeSend: function () {
                    ShowWait();
                },
                complete: function () {
                    HiddenWait();
                },
                type: "POST",
                url: "/wms_yiwei/locationchange",
                data: {
                    oloc: $("#kw").val(),
                    nloc: $("#xkw").val()
                },
                success: function (data) {
                    if (data == -1)
                        alert("传送参数出错，稍后再试！");
                    if (data == -2)
                        alert("原库位已无货品！");
                    if (data == -3)
                        alert("目标库位不正确，请重新输入！");
                    if (data == -4)
                        alert("原库位有商品被锁定，不能进行库位调整！");
                    if (data == 1)
                        location.reload();
                }
            });
        });
        $("#bt_print").click(function () {
            window.open("/wms_yiwei/PrintYiwei");
        });

        $("#bt_fn_cancel").click(function () {
            LocClose();
        });
        $("#pl_fn_close").click(function () {
            LocClose();
        });
    });
    function LocClose() {
        $("#kw").val("");
        $("#xkw").val("");
        $("#pl_loc").hide();
    }
    function AddInfo() {
        location.href = "/wms_yiwei/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/wms_yiwei/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/wms_yiwei/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "KWBH";
        scm.ItemTitle = "历史库位";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "XKWBH";
        scm.ItemTitle = "现库位";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "KWBH";
            scm.ItemTitle = "历史库位";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "XKWBH";
            scm.ItemTitle = "现库位";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">移位记录</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "库内移位_条件组合查询", "/wms_yiwei/index", "wms_yiwei_index", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            @*<button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
                <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
                <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>*@
            <button type="button" class="btn btn-default " id="bt_locmove"><i class="icon-bookmark"></i>库位调整</button>
            <button type="button" class="btn btn-default " id="bt_stomove"><i class="icon-move"></i>存货移位</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_print"><i class="icon-print"></i>打印</button>
        </p>
    </div>
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>移位商品</td>
                    <td>库位编号</td>
                    <td>移出数量</td>
                    <td>新库位编号</td>
                    <td>移库日期</td>
                    <td>操作人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_yiwei)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td>@Html.GetDataValue_ID("收货", "全部", (int)item.SHID)</td>
                        <td>@item.KWBH</td>
                        <td>@item.Shuliang</td>
                        <td>@item.XKWBH</td>
                        <td>@string.Format("{0:d}", item.MakeDate)</td>
                        <td>@Html.GetDataValue_ID("userinfo", "全名", (int)item.MakeMan)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
<div id="pl_loc" class="panel panel-info" style="display:none;position:fixed;top:200px;left:200px;width:380px;overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">库位调整<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="center">
                <p id="bt_fn_move" class="btn btn-default">确定</p>
                <p id="bt_fn_cancel" class="btn btn-default">取消</p>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label col-sm-4" for="kw">初始库位</label>
                <div class="col-sm-8">
                    <input class="form-control" id="kw" name="kw" type="text" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="xkw">目标库位</label>
                <div class="col-sm-8">
                    <input class="form-control" id="xkw" name="xkw" type="text" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
