@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "出库信息";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    $(document).ready(function () {
        //table样式
        table_config(mydatatable);
        trResize();//初始化表头
        //report
        $("#bt_print").click(function () {
            window.open("/wms_outreport/printOutReport");
        });
    });
</script>

@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "ChukuBH";
        scm.ItemTitle = "出库编号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "ShangpinMC";
        scm.ItemTitle = "商品名称";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Guige";
        scm.ItemTitle = "规格";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "Pihao";
        scm.ItemTitle = "批号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "ChukuRQ";
        scm.ItemTitle = "出库日期";
        scm.ItemType = "System.DateTime";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "ChukuBH";
            scm.ItemTitle = "出库编号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "ShangpinMC";
            scm.ItemTitle = "商品名称";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Guige";
            scm.ItemTitle = "规格";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[2].Split(',')[1];
                scm.ItemOpValue = scs[2].Split(',')[2];
                scm.ItemJion = scs[2].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "Pihao";
            scm.ItemTitle = "批号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[3].Split(',')[1];
                scm.ItemOpValue = scs[3].Split(',')[2];
                scm.ItemJion = scs[3].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "ChukuRQ";
            scm.ItemTitle = "出库日期";
            scm.ItemType = "System.DateTime";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[4].Split(',')[1];
                scm.ItemOpValue = scs[4].Split(',')[2];
                scm.ItemJion = scs[4].Split(',')[3];
            }
            scms.Add(scm);

        }
    }
}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">出库信息</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "出库_条件组合查询", "/wms_outreport/getoutlist", "wms_outreport_list", scms)
    <div class="page-header">
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4" id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4 " id="bt_print"><i class="icon-print"></i><b>打印</b></button>
        <button type="button" class="btn btn-primary btn-xs btn-app radius-4 " id="bt_export" onclick="javascript: window.open('/wms_outreport/outReportExport')"><i class="icon-inbox"></i><b>导出</b></button>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wapper-all">
                <div class="fixed-table-wapper">
                    <table class="table table-bordered table-condensed fixed-table-header"></table>
                </div>
                <div class="table-wapper">
                    <table class="table table-bordered table-condensed" id="mydatatable">
                        <tr>
                            <th></th>
                            <th>出库单编号</th>
                            <th>委托方企业名称</th>
                            <th>出库日期</th>
                            <th>出库类型</th>
                            <th>产品名称</th>
                            <th>规格(型号)</th>
                            <th>生产企业</th>
                            <th>产品注册证号</th>
                            <th>生产批号</th>
                            <th>序列号</th>
                            <th>储运条件</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>收货客户名称</th>
                            <th>收货地址</th>
                            <th>联系人</th>
                            <th>联系方式</th>
                            <th>备注</th>
                        </tr>
                        <tbody>
                            @foreach (var item in ViewBag.outreport)
                            {
                                <tr>
                                    <td>
                                        <label><input class="checkbox" type="checkbox"></label>
                                    </td>
                                    <td>@item.ChukudanBH</td>
                                    <td>@Html.GetDataValue_ID("货主", "名称", (int)item.HuozhuID)</td>
                                    <td>@string.Format("{0:yyyy-MM-dd}", item.ChukuRQ == null ? "" : item.ChukuRQ)</td>
                                    <td>@Html.GetCommonValue_ID("出库类型", (int)item.YewuLX)</td>
                                    <td>@item.ShangpinMC</td>
                                    <td>@item.Guige</td>
                                    <td>@item.Changjia</td>
                                    <td>@item.Zhucezheng</td>
                                    <td>@item.Pihao</td>
                                    <td>@item.Xuliema</td>
                                    <td>@item.ChunyunYQ</td>
                                    <td>@item.ChukuSL</td>
                                    <td>@item.JibenDW</td>
                                    <td>@item.KehuMC</td>
                                    <td>@item.Yunsongdizhi</td>
                                    <td>@item.Lianxiren</td>
                                    <td>@item.LianxiDH</td>
                                    <td>@item.Beizhu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="pager">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetOutList", new { page }))
            </span>
        </div>
    </div>
</div>
