@using CKWMS.App_Code
@using CKWMS.Models
@{
    ViewBag.Title = "扫描入库列表";
    Layout = "~/Views/Shared/WinCEView.cshtml";
}
<div>
    <h2><a href="/wms_scanhome">Home</a>/扫描入库</h2>
    <div class="row">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>入库编号</td>
                    <td>货主</td>
                    <td>供应商</td>
                    <td>入库日期</td>
                    <td>收货</td>
                    <td>上架</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.wms_rukudan)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td>@item.RukudanBH</td>
                        <td>@Html.GetDataValue_ID("货主", "简称", (int)item.HuozhuID)</td>
                        <td>@Html.GetDataValue_ID("供应商","",(int)item.GongyingshangID)</td>
                        <td>@string.Format("{0:d}", item.RukuRQ)</td>
                        <td><a href="/wms_scanin/recieving/?rkd=@item.ID">收</a></td>
                        <td><a href="/wms_scanin/uploadcargo/?rkd=@item.ID">架</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

