@using CKWMS.App_Code
@using CKWMS.Models
@model base_weituokehuViewModel
@{
    ViewBag.Title = "委托客户修改";
}
@Html.GetFileUpload("YingyezhizhaoTP", "yyzz", "z", "cus", 4, 0, new Dictionary<string, string>() { { "yyzz", "YingyezhizhaoTP" }, { "zzjg", "ZuzhijigouTP" }, { "swdj", "ShuiwudengjiTP" }, { "jyxk", "JingyingxukeTP" } })
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }

        $(document).ready(function () {

            $("#MakeDate").datepicker();
            $("#YingyezhizhaoYXQ").datepicker();
            $("#ZuzhijigouYXQ").datepicker();
            $("#ShuiwudengjiYXQ").datepicker();
            $("#JingyingxukeYXQ").datepicker();

            $("#pl_Fanwei").hide();
            $("#pl_fanwei_add").hide();

            var _qxmlid = $("#qxml").val();

            $("#bt_Fanweiadd").click(function () {
                GetFanwei()
                $("#pl_Fanwei").show();
                setTimeout(function () {
                    GetData()
                }, 500)
            });

            $("#pl_close").click(function () {
                $("#pl_Fanwei").hide();
            });


            $("#bt_fanwei_add").click(function () {
                var _jyfw = "";
                var _jyfwjm = "";
                var t = document.getElementsByClassName('checkbox');
                $("#qxdatatable tr input[type=checkbox]").each(function () {
                    if (this.checked) {
                        _jyfw = _jyfw + $(this).parent().parent().parent().siblings().find(".bh").html() + "," + $(this).parent().parent().parent().siblings().find(".mc").html() + ";";
                        _jyfwjm = _jyfwjm + $(this).parent().parent().parent().siblings().find(".bh").html() + ";";
                    }
                });
                var _addok = confirm("确定要修改经营范围吗？");
                if (_addok) {

                    if (_jyfw.length >= 512) {
                        alert("所选数据超过范围，请重新选择。")
                    }
                    else {
                        $("#jingyingfanwei").val(_jyfw);
                        $("#jingyingfanweijianma").val(_jyfwjm);
                        $("#pl_Fanwei").hide();
                    }
                }
            });
            $("#bt_fanwei_all").click(function () {

                $(".checkbox").prop("checked", true);

            })

            $("#bt_fanwei_clear").click(function () {

                $(".checkbox").prop("checked", false);

            })
        });

        function GetFanwei() {
            //var _qxmlid = $("#qxml").val();
            var filltable = "";

            $.post(
                    "/base_qixiemulu/GetQixiemulu",
                    {
                        //qxml: _qxmlid
                    },
                    function (data) {
                        for (var i in data) {
                            filltable = filltable + '<tr><td><div class="checkbox"><label><input type="checkbox" class ="checkbox" value="';
                            filltable = filltable + data[i].ID;
                            filltable = filltable + '"></label></div></td><td><span class="bh">';
                            filltable = filltable + data[i].Bianhao;
                            filltable = filltable + '</span></td><td><span class="mc">';
                            filltable = filltable + data[i].Mingcheng;
                            filltable = filltable + '</span></td><td>';
                            filltable = filltable + data[i].Miaoshu;
                            filltable = filltable + '</td><td>';
                            filltable = filltable + data[i].GuanliFL;
                            filltable = filltable + '</td></tr>';
                        }
                        $("#pl_Fanwei tbody").html(filltable);
                    });

        }
        function GetData() {

            var fw = document.getElementsByClassName('bh');
            var i = $("#jingyingfanweijianma").val();
            var t = i.split(";");

            for (var k = 0; k < t.length; k++) {
                for (var l = 0; l < fw.length; l++) {
                    if (t[k] == $(".bh").eq(l).text())
                        $("input:checkbox").eq(l+2).attr("checked", true);
                }
            }
        }

    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_weituokehu">委托客户</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("Update", "base_weituokehu", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                <button type="button" class="btn btn-default"><i class="icon-check-sign"></i>送审</button>
            </p>
        </div>

        <div class="container">

            <div class="widget-container-span ui-sortable">
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h3 class="lighter">货主定义</h3>

                        <div class="widget-toolbar no-border">
                            <ul class="nav nav-tabs" id="myTab2">
                                <li class="active">
                                    <a data-toggle="tab" href="#home2">基本信息</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#profile2">经营范围</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#info2">证照资料</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#info3">物流中心</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#info4">运输策略</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-12 no-padding-left no-padding-right">
                            <div class="tab-content padding-4">
                                <div id="home2" class="tab-pane active">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Daima, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Jiancheng, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Jiancheng, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Kehumingcheng, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Kehumingcheng, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Hetongbianhao, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Hetongbianhao, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Lianxidianhua, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Lianxidianhua, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Shouying, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShenchaSF, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @*@Html.TextBoxFor(m => m.ShenchaSF,new {@class="form-control"} )*@
                                                    @Html.CheckBoxFor(m => m.ShenchaSF, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.HezuoSF, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @*@Html.TextBoxFor(m => m.HezuoSF,new {@class="form-control"} )*@
                                                    @Html.CheckBoxFor(m => m.HezuoSF, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="MakeDate" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" id="MakeDate">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewData.Model.MakeMan)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="profile2" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    @Html.LabelFor(m => m.Jingyingfanwei, new { @class = "control-label" })<br />
                                                    <button type="button" class="icon-edit" id="bt_Fanweiadd">修改</button>
                                                </div>
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(m => m.Jingyingfanwei, new { @class = "form-control readonly", id = "jingyingfanwei" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingfanweiDM, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.JingyingfanweiDM, new { @class = "form-control readonly", id = "jingyingfanweijianma" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="info2" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.YingyezhizhaoBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.YingyezhizhaoBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.YingyezhizhaoYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="YingyezhizhaoYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.YingyezhizhaoYXQ)" id="YingyezhizhaoYXQ">
                                                </div>
                                            </div>

                                            @*YingyezhizhaoTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.YingyezhizhaoTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="YingyezhizhaoTP" id="YingyezhizhaoTP" value="@ViewData.Model.YingyezhizhaoTP">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="yyzz" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.YingyezhizhaoTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ZuzhijigouBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.ZuzhijigouBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ZuzhijigouYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="ZuzhijigouYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ZuzhijigouYXQ)" id="ZuzhijigouYXQ">
                                                </div>
                                            </div>

                                            @*ZuzhijigouTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ZuzhijigouTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="ZuzhijigouTP" id="ZuzhijigouTP" value="@ViewData.Model.ZuzhijigouTP" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="zzjg" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.ZuzhijigouTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShuiwudengjiBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.ShuiwudengjiBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShuiwudengjiYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="ShuiwudengjiYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ShuiwudengjiYXQ)" id="ShuiwudengjiYXQ">
                                                </div>
                                            </div>

                                            @*ShuiwudengjiTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShuiwudengjiTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="ShuiwudengjiTP" id="ShuiwudengjiTP" value="@ViewData.Model.ShuiwudengjiTP" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="swdj" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.ShuiwudengjiTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingxukeBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.JingyingxukeBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingxukeYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="JingyingxukeYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.JingyingxukeYXQ)" id="JingyingxukeYXQ">
                                                </div>
                                            </div>

                                            @*JingyingxukeTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingxukeTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="JingyingxukeTP" id="JingyingxukeTP" value="@ViewData.Model.JingyingxukeTP" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn4()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="jyxk" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.JingyingxukeTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="info3" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                        </div>
                                    </div>
                                </div>

                                <div id="info4" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    }
</div>

<div id="pl_Fanwei" class="panel panel-primary " style="position:absolute;top:0px;left:300px;width:1100px;height:600px;z-index:999">
    <div class="panel-heading">
        <h3 class="panel-title">经营范围管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body" @*style="width:1080px;height:550px;z-index:999;overflow:scroll"*@>
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_all" onclick="bt_fanwei_all()">全选</button>
            <button type="button" class="btn btn-default " id="bt_fanwei_clear" onclick="bt_fanwei_clear()">全部取消</button>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td></td>
                        <td style="width:150px">编号</td>
                        <td style="width:60px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>