@using CKWMS.App_Code
@using CKWMS.Models
@model base_weituokehuViewModel
@{
    ViewBag.Title = "委托客户修改";
}
@Html.GetFileUpload("YingyezhizhaoTP", "yyzz", "z", "cus", 4, 0, new Dictionary<string, string>() { { "yyzz", "YingyezhizhaoTP" }, { "zzjg", "ZuzhijigouTP" }, { "swdj", "ShuiwudengjiTP" }, { "jyxk", "JingyingxukeTP" } })
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_weituokehu">委托客户</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("Update", "base_weituokehu", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" id="btnSelect" value="" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                <button type="button" class="btn btn-default"><i class="icon-check-sign"></i>送审</button>
           </p>
        </div>

        <div class="container">

            <div class="widget-container-span ui-sortable">
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h3 class="lighter">货主定义</h3>

                        <div class="widget-toolbar no-border">
                            <ul class="nav nav-tabs" id="myTab2">
                                <li class="active">
                                    <a data-toggle="tab" href="#home2">基本信息</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#profile2">经营范围</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#info2">证照资料</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#info3">物流中心</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#info4">运输策略</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-12 no-padding-left no-padding-right">
                            <div class="tab-content padding-4">
                                <div id="home2" class="tab-pane active">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Daima, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Jiancheng, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Jiancheng, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Kehumingcheng, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Kehumingcheng, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Hetongbianhao, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Hetongbianhao, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Lianxidianhua, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Lianxidianhua, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Beizhu, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.Shouying, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShenchaSF, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @*@Html.TextBoxFor(m => m.ShenchaSF,new {@class="form-control"} )*@
                                                    @Html.CheckBoxFor(m => m.ShenchaSF, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.HezuoSF, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @*@Html.TextBoxFor(m => m.HezuoSF,new {@class="form-control"} )*@
                                                    @Html.CheckBoxFor(m => m.HezuoSF, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="MakeDate" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewData.Model.MakeMan)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="profile2" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Jingyingfanwei, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(m => m.Jingyingfanwei, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingfanweiDM, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(m => m.JingyingfanweiDM, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="info2" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.YingyezhizhaoBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.YingyezhizhaoBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.YingyezhizhaoYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="YingyezhizhaoYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.YingyezhizhaoYXQ)">
                                                </div>
                                            </div>

                                            @*YingyezhizhaoTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.YingyezhizhaoTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="YingyezhizhaoTP" id="YingyezhizhaoTP" value="@ViewData.Model.YingyezhizhaoTP">
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="yyzz" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.YingyezhizhaoTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ZuzhijigouBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.ZuzhijigouBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ZuzhijigouYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="ZuzhijigouYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ZuzhijigouYXQ)">
                                                </div>
                                            </div>

                                            @*ZuzhijigouTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ZuzhijigouTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="ZuzhijigouTP" id="ZuzhijigouTP" value="@ViewData.Model.ZuzhijigouTP" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn2()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="zzjg" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.ZuzhijigouTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShuiwudengjiBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.ShuiwudengjiBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShuiwudengjiYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="ShuiwudengjiYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ShuiwudengjiYXQ)">
                                                </div>
                                            </div>

                                            @*ShuiwudengjiTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ShuiwudengjiTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="ShuiwudengjiTP" id="ShuiwudengjiTP" value="@ViewData.Model.ShuiwudengjiTP" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn3()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="swdj" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.ShuiwudengjiTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingxukeBH, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(m => m.JingyingxukeBH, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingxukeYXQ, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" name="JingyingxukeYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.JingyingxukeYXQ)">
                                                </div>
                                            </div>

                                            @*JingyingxukeTP*@
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.JingyingxukeTP, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly name="JingyingxukeTP" id="JingyingxukeTP" value="@ViewData.Model.JingyingxukeTP" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn4()">上传</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="jyxk" class="form-control">
                                                        <a href="/files/zhengzhao/@ViewData.Model.JingyingxukeTP" target="_blank">浏览</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="info3" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                        </div>
                                    </div>
                                </div>

                                <div id="info4" class="tab-pane">
                                    <div class="slimScrollDiv">
                                        <div class="slim-scroll">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    }
</div>
