@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "入库货品";
}
<div class="page-content">
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td>入库编号</td>
                    <td>商品名称</td>
                    <td>注册证</td>
                    <td>规格型号</td>
                    <td>批号</td>
                    <td>次批号</td>
                    <td>序列码</td>
                    <td>生产日期</td>
                    <td>失效日期</td>
                    <td>数量</td>
                    <td>基本单位</td>
                    <td>包装单位</td>
                    <td>换算率</td>
                    <td>厂家</td>
                    <td>产地</td>
                    <td>商品条码</td>
                    <td>重量</td>
                    <td>净重</td>
                    <td>体积</td>
                    <td>计费吨</td>
                    <td>收货日期</td>
                    <td>备注</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.CommodityOfIn)
                {
                    <tr>
                        <td>@Html.GetDataValue_ID("入库单", "入库编号", (int)item.RukuID)</td>
                        <td>@item.ShangpinMC</td>
                        <td>@item.Zhucezheng</td>
                        <td>@item.Guige</td>
                        <td>@item.Pihao</td>
                        <td>@item.Pihao1</td>
                        <td>@item.Xuliema</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ)</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ)</td>
                        <td>@item.Shuliang</td>
                        <td>@item.JibenDW</td>
                        <td>@item.BaozhuangDW</td>
                        <td>@item.Huansuanlv</td>
                        <td>@item.Changjia</td>
                        <td>@item.Chandi</td>
                        <td>@item.ShangpinTM</td>
                        <td>@item.Zhongliang</td>
                        <td>@item.Jingzhong</td>
                        <td>@item.Tiji</td>
                        <td>@item.Jifeidun</td>
                        <td>@string.Format("{0:yyyy-MM-dd}", item.MakeDate)</td>
                        <td>@item.Beizhu</td>
                        <td>@Html.GetCommonValue_ID("存货状态", (int)(item.HuopinZT == null ? 0 : item.HuopinZT))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



