@using CKWMS.App_Code
@using CKWMS.Models
@model base_shouhuomingxiViewModel
@{ViewBag.Title = "收货地址添加";}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            $("#date_makedate").datepicker();

            //设置默认地址
            $("#Default_dizhi").click(function () {
                var dizhi = $("#Dizhi").val();
                var _id = $("#shouhuodanwei").val();
                if (dizhi == "") {
                    alert("您的地址为空，请重新填写！");
                    return false;//不让保存
                } else {
                    $.post(
                        "/base_shouhuodanwei/UpdateDz",
                        {
                            songhuodz: dizhi,
                            id:_id
                        },
                        function(data){
                            if (data == 1) {
                            }
                        });
                }
            });

            //销售人下拉
            var huozhuid = $("#huozhuid").val();
            $("#XiaoshouID").val(huozhuid);
            getXiaoshouren(huozhuid);

        });
        function getXiaoshouren(huozhuid) {
            var _huozhuid = huozhuid;
            var filltable = "";
            $.post(
                "/base_xiaoshou/GetSalesman",
                {
                    huozhu:_huozhuid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data[i].Xingming;
                        filltable = filltable + '">';
                        filltable = filltable + data[i].Xingming;
                        filltable = filltable + '</option>';
                    }
                    $("#select_xiaoshouren").html(filltable);
                });
        }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shouhuodanwei/Edit/@ViewBag.id">收货单位</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "base_shouhuomingxi", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id"/>
        <input type="hidden" id="huozhuid" value="@ViewBag.huozhuid" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                <button type="submit" id="Default_dizhi" class="btn btn-default"><i class="icon-location-arrow"></i>默认并保存</button>
            </p>
        </div>
        <div class="container">
            @*收货单位*@
            <div class="form-group">
                <label for="name" class="col-sm-2">收货单位</label>
                <div class="col-sm-10" style="height:34px;">
                    <input type="hidden" class="form-control" name="shouhuofangid" id="shouhuodanwei" value="@ViewBag.id">
                    @Html.GetDataValue_ID("收货单位","", (int)ViewBag.id)
                </div>
            </div>
            @*销售人*@
            <div class="form-group">
                <label for="name" class="col-sm-2">销售人</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.Xiaoshouren, new { @class = "form-control" })*@
                    <select name="xiaoshouren" id="select_xiaoshouren" style="width:100%;"></select>
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>*@
            @*地址*@
            <div class="form-group">
                @Html.LabelFor(m => m.Dizhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Dizhi, new { @class = "form-control" })
                </div>
            </div>
            @*默认地址标识*@
            <div class="form-group" style="display:none;">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxidianhua, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxidianhua, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(m => m.XiaoshouID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.XiaoshouID, new { @class = "form-control" })
                </div>
            </div>
            
            @*录入时间*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" name="makedate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            @*录入人*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("MakeMan", "userinfo", "fullname",(long)ViewBag.userid)*@
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)" />
                </div>
            </div>
        </div>
    }
</div>
