@using CKWMS.App_Code
@using CKWMS.Models
@model base_shouhuomingxiViewModel
@{
    ViewBag.Title = "收货地址修改";
}
<script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function () {
            $("#date_makedate").datepicker();

            //设置默认地址
            $("#Default_dizhi").click(function () {
                var dizhi = $("#Dizhi").val();
                var _id = $("#shouhuodanwei").val();
                if (dizhi == "") {
                    alert("您的地址为空，请重新填写！");
                    return false;//不让保存
                } else {
                    $.post(
                        "/base_shouhuodanwei/UpdateDz",
                        {
                            songhuodz: dizhi,
                            id: _id
                        },
                        function (data) {
                            if (data == 1) {
                                alert("成功");
                            }
                        });
                }
            });

            var biaoshi = $("#biaoshi").val();
            //alert(biaoshi);
            if (biaoshi == "1") {
                $("#submit_dizhi").click(function () {
                    var dizhi = $("#Dizhi").val();
                    var _id = $("#shouhuodanwei").val();
                    if (dizhi == "") {
                        alert("您的地址为空，请重新填写！");
                        return false;//不让保存
                    } else {
                        $.post(
                            "/base_shouhuodanwei/UpdateDz",
                            {
                                songhuodz: dizhi,
                                id: _id
                            },
                            function (data) {
                                if (data == 1) {
                                }
                            });
                    }
                });
            }

            //销售人下拉
            var huozhuid = $("#XiaoshouID").val();
            getXiaoshouren(huozhuid);

        });
        function getXiaoshouren(huozhuid) {
            var _huozhuid = huozhuid;
            var filltable = "";
            $.post(
                "/base_xiaoshou/GetSalesman",
                {
                    huozhu: _huozhuid
                },
                function (data) {
                    var selval = $("#xsr").val();
                    for (var i in data) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data[i].Xingming;
                        if (data[i].Xingming == selval)
                            filltable = filltable + '" selected="selected">';
                        else
                            filltable = filltable + '">';
                        filltable = filltable + data[i].Xingming;
                        filltable = filltable + '</option>';
                    }
                    $("#select_xiaoshouren").html(filltable);
                });
        }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shouhuodanwei/Edit/@ViewData.Model.ShouhuofangID">收货单位</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Update", "base_shouhuomingxi", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
        <input type="hidden" id="biaoshi" value="@ViewBag.biaoshi" />
        <input type="hidden" id="xsr" value="@ViewData.Model.Xiaoshouren" />
        <div class="page-header">
            <p>
                <button type="submit" id="submit_dizhi" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
                <button type="submit" id="Default_dizhi" class="btn btn-default"><i class="icon-add"></i>默认并保存</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2">收货单位</label>
                <div class="col-sm-10" style="height:34px;">
                    <input type="hidden" class="form-control" name="shouhuofangid" id="shouhuodanwei" value="@ViewData.Model.ShouhuofangID">
                    @Html.GetDataValue_ID("收货单位", "",ViewData.Model.ShouhuofangID)
                </div>
            </div>
            @*销售人*@
            <div class="form-group">
                <label for="name" class="col-sm-2">销售人</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.Xiaoshouren, new { @class = "form-control" })*@
                    <select name="xiaoshouren" id="select_xiaoshouren" style="width:100%;"></select>
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.Dizhi, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Dizhi, new { @class = "form-control" })
                </div>
            </div>
            @*默认地址标识*@
            <div class="form-group" style="display:none;">
                @Html.LabelFor(m => m.Col1, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Col1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxiren, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxiren, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lianxidianhua, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Lianxidianhua, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(m => m.XiaoshouID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.XiaoshouID, new { @class = "form-control" })
                </div>
            </div>
            
            @*录入时间*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" />
                </div>
            </div>
            @*录入人*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewData.Model.MakeMan)*@
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)" />
                </div>
            </div>
        </div>
    }
</div>
