@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc

@{
    ViewBag.Title = "RoleDetail";
}
<div class="col-sm-6">
    <div class="widget-box">
        <div class="widget-header header-color-blue2">
            <h4 class="lighter smaller">Choose Categories</h4>
        </div>

        <div class="widget-body">
            <div class="widget-main padding-8">
                <div id="tree1" class="tree tree-selectable">
                    <div class="tree-folder" style="display:none;">
                        <div class="tree-folder-header">
                            <i class="icon-plus"></i>
                            <div class="tree-folder-name"></div>
                        </div>
                        <div class="tree-folder-content"></div>
                        <div class="tree-loader" style="display: none;"></div>
                    </div>
                    <div class="tree-item" style="display:none;">
                        <i class="icon-remove"></i>
                        <div class="tree-item-name"></div>
                    </div>
                    <div class="tree-folder" style="display: block;">
                        <div class="tree-folder-header">
                            <i class="icon-plus"></i>
                            <div class="tree-folder-name">For Sale</div>
                        </div>
                        <div class="tree-folder-content" style="display: none;">
                            <div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Appliances</div>
                            </div><div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Arts &amp; Crafts</div>
                            </div><div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Clothing</div>
                            </div>
                            <div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Computers</div>
                            </div>
                            <div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Jewelry</div>
                            </div>
                            <div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Office &amp; Business</div>
                            </div><div class="tree-item" style="display: block;">
                                <i class="icon-remove"></i>
                                <div class="tree-item-name">Sports &amp; Fitness</div>
                            </div>
                        </div>
                        <div class="tree-loader" style="display: none;">
                            <div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>
                        </div>
                    </div>
                    <div class="tree-folder" style="display: block;">
                        div class="tree-folder-header">
                        <i class="icon-plus"></i>
                        <div class="tree-folder-name">Vehicles</div>
                    </div>
                    <div class="tree-folder-content" style="display: none;">
                        <div class="tree-folder" style="display: block;">
                            <div class="tree-folder-header">
                                <i class="icon-plus"></i>
                                <div class="tree-folder-name">Cars</div>
                            </div>
                            <div class="tree-folder-content" style="display: none;">
                                <div class="tree-item tree-selected" style="display: block;">				<i class="icon-ok"></i>				<div class="tree-item-name">Classics</div>			</div><div class="tree-item tree-selected" style="display: block;">				<i class="icon-ok"></i>				<div class="tree-item-name">Convertibles</div>			</div><div class="tree-item tree-selected" style="display: block;">				<i class="icon-ok"></i>				<div class="tree-item-name">Coupes</div>			</div><div class="tree-item tree-selected" style="display: block;">				<i class="icon-ok"></i>				<div class="tree-item-name">Hatchbacks</div>			</div><div class="tree-item" style="display: block;">				<i class="icon-remove"></i>				<div class="tree-item-name">Hybrids</div>			</div><div class="tree-item" style="display: block;">				<i class="icon-remove"></i>				<div class="tree-item-name">SUVs</div>			</div><div class="tree-item" style="display: block;">				<i class="icon-remove"></i>				<div class="tree-item-name">Sedans</div>			</div><div class="tree-item" style="display: block;">				<i class="icon-remove"></i>				<div class="tree-item-name">Trucks</div>			</div>
                            </div>				<div class="tree-loader" style="display: none;"><div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div></div>
                        </div><div class="tree-item tree-selected" style="display: block;">				<i class="icon-ok"></i>				<div class="tree-item-name">Motorcycles</div>			</div><div class="tree-item tree-selected" style="display: block;">				<i class="icon-ok"></i>				<div class="tree-item-name">Boats</div>			</div>
                    </div>
                    <div class="tree-loader" style="display: none;">
                        <div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/auth_juese">角色</a>
        </li>
        <li class="active">定义</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        </p>
    </div>
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>角色</td>
                    <td>功能</td>
                    <td>模块</td>
                    <td>控制</td>
                    <td>函数</td>
                    <td>等级</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.view_roledetail)
                {
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" value="@item.ID"></label>
                            </div>
                        </td>
                        <td>@item.rolename</td>
                        <td>@item.name</td>
                        <td>@item.module</td>
                        <td>@item.controller</td>
                        <td>@item.function</td>
                        <td>@item.grade</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

