@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@using CKWMS.EFModels

@{
    ViewBag.Title = "RoleDetail";
}
<!-- inline scripts related to this page -->

<script type="text/javascript">
    //var tree_data11 = {
    //    'for-sale': { name: 'For Sale', type: 'folder' },
    //    'personals': { name: 'Personals', type: 'item' }
    //}
    //tree_data11['for-sale']['additionalParameters'] = {
    //    'children': {
    //        'appliances': { name: 'Appliances', type: 'item' },
    //        'arts-crafts': { name: 'Arts & Crafts', type: 'item' },
    //        'clothing': { name: 'Clothing', type: 'item' },
    //        'computers': { name: 'Computers', type: 'item' },
    //        'jewelry': { name: 'Jewelry', type: 'item' },
    //        'office-business': { name: 'Office & Business', type: 'item' },
    //        'sports-fitness': { name: 'Sports & Fitness', type: 'item' }
    //    }
    //}
    @Html.GetTreeData((string)ViewBag.fundata )

    jQuery(function ($) {
        var treeDataSource11 = new DataSourceTree({ data: tree_data11 });

        $('#tree1').ace_tree({
            dataSource: treeDataSource11,
            multiSelect: true,
            
            loadingHTML: '<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
            'open-icon': 'icon-minus',
            'close-icon': 'icon-plus',
            'selectable': true,
            'selected-icon': 'icon-ok',
            'unselected-icon': 'icon-ok'
        });

        $("#tree1").find("div.tree-item").each(function () {
            alert($(this).find(".tree-item-name").text());
        });

        //$('#tree1').on('opened', function (evt, data) {
        //    alert("open");
        //});        $('#tree1').on('loaded', function (evt, data) {
            alert("load" );
            var fnn = ""; 
            $("#tree1").find("div.tree-item").each(function () {
                funname = $(this).find(".tree-item-name").text();
                if ($("#funs").indexOf(fnn) > 0)
                    $(this).addClass("tree-selected");
                alert(fnn);
            });
        });
        $("#bt_addInfo").click(function () {

            var output = "";
            //var items = $("#tree1").tree("selectItems");
            //var sels = $("#tree1").find("div.tree-selected");
            var sels = $('#tree1').find('div.tree-item');
            var selval = "";
            //var s1 = $("#tree1:tree-selected").length;
            //alert(s1);
            alert($(sels).length);
            for (var x = 0; x < $(sels).length; x++) {
                //alert($(sels[x]).find(".tree-item-name").text());
                selval = $(sels[x]).find(".tree-item-name").text();
                $("#funs li input[type=checkbox]").each(function () {
                    if (selval == $(this).val())
                        exval = true;
                });
                if (!exval) {
                    var addstr = '<li id="" class="item-red clearfix" style="position: relative; opacity: 1; z-index: auto;"><label class="inline">';
                    addstr = addstr + '<input id="' + selval + '" type="checkbox" class="ace" value="' + selval + '">';
                    addstr = addstr + '<span class="lbl">' + selname + '</span></label>';
                    addstr = addstr + '<div class="pull-right">';
                    addstr = addstr + '<span class="lbl">' + selmail + '</span></div></li>';
                    $("#qx ul").append(addstr);
                }
            }
        });
        $("#bt_deleteInfo").click(function () {
            $("#tree1").find("div.tree-item").each(function () {
                var funid = $(this).find(".tree-item-name").text();
                var fid = funid.substr(funid.indexOf("(")+1, funid.indexOf(")") - funid.indexOf("(")-1);
                //alert($(this).find(".tree-item-name").text());
                alert(fid);
                if($(this).find(".tree-item-name").text()=="入库(35)")
                {
                    $(this).addClass("tree-selected");
                }
            });
        });

    });

</script>



<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/auth_juese">角色</a>
        </li>
        <li class="active">定义</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("AuthorityNow", "auth_quanxian", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="funs" id="funs" value="@ViewBag.funs" />
        <input type="hidden" name="js" id="js" value="@ViewBag.jsid" />
        <div class="page-header">
            <p class="center">
                <button type="button" class="btn btn-default " id="bt_addInfo"><i class="icon-adn"></i>添加</button>
                <button type="button" class="btn btn-default " id="bt_save"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default " id="bt_deleteInfo"><i class="icon-remove"></i>删除</button>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 overflow-auto" style="height:500px">
                <div class="widget-box">
                    <div class="widget-header header-color-blue2">
                        <h4 class="lighter smaller center">功能清单</h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-8">
                            <div id="tree1" class="tree"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 overflow-auto" style="height:500px">
                <div class="widget-box">
                    <div class="widget-header header-color-green2">
                        <h4 class="lighter smaller center">角色功能</h4>
                    </div>

                    @*<div id="funs" class="widget-body">
                        <ul class="item-list ui-sortable">
                            @foreach (view_roledetail rd in ViewBag.roledetails)
                            {
                                <li class="item-green clearfix" style="position: relative; opacity: 1; z-index: auto;">
                                    <label class="inline">
                                        <input type="checkbox" class="ace" value="@rd.name">
                                        <span class="lbl">@rd.name</span>
                                    </label>
                                    <div class="pull-right">
                                        <span class="lbl">@rd.module</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    }
</div>
