@using CKWMS.App_Code
@using CKWMS.Models
@model base_shangpinzczViewModel
@{ViewBag.Title = "商品注册证添加";}
@Html.GetFileUpload("zhucezhengtp", "zcz", "z", "cus", 2, 0, new Dictionary<string, string>() { { "zcz", "zhucezhengtp" } } )

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        $(document).ready(function(){
            $("#makedate").datepicker();//录入日期
            $("#pizhunrq").datepicker();//批准日期
        });
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinzcz">商品注册证</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>

<div class="page-content">
    @using (Html.BeginForm("Save", "base_shangpinzcz", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            @*注册证编号*@
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Bianhao)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Bianhao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Bianhao)
                </div>
            </div>
            @*商品名称*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Mingcheng)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mingcheng)
                </div>
            </div>
            @*规格
            <div class="form-group">
                @Html.LabelFor(m => m.Guige, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Guige, new { @class = "form-control" })
                </div>
            </div>*@
            @*产品标准*@
            <div class="form-group">
                @Html.LabelFor(m => m.Bianzhun, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Bianzhun, new { @class = "form-control" })
                </div>
            </div>
            @*注册证有效期*@
            <div class="form-group">
                @Html.LabelFor(m => m.ZhucezhengYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="makedate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="ZhucezhengYXQ">
                    @Html.ValidationMessageFor(m => m.ZhucezhengYXQ)
                </div>
            </div>
            @*批准日期*@
            <div class="form-group">
                @Html.LabelFor(m => m.PizhunRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10 ">
                    <input id="pizhunrq" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="pizhunrq">
                </div>
            </div>
            @*中文编号*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.BianhaoZW)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BianhaoZW, new { @class = "form-control" })
                    
                </div>
            </div>
            @*产地*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.Chandi)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                    
                </div>
            </div>
            @*生产企业*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShengchanqiyeID)
                </div>
                <div class="col-sm-10">
                     @Html.SelectList_Auto("Shengchanqiyeid", "厂家","")
                </div>
            </div>
            @*服务机构*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShouhuoJG)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShouhuoJG, new { @class = "form-control" })
                    
                </div>
            </div>
            @*注册证照片*@
            <div class="form-group">
                @Html.LabelFor(m => m.ZhucezhengTP, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="zhucezhengtp" id="zhucezhengtp">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span class="form-control" id="zcz">
                        <a>浏览</a>
                    </span>
                </div>
            </div>
            @*注册代理*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ZhuceDL)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ZhuceDL, new { @class = "form-control" })
                    
                </div>
            </div>
            @*试用范围*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShiyongFW)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShiyongFW, new { @class = "form-control" })
                </div>
            </div>
            @*备注*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.Beizhu)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                </div>
            </div>
            @*录入日期*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10 ">
                    <input type="text" readonly class="form-control" name="makedate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            @*输入人*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewBag.userid)" />
                </div>
            </div>
            
            @*是否失效
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShixiaoSF)
                </div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="shixiaosf" value="true">
                        是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="shixiaosf" value="false">
                        否
                    </label>
                </div>
            </div>*@
            
        </div>
    }
</div>
