@using CKWMS.App_Code
@using CKWMS.Models
@model base_shangpinzczViewModel
@{
    ViewBag.Title = "商品注册证修改";
}
@Html.GetFileUpload("zhucezhengtp", "zcz", "z", "cus", 1, 0, new Dictionary<string, string>() { { "zcz", "zhucezhengtp" } })
<script type="text/javascript">
    $(document).ready(function () {
        $("#makedate").datepicker();//录入日期
        $("#pizhunrq").datepicker();//批准日期
        $("#pl_guige_add").draggable();
        var _zczid = $("#zczbh").val();
        $("#pl_guige").hide();
        $("#pl_guige_add").hide();
        $("#bt_guige").click(function () {
            getGuiGe();
            $("#pl_guige").show();
        });
        $("#pl_close").click(function () {
            $("#pl_guige").hide();
        });
        $("#bt_guige_delete").click(function () {
            var _ggdel = "";
            $("#ggdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _ggdel = _ggdel + $(this).val() + ",";
                }
            });
            if (_ggdel.length > 0) {
                var _delok = confirm("确定要删除这些规格吗？");
                if (_delok) {
                    $.post(
                        "/base_zhucezhenggg/deletenow",
                        {
                            del: _ggdel
                        },
                        function (data) {
                            if (data == 1)
                                getGuiGe();
                            else
                                alert("删除失败，请重试！");
                        }
                    );
                }
            }
        });
        $("#bt_guige_refresh").click(function () {
            getGuiGe();
        });
        $("#bt_guige_add").click(function () {
            $("#pl_guige_add").show();
        });
        $("#pl_add_close").click(function () {
            $("#pl_guige_add").hide();
        });
        $("#bt_add_save").click(function () {
            saveGuiGe(1);
        });
        $("#bt_add_save1").click(function () {
            saveGuiGe(2);
        });
    });
    function saveGuiGe(aftersave) {
        var _fillall = true;
        var _zczid = $("#zczbh").val();
        var _guige = $("#pl_add_guige").val();
        var _memo = $("#pl_add_memo").val();
        if (_zczid == "")
            _fillall = false;
        if (_guige == "")
            _fillall = false;
        if (_fillall) {
            $.post("/base_zhucezhenggg/addnow",
                {
                    addzcz: _zczid,
                    addguige: _guige,
                    addmemo: _memo
                },
                function (data, status) {
                    if (data == 1) {
                        if (aftersave == 1)
                            $("#pl_guige_add").hide();
                        if (aftersave == 2) {
                            $("#pl_add_guige").val("");
                            $("#pl_add_memo").val("");
                        }
                    }
                    else
                        alert("添加失败，请重新添加");
                });
        }
        else
            alert("规格信息必须填写！");
    }
    function getGuiGe() {
        var _zczid = $("#zczbh").val();
        var filltable = "";
        $.post(
            "/base_zhucezhenggg/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<tr><td><div class="checkbox"><label><input type="checkbox" value="';
                    filltable = filltable + data[i].ID;
                    filltable = filltable + '"></label></div></td><td style="width:150px">';
                    filltable = filltable + data[i].Guige;
                    filltable = filltable + '</td><td style="width:150px">';
                    filltable = filltable + data[i].Memo;
                    filltable = filltable + '</td><td style="width:150px">';
                    filltable = filltable + data[i].Makedate;
                    filltable = filltable + '</td><td style="width:150px">';
                    filltable = filltable + data[i].Makeman;
                    filltable = filltable + '</td></tr>';
                }
                $("#pl_guige tbody").html(filltable);
            });
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinzcz">商品注册证</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("Update", "base_shangpinzcz", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input id="zczbh" type="hidden" name="id" value="@ViewData.Model.ID" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            @*注册证编号*@
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Bianhao)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Bianhao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Bianhao)
                </div>
            </div>
            @*商品名称*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <i class="icon-leaf red"></i>@Html.LabelFor(m => m.Mingcheng)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mingcheng)
                </div>
            </div>
            @*规格*@
            <div class="form-group">
                @Html.LabelFor(m => m.Guige, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.Guige, new { @class = "form-control" })*@
                    <p class="btn btn-default" id="bt_guige"><i class="icon-list"></i>浏览</p>
                    <p class="btn btn-default" id="bt_guige_add"><i class="icon-adn"></i>添加</p>
                </div>
            </div>
            @*产品标准*@
            <div class="form-group">
                @Html.LabelFor(m => m.Bianzhun, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Bianzhun, new { @class = "form-control" })
                </div>
            </div>
            @*注册证有效期*@
            <div class="form-group">
                @Html.LabelFor(m => m.ZhucezhengYXQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="makedate" type="date" class="form-control" name="ZhucezhengYXQ" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.ZhucezhengYXQ)">
                </div>
            </div>
            @*批准日期*@
            <div class="form-group">
                @Html.LabelFor(m => m.PizhunRQ, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="pizhunrq" name="pizhunrq" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.PizhunRQ)">
                </div>
            </div>
            @*中文编号*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.BianhaoZW)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.BianhaoZW, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BianhaoZW)
                </div>
            </div>
            @*产地*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.Chandi)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Chandi)
                </div>
            </div>
            @*生产企业*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShengchanqiyeID)
                </div>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("Shengchanqiyeid", "厂家", "", (long)ViewData.Model.ShengchanqiyeID)
                    @Html.ValidationMessageFor(m => m.ShengchanqiyeID)
                </div>
            </div>
            @*售后机构*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShouhuoJG)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShouhuoJG, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ShouhuoJG)
                </div>
            </div>
            @*注册证照片*@
            <div class="form-group">
                @Html.LabelFor(m => m.ZhucezhengTP, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    <input type="text" class="form-control" readonly name="zhucezhengtp" id="zhucezhengtp" value="@ViewData.Model.ZhucezhengTP">
                </div>
                <div class="col-sm-2">
                    <button class="form-control" data-toggle="modal" data-target="#myModalUpload" onclick="btn1()">上传</button>
                </div>
                <div class="col-sm-2">
                    <span id="zcz" class="form-control">
                        <a href="/files/zhengzhao/@ViewData.Model.ZhucezhengTP" target="_blank">浏览</a>
                    </span>
                </div>
            </div>
            @*试用范围*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShiyongFW)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShiyongFW, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ShiyongFW)
                </div>
            </div>
            @*注册代理*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ZhuceDL)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ZhuceDL, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ZhuceDL)
                </div>
            </div>
            @*备注*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.Beizhu)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Beizhu, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Beizhu)
                </div>
            </div>
            @*录入日期*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" />
                </div>
            </div>
            @*输入人*@
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)" />
                </div>
            </div>
            
            @*是否失效*@
            @*<div class="form-group">
                    <div class="control-label col-sm-2">
                        @Html.LabelFor(m => m.ShixiaoSF)
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="shixiaosf" value="true">
                            是

                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="shixiaosf" value="false">
                            否

                        </label>
                    </div>
                </div>*@
            
        </div>
    }
</div>
<div id="pl_guige" class="panel panel-primary" style="position:absolute;top:100px;left:200px;width:600px;height:400px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">规格管理<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_guige_delete"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_guige_refresh"><i class="icon-refresh"></i>刷新</button>
            <table class="table" id="ggdatatable">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td style="width:40px"></td>
                        <td style="width:160px">规格</td>
                        <td style="width:155px">说明</td>
                        <td style="width:140px">制单日期</td>
                        <td style="width:190px">制单人</td>
                    </tr>
                </thead>
                <tbody style="display:block;max-height:268px;width:572px;overflow:scroll;"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_guige_add" class="panel panel-primary" style="position:absolute;top:200px;left:400px;width:400px;height:210px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">规格添加<button id="pl_add_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <div class="form-group">
                <label class="control-label col-sm-2" for="Guige">规格</label>
                <div class="col-sm-10">
                    @*<input class="form-control" id="pl_add_guige" name="Guige" type="text" value="" />*@
                    <textarea class="form-control" id="pl_add_guige" name="Guige"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Memo">说明</label>
                <div class="col-sm-10">
                    <input class="form-control" id="pl_add_memo" name="Memo" type="text" value="" />
                </div>
            </div>
            <h1></h1>
            <div class="form-group">
                <div class="col-sm-6">
                    <p id="bt_add_save" class="btn btn-default">保存并关闭</p>
                </div>
                <div class="col-sm-6">
                    <p id="bt_add_save1" class="btn btn-default">保存后继续</p>
                </div>
            </div>
        </div>
    </div>
</div>
