@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "历史入库清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/cfda_inhistory/Edit/" + u_id;
                location.href = url_go;
            }
        });
    });
    function AddInfo() {
        location.href = "/cfda_inhistory/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/cfda_inhistory/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/cfda_inhistory/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "CPMC";
        scm.ItemTitle = "产品名称";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "GGXH";
        scm.ItemTitle = "规格型号";
        scm.ItemType = "System.String";
        scms.Add(scm);

        scm = new SearchConditionModel();
        scm.ItemCode = "SCPH";
        scm.ItemTitle = "生产批号";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "CPMC";
            scm.ItemTitle = "产品名称";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "GGXH";
            scm.ItemTitle = "规格型号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[1].Split(',')[1];
                scm.ItemOpValue = scs[1].Split(',')[2];
                scm.ItemJion = scs[1].Split(',')[3];
            }
            scms.Add(scm);

            scm = new SearchConditionModel();
            scm.ItemCode = "SCPH";
            scm.ItemTitle = "生产批号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[2].Split(',')[1];
                scm.ItemOpValue = scs[2].Split(',')[2];
                scm.ItemJion = scs[2].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/cfda_cangku/getentryrec">入库信息</a>
        </li>
        <li class="active">历史入库</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "历史入库_条件组合查询", "/cfda_inhistory/index", "cfda_inhistory_index", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            @*<button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>*@
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_export" onclick="javascript: window.open('/cfda_inhistory/inHistoryExport')"><i class="icon-inbox"></i>导出</button>
        </p>
    </div>
    <div class="row">
        <table class="table table-condensed table-hover" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>原序号</td>
                    <td>委托方企业名称</td>
                    <td>入库日期</td>
                    <td>入库类型</td>
                    <td>产品名称</td>
                    <td>规格(型号)</td>
                    <td>生产企业</td>
                    <td>生产企业许可证号/备案凭证号</td>
                    <td>生产批号/序列号</td>
                    <td>生产日期和有效期(或者失效期)</td>
                    <td>数量</td>
                    <td>单位</td>
                    <td>储运条件</td>
                    <td>贮存货位号</td>
                    <td>质量状态</td>
                    <td>备注</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.cfda_inhistory)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td>@item.XH</td>
                        <td>@item.WTFQYMC</td>
                        <td>@item.RKRQ</td>
                        <td>@item.RKLX</td>
                        <td>@item.CPMC</td>
                        <td>@item.GGXH</td>
                        <td>@item.SCQY</td>
                        <td>@item.SCXKZ</td>
                        <td>@item.SCPH</td>
                        <td>@item.YXQ</td>
                        <td>@item.SL</td>
                        <td>@item.DW</td>
                        <td>@item.CYTJ</td>
                        <td>@item.HW</td>
                        <td>@item.ZLZT</td>
                        <td>@item.BZ</td>
                        <td>@item.MakeDate</td>
                        <td>@item.MakeMan</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
