@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "入库验收清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
        });
        $("#pl_fun").draggable({ handle: '.tuodong' }, { containment: "parent" });
        //质量管理-入库验收单打印
        $("#bt_print").click(function () {
            $("#pl_fun").show();
            $("#zlgl_rkbh").val("");
        });
        $("#Yes_print").click(function () {
            var zlgl_rkbh = $("#zlgl_rkbh").val().trim();//获取入库编号，去掉空格。
            if (zlgl_rkbh == "" || zlgl_rkbh == null) {
                alert("入库编号不能为空！");
            } else {
                //遍历该'入库编号'是否存在
                $("#mydatatable tbody tr").each(function (i) {
                    var table_rukuBH = $(this).find(".table_rukuBH").text();
                    var table_length = $("#mydatatable tbody tr").length;
                    if (table_rukuBH == zlgl_rkbh) {
                        var rukuID = $(this).find(".RukuID").val();
                        window.open("/quan_rukuys/PrintYanShouBaoGao?rkysid=" + rukuID);
                        $("#pl_fun").hide();
                        return false;
                    }
                    if (i == table_length - 1 && table_rukuBH != zlgl_rkbh) {
                        alert("该入库单编号不存在，请检查！");
                    }
                });
            }
        });
        $("#pl_fn_close").click(function () {
            $("#pl_fun").hide();
        });
    });
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "RukudanBH";
        scm.ItemTitle = "入库单编号";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "RukudanBH";
            scm.ItemTitle = "入库单编号";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">入库验收</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "入库验收_条件组合查询", "/quan_rukuys/index", "quan_rukuysindex", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
            <button type="button" class="btn btn-default " id="bt_print"><i class="icon-print"></i>打印</button>
        </p>
    </div>
    <div>
        <div class="row" style="overflow:auto;">
            <table class="table table-condensed" id="mydatatable" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                <caption></caption>
                <thead>
                    <tr>
                        <td></td>
                        <td>入库编号</td>
                        <td>入库日期</td>
                        <td>货主</td>
                        <td>供应商</td>
                        <td>商品名称</td>
                        <td>注册证</td>
                        <td>规格</td>
                        <td>批号</td>
                        <td>次批号</td>
                        <td>序列码</td>
                        <td>生产日期</td>
                        <td>失效日期</td>
                        <td>数量</td>
                        <td>厂家</td>
                        <td>产地</td>
                        <td>验收数量</td>
                        <td>验收结果</td>
                        <td>验收人</td>
                        <td>验收说明</td>
                        <td>验收日期</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.quan_inrec)
                    {
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" class="rkysid" value="@item.ID">
                                    <input type="hidden" class="RukuID" value="@item.RukuID">
                                </label>
                            </td>
                            <td class="table_rukuBH">@item.RukudanBH</td>
                            <td>@string.Format("{0:yyyy-MM-dd}", item.RukuRQ)</td>
                            <td>@Html.GetDataValue_ID("货主", "名称", (int)item.HuozhuID)</td>
                            <td>@Html.GetDataValue_ID("供应商", "", (int)item.GongyingshangID)</td>
                            <td>@item.ShangpinMC</td>
                            <td>@item.Zhucezheng</td>
                            <td>@item.Guige</td>
                            <td>@item.Pihao</td>
                            <td>@item.Pihao1</td>
                            <td>@item.Xuliema</td>
                            <td>@string.Format("{0:yyyy-MM-dd}", item.ShengchanRQ)</td>
                            <td>@string.Format("{0:yyyy-MM-dd}", item.ShixiaoRQ)</td>
                            <td>@item.Shuliang</td>
                            <td>@item.Changjia</td>
                            <td>@item.Chandi</td>
                            <td>@item.YanshouSL</td>
                            <td>@Html.GetCommonValue_ID("验收结果", (int)(item.ysresult == null ? 0 : item.ysresult))</td>
                            <td>@item.Yanshouren</td>
                            <td>@item.YanshouSM</td>
                            <td>@item.ystime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pager">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
<div id="pl_fun" class="panel panel-primary" style="display:none;position:fixed;top:200px;left:300px;overflow:auto;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">入库质量验收报告单<button id="pl_fn_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="zlgl_rkbh" placeholder="输入入库编号" />
                </div>
                <div class="col-sm-4">
                    <input type="button" class="form-control btn btn-default" id="Yes_print" value="打印" />
                </div>
            </div>
        </div>
    </div>
</div>