@using CKWMS.App_Code
@using CKWMS.Models
@model base_shangpinxxViewModel
@{ViewBag.Title = "商品信息添加";}
<script type="text/javascript">
    $(document).ready(function () {
        $("#makedate").datepicker();//时间
        $("#shouying").val("1");//默认首营状态为"新建"
        //注册证--→代码
        $("#select_gg").change(function () {
            var guige = $("#select_gg").find("option:selected").text();
            $("#Daima").val(guige);
        });
        
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //货主ID--→产品线名称
        $("#huozhuid").change(function () {
            var _huozhuid = $("#huozhuid").val();
            getCpx(_huozhuid);
        });
        function getCpx(huozhuid) {
            var _huozhuid = huozhuid;
            var filltable = "";
            $.post(
                "/base_chanpinxian/getdetail",
                {
                    cpxid: _huozhuid
                },
                function (data) {
                    for (var i in data) {
                        
                        filltable = filltable + '<option value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</option>';
                    }
                    $("#select_cpx").html(filltable);
                });
        };
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //注册证--→规格/型号
        $("#zhucezhengid").change(function () {
            var _zczid = $("#zhucezhengid").val();
            getCpx(_zczid);
            //延时获取规格文本
            setTimeout(function () {
                var guige = $("#select_gg").find("option:selected").text();
                $("#Daima").val(guige);
            }, 500);
        });
        function getCpx(zczid) {
            var _zczid = zczid;
            var filltable = "";
            $.post(
                "/base_zhucezhenggg/getdetail",
                {
                    zczbh: _zczid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '">';
                        filltable = filltable + data[i].Guige;
                        filltable = filltable + '</option>';
                    }
                    $("#select_gg").html(filltable);
                });
            
            
        };
    });
    
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //注册证--→商品名称
        $("#zhucezhengid").change(function () {
            var _zczid = $("#zhucezhengid").val();
            getMingcheng(_zczid);
        });
        function getMingcheng(zczid) {
            var _zczid = zczid;
            var filltable = "";
            $.post(
                "/base_shangpinzcz/getdetail",
                {
                    zczbh: _zczid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</option>';
                    }
                    $("#select_zczmc").html(filltable);
                });
        };
    });
</script>
@*<script type="text/javascript">
    $(document).ready(function () {
        //注册证--→企业名称
        $("#zhucezhengid").change(function () {
            var _zczid = $("#zhucezhengid").val();
            getQiyemingcheng(_zczid);
        });
        function getQiyemingcheng(zczid) {
            var _zczid = zczid;
            var filltable = "";
            $.post(
                "/base_shangpinzcz/getdetail",
                {
                    zczbh: _zczid
                },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '">';
                        filltable = filltable + string[data[i].ShengchanqiyeID];
                        filltable = filltable + '</option>';
                    }
                    $("#select_qymc").html(filltable);
                });
        };
        //传值存储
        function saveMingchengData(mingcheng) {
            var _mingcheng = mingcheng;
            $.post(
                "/base_shangpinxx/Save",
                {
                    mingcheng: _mingchenge
                },
                function (data, stat) {

                });
        };
    });
</script>*@
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinxx">商品信息</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("Save", "base_shangpinxx", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2">货主</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("huozhuid", "货主", "名称")
                </div>
            </div>
            @*货主授权ID
            <div class="form-group">
                @Html.LabelFor(m => m.HuozhuSQID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.HuozhuSQID, new { @class = "form-control" })
                </div>
            </div>*@
            @*代码*@
            <div class="form-group">
                @Html.LabelFor(m => m.Daima, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Daima)
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mingcheng)
                </div>
            </div>*@
            @*名称*@
            <div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <select name="mingcheng" id="select_zczmc" style="width:100%;"></select>
                </div>
            </div>
            @*注册证*@
            <div class="form-group">
                <label for="name" class="col-sm-2">注册证名称</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("zhucezhengid", "注册证", "编号")
                </div>
            </div>
            @*注册证编号
            <div class="form-group">
                @Html.LabelFor(m => m.ZhucezhengBH, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ZhucezhengBH, new { @class = "form-control" })
                </div>
            </div>*@
            @*规格*@
            <div class="form-group">
                <label for="name" class="col-sm-2">规格</label>
                <div class="col-sm-10">
                    <select name="Guige" id="select_gg" style="width:100%;"></select>
                </div>
            </div>
            @*生产企业
            <div class="form-group">
                <label for="name" class="col-sm-2">生产企业</label>
                <div class="col-sm-10">
                    <select name="qiyemingcheng" id="select_qymc" style="width:100%;"></select>
                </div>
            </div>*@
            @*生产企业*@
            <div class="form-group">
                <label for="name" class="col-sm-2">生产企业</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("qiyeid", "厂家", "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Xinghao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Xinghao, new { @class = "form-control" })
                </div>
            </div>
            @*计量单位*@
            <div class="form-group">
                <label for="name" class="col-sm-2">计量单位</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(m => m.Danwei, new { @class = "form-control" })*@
                    <select name="danwei" id="jiliangDW" style="width:100%"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huansuanlv, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volchang, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Volchang, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volkuan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Volkuan, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volgao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Volgao, new { @class = "form-control" })
                </div>
            </div>
            @*产品线*@
            <div class="form-group">
                <label for="name" class="col-sm-2">产品线名称</label>
                <div class="col-sm-10">
                    <select name="chanpinxian" id="select_cpx" style="width:100%;"></select>
                </div>
            </div>
            @*分类目录*@
            <div class="form-group">
                <label for="name" class="col-sm-2">分类目录</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Muluxuhao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Guanlifenlei, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Common("guanlifenlei", "医疗器械管理类别")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Baozhuangyaoqiu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Baozhuangyaoqiu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cunchutiaojian, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Cunchutiaojian, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.Qiyemingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Qiyemingcheng, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.GongyingID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("gongyingid","供应商","")
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.GongyingSQID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.GongyingSQID, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GongyingXSID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.GongyingXSID, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Common("shouying", "首营状态")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="makedate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="makedate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewBag.userid)
                </div>
            </div>
        </div>
    }
</div>
