@using CKWMS.App_Code
@using CKWMS.Models
@model base_shangpinxxViewModel
@{ViewBag.Title = "商品信息添加";}

<script type="text/javascript">
    $(document).ready(function () {
        var _ispack = false;
        $("#Huansuanlv").val("1");
        GetJldw();
        GetFanwei()
        $("#bt_mulu").click(function () {
            $("#pl_Fanwei").show();
        });
        $("#bt_fanwei_add").click(function () {
            var _mulu;
            var _muluxh;
            var _mlfind = false;
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _mulu = $(this).parent().parent().parent().siblings().find(".bh").html() + " " + $(this).parent().parent().parent().siblings().find(".mc").html();
                    _muluxh = $(this).val();
                    _mlfind = true;
                }
            });
            if (_mlfind) {
                $("#Mulu").val(_mulu);
                $("#muluxuhao").val(_muluxh);
            }
            $("#pl_Fanwei").hide();
        });
        $("#plfw_close").click(function () {
            $("#pl_Fanwei").hide();
        });
        $("#qxdatatable").on("dblclick", "tr", function () {
            $("#Mulu").val($(this).find(".bh").html()+" "+$(this).find(".mc").html());
            $("#muluxuhao").val($(this).find("input[type=checkbox]").val());
            $("#pl_Fanwei").hide();
        });
        $("#makedate").datepicker();//时间
        $("#shouying").val("1");//默认首营状态为"新建"
        //注册证规格→代码
        $("#select_gg").change(function () {
            var guige = $("#select_gg").find("option:selected").text();
            $("#Daima").val(guige);
        });
        //货主ID→产品线名称
        $("#huozhuid").change(function () {
            var _huozhuid = $("#huozhuid").val();
            getCpx(_huozhuid);
        });
        $("#zhucezhengid").change(function () {
            var _zczid = $("#zhucezhengid").val();
            $("#Daima").val("");
            getZCZ(_zczid);
        });
        //计量单位
        $("#btn_jldw1").click(function () {
            _ispack = true;
            $("#pl_jldw .checkbox").prop("checked", false);
            $("#pl_jldw").show();
        });
        $("#btn_jldw").click(function () {
            _ispack = false;
            $("#pl_jldw .checkbox").prop("checked", false);
            $("#pl_jldw").show();
        });
        $("#pl_close").click(function () {
            $("#pl_jldw").hide();
        });
        $("#bt_jldw_add").click(function () {
            var _jldw = "";
            $("#jldwdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _jldw = $(this).parent().parent().parent().siblings().find(".mc").html();
                }
            });
            if (_ispack)
                $("#BaozhuangDW").val(_jldw);
            else
                $("#Danwei").val(_jldw);
            $("#pl_jldw").hide();
        });
        $("#pl_jldw").draggable();
        $("#pl_Fanwei").draggable();
    });
    function GetFanwei() {
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu",
                {},
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><div class="checkbox"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td>';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td>';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
    }
    function getCpx(huozhuid) {
        var _huozhuid = huozhuid;
        var filltable = "";
        $.post(
            "/base_chanpinxian/getdetail",
            {
                cpxid: _huozhuid
            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].ID;
                    filltable = filltable + '">';
                    filltable = filltable + data[i].Mingcheng;
                    filltable = filltable + '</option>';
                }
                $("#select_cpx").html(filltable);
            });
    }
    function getZCZ(zczid) {
        var _zczid = zczid;
        var filltable = "";
        var fillmc = "";
        $.post(
            "/base_shangpinzcz/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                if (data != null) {
                    $("#Mingcheng").val(data.Mingcheng);
                    $("#Chandi").val(data.Chandi);
                    $("#Qiyemingcheng").val(data.Shengchanqiye);
                    $("#qiyeid").val(data.ShengchanqiyeID);
                    $("#zhucezhengbh").val(data.Bianhao)
                    for (var i in data.Guige) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data.Guige[i].Guige;
                        filltable = filltable + '">';
                        filltable = filltable + data.Guige[i].Guige;
                        filltable = filltable + '</option>';
                    }
                    $("#select_gg").html(filltable);
                }
            });
    }
    function getZczgg(zczid) {
        var _zczid = zczid;
        var filltable = "";
        var fillmc = "";
        $.post(
            "/base_zhucezhenggg/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].Guige;
                    filltable = filltable + '">';
                    filltable = filltable + data[i].Guige;
                    filltable = filltable + '</option>';
                }
                $("#select_gg").html(filltable);
            });
    }
    function GetJldw() {
        var filltable = "";
        $.post(
            "/base_jiliangdw/GetJldw",
            {
            },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td><div class="checkbox"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></div></td><td><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td>';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#pl_jldw tbody").html(filltable);
                });
    }
    function GetChecked() {
        var mc = $(".mc").text();
        //alert(mc);
        var i = $("#Danwei").val();
        var t = i.split(";");
        //alert(t);

        for (var k = 0; k < t.length; k++) {
            for (var l = 0; l < mc.length; l++) {
                if (t[k] == $(".mc").eq(l).text())
                    $("input:checkbox").eq(l).attr("checked", true);
            }
        }
    }
</script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinxx">商品信息</a>
        </li>
        <li class="active"> 新增</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("Save", "base_shangpinxx", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" />
        <input type="hidden" name="qiyeid" id="qiyeid" />
        <input type="hidden" name="Muluxuhao" id="muluxuhao" />
        <input type="hidden" name="zhucezhengbh" id="zhucezhengbh" />
        <input type="hidden" id="Shouying" name="Shouying" value="1" />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="name" class="col-sm-2">货主</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("huozhuid", "货主", "名称")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Daima, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Daima)
                </div>
            </div>
            @*注册证*@
            <div class="form-group">
                <label for="name" class="col-sm-2">注册证</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("zhucezhengid", "注册证", "编号")
                </div>
            </div>
            @*名称*@
            <div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*<select name="mingcheng" id="select_zczmc" style="width:100%;"></select>*@
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">规格</label>
                <div class="col-sm-10">
                    <select name="guige" id="select_gg" style="width:100%;"></select>
                </div>
            </div>
            @*生产企业*@
            <div class="form-group">
                <label for="name" class="col-sm-2">生产企业</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Qiyemingcheng, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">产地</label>
                <div class="col-sm-10">
                    @*<select name="qiyemingcheng" id="select_qymc" style="width:100%;"></select>*@
                    @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Xinghao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Xinghao, new { @class = "form-control" })
                </div>
            </div>
            @*计量单位*@
            <div class="form-group">
                <label for="name" class="col-sm-2">单位</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Danwei, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input id="btn_jldw" type="button" value="选择单位" class="form-control" />
                </div>
            </div>
            @*包装单位*@
            <div class="form-group">
                <label for="name" class="col-sm-2">包装单位</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.BaozhuangDW, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input id="btn_jldw1" type="button" value="选择单位" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huansuanlv, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volchang, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Volchang, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label class="form-control">米(M)</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volkuan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Volkuan, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label class="form-control">米(M)</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volgao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Volgao, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label class="form-control">米(M)</label>
                </div>
            </div>
            @*产品线*@
            <div class="form-group">
                <label for="name" class="col-sm-2">产品线名称</label>
                <div class="col-sm-10">
                    <select name="chanpinxian" id="select_cpx" style="width:100%;"></select>
                </div>
            </div>
            @*分类目录*@
            <div class="form-group">
                <label for="name" class="col-sm-2">分类目录</label>
                <div class="col-sm-8">
                    @*@Html.TextBoxFor(m => m.Muluxuhao, new { @class = "form-control" })*@
                    <input type="text" id="Mulu" class="form-control" readonly />
                </div>
                <div class="col-sm-2">
                    <input id="bt_mulu" type="button" value="选择分类目录" class="form-control" />
                </div>
           </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Guanlifenlei, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Common("guanlifenlei", "医疗器械管理类别")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Baozhuangyaoqiu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Baozhuangyaoqiu, new { @class = "form-control" })
                </div>
            </div>
            @*存储条件*@
            <div class="form-group">
                @Html.LabelFor(m => m.Cunchutiaojian, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Common("cunchutiaojian", "储运要求")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GongyingID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("gongyingid", "供应商", "")
                </div>
            </div>
            @*是否审查*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.ShenchaSF)
                </div>
                <div>
                    <label class="radio-inline"><input type="radio" name="shixiaosf" value="true" checked>是</label>
                    <label class="radio-inline"><input type="radio" name="shixiaosf" value="false">否</label>
                </div>
            </div>
            @*是否经营*@
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(m => m.JingyinSF)
                </div>
                <div>
                    <label class="radio-inline"><input type="radio" name="JingyinSF" value="true" checked>是</label>
                    <label class="radio-inline"><input type="radio" name="JingyinSF" value="false">否</label>
                </div>
            </div>
            @*商品条码*@
            <div class="form-group">
                <label for="name" class="col-sm-2">商品条码</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinTM, new { @class = "form-control" })
                </div>
            </div>
            @*首营状态*@
            <div class="form-group">
                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*@Html.SelectList_Common("shouying", "首营状态")*@
                    <input type="text" class="form-control" readonly value="@Html.GetCommonValue_ID("首营状态", 1)">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input id="makedate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="makedate">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("MakeMan", "userinfo", "fullname", (long)ViewBag.userid)
                </div>
            </div>
        </div>
    }
</div>
<div id="pl_jldw" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:500px;z-index:99999;">
    <div class="panel-heading">
        <h3 class="panel-title">计量单位<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_jldw_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="jldwdatatable">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td></td>
                        <td>编号</td>
                        <td>名称</td>
                        <td>说明</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:560px;min-height:300px; overflow:auto"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_Fanwei" class="panel panel-primary " style="display:none;position:absolute;top:10px;left:100px;width:800px;height:600px;z-index:999;">
    <div class="panel-heading">
        <h3 class="panel-title">分类目录<button id="plfw_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="qxdatatable">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td></td>
                        <td style="width:150px">编号</td>
                        <td style="width:60px">名称</td>
                        <td style="width:930px">描述</td>
                        <td style="width:100px">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;overflow:scroll"></tbody>
            </table>
        </div>
    </div>
</div>
