@using CKWMS.App_Code
@using CKWMS.Models
@model base_shangpinxxViewModel
@{
    ViewBag.Title = "商品资料修改";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#pl_jldw").draggable({ handle: '.tuodong' }, { containment: "parent" });
        $("#pl_Fanwei").draggable({ handle: '.tuodong' }, { containment: "parent" });
        $("#pl_Cunchu").draggable({ handle: '.tuodong' }, { containment: "parent" });
        var _ispack = false;
        getCpx(@Model.HuozhuID);
        //getZczgg(Model.ZhucezhengID);
        $("#huozhuid").attr('required', 'required');
        GetJldw();
        GetFanwei();
        //分类目录
        $("#bt_mulu").click(function () {
            $("#pl_Fanwei").show();
            $("#qxdatatable tr input[type=checkbox]").on('click', function () {
                $("#qxdatatable tr input[type=checkbox]").not(this).attr("checked", false);
            });
        });
        //选择管理分类
        $("#cata_guanlifenlei").change(function () {
            var fl = $('.glfl').text();
            var lb = $("#cata_guanlifenlei").find("option:selected").text();
            switch (lb) {
                case "一类":
                    for (var i = 0; i < fl.length; i++) {
                        if ($(".glfl").eq(i).text() == "1") {
                            $(".bg").eq(i).show();
                        }
                        else { $(".bg").eq(i).hide(); }
                    }
                    break;
                case "二类":
                    for (var i = 0; i < fl.length; i++) {
                        if ($(".glfl").eq(i).text() == "2") {
                            $(".bg").eq(i).show();
                        }
                        else { $(".bg").eq(i).hide(); }
                    }
                    break;
                case "三类":
                    for (var i = 0; i < fl.length; i++) {
                        if ($(".glfl").eq(i).text() == "3") {
                            $(".bg").eq(i).show();
                        }
                        else { $(".bg").eq(i).hide(); }
                    }
                    break;
                default:
                    $(".bg").show();
                    break;
            }
        });
        //分类目录添加事件
        $("#bt_fanwei_add").click(function () {
            var _mulu;
            var _muluxh;
            var _mlfind = false;
            $("#qxdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _mulu = $(this).parent().parent().siblings().find(".bh").html() + " " + $(this).parent().parent().siblings().find(".mc").html();
                    _muluxh = $(this).val();
                    _mlfind = true;
                }
            });
            if (_mlfind) {
                $("#Mulu").val(_mulu);
                $("#muluxuhao").val(_muluxh);
            }
            $("#pl_Fanwei").hide();
        });
        $("#plfw_close").click(function () {
            $("#pl_Fanwei").hide();
        });
        $("#makedate").datepicker();
        $("#qxdatatable tbody").on("dblclick", "tr", function () {
            $("#Mulu").val($(this).find(".bh").html() + " " + $(this).find(".mc").html());
            $("#muluxuhao").val($(this).find("input[type=checkbox]").val());
            $("#pl_Fanwei").hide();
        });
        //单击打钩
        $("#qxdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //注册证规格→代码
        $("#select_gg").change(function () {
            var guige = $("#select_gg").find("option:selected").text();
            $("#Daima").val(guige);
        });
        //货主ID→产品线名称
        $("#huozhuid").change(function () {
            var _huozhuid = $("#huozhuid").val();
            if (_huozhuid == "") {
                $("#select_cpx").text("");
            } else {
                getCpx(_huozhuid);
            }
        });
        //注册证→获取其他信息
        //$("#zhucezhengid").change(function () {
        //    var _zczid = $("#zhucezhengid").val();
        //    //$("#Daima").val("");
        //    getZCZ(_zczid);
        //});
        //计量单位
        $("#btn_jldw1").click(function () {
            _ispack = true;
            $("#pl_jldw .checkbox").prop("checked", false);
            $("#pl_jldw").show();
            $("#pl_jldw tbody").find("input[type=checkbox]").on('click', function () {
                $("#pl_jldw tbody").find("input[type=checkbox]").not(this).attr("checked", false);
            });
        });
        $("#btn_jldw").click(function () {
            _ispack = false;
            $("#pl_jldw .checkbox").prop("checked", false);
            $("#pl_jldw").show();
            $("#pl_jldw tbody").find("input[type=checkbox]").on('click', function () {
                $("#pl_jldw tbody").find("input[type=checkbox]").not(this).attr("checked", false);
            });
        });
        $("#pl_close").click(function () {
            $("#pl_jldw").hide();
        });
        $("#bt_jldw_add").click(function () {
            var _jldw = "";
            $("#jldwdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _jldw = $(this).parent().parent().siblings().find(".mc").html();
                }
            });
            if (_ispack)
                $("#BaozhuangDW").val(_jldw);
            else
                $("#Danwei").val(_jldw);
            $("#pl_jldw").hide();
        });
        //双击取值
        $("#jldwdatatable tbody").on("dblclick", "tr", function () {
            if (_ispack)
                $("#BaozhuangDW").val($(this).find(".mc").html());
            else
                $("#Danwei").val($(this).find(".mc").html());
            $("#pl_jldw").hide();
        });
        //单击打钩
        $("#jldwdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
        //存储条件
        $("#ccdatatable tbody tr:first").hide();//第一行为空-->隐藏
        $("#btn_cctj").click(function () {
            $("#pl_Cunchu").removeAttr("hidden");
            $("#pl_Cunchu").show();
            $("#pl_Cunchu .checkbox").prop("checked", false);
        });
        $("#bt_cunchu_add").click(function () {
            var _cctj = "";
            $("#ccdatatable tr input[type=checkbox]").each(function () {
                if (this.checked) {
                    _cctj = $(this).parent().parent().parent().find(".cctj_val").html();
                }
                $("#Cunchutiaojian").val(_cctj);
            });
            $("#pl_Cunchu").hide();
        });
        $("#plcc_close").click(function () {
            $("#pl_Cunchu").hide();
        });
        $("#ccdatatable tbody").on("dblclick", "tr", function () {
            $("#Cunchutiaojian").val($(this).find(".cctj_val").html());
            $("#pl_Cunchu").hide();
        });
        //单击打钩
        $("#ccdatatable").on("click", "tr", function (e) {
            if (e.target.tagName == "TD" || e.target.tagName == "SPAN") {
                if ($(this).find(":checkbox").is(':checked')) {
                    $(this).find(":checkbox").prop("checked", false);
                } else {
                    $(this).find(":checkbox").prop("checked", true);
                }
            }
        });
    });
    function GetFanwei() {
        var filltable = "";
        $.post(
                "/base_qixiemulu/GetQixiemulu1",
                {},
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr class="bg"><td style="width:4%"><label><input class="checkbox" type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></td><td style="width:10%"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td style="width:30%"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td style="width:30%">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td><td style="width:10%"><span class="glfl">';
                        filltable = filltable + data[i].GuanliFL;
                        filltable = filltable + '</span></td></tr>';
                    }
                    $("#pl_Fanwei tbody").html(filltable);
                });
    }
    function getCpx(huozhuid) {
        var _huozhuid = huozhuid;
        var filltable = "";
        $.post(
            "/base_chanpinxian/getdetail",
            {
                cpxid: _huozhuid
            },
            function (data) {
                var selval=$("#ocpx").val();
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].ID;
                    if(data[i].ID==selval)
                        filltable = filltable + '" selected="selected">';
                    else
                        filltable = filltable + '">';
                    filltable = filltable + data[i].Mingcheng;
                    filltable = filltable + '</option>';
                }
                $("#select_cpx").html(filltable);
            });
    }
    function getZCZ(zczid) {
        var _zczid = zczid;
        var filltable = "";
        var fillmc = "";
        $.post(
            "/base_shangpinzcz/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                if (data != null) {
                    $("#Mingcheng").val(data.Mingcheng);
                    $("#Chandi").val(data.Chandi);
                    $("#Qiyemingcheng").val(data.Shengchanqiye);
                    $("#qiyeid").val(data.ShengchanqiyeID);
                    $("#zhucezhengbh").val(data.Bianhao)
                    for (var i in data.Guige) {
                        filltable = filltable + '<option value="';
                        filltable = filltable + data.Guige[i].Guige;
                        filltable = filltable + '">';
                        filltable = filltable + data.Guige[i].Guige;
                        filltable = filltable + '</option>';
                    }
                    $("#select_gg").html(filltable);
                    GetFirstDaima();
                }
            });
    }
    function GetFirstDaima() {
        var guige = $("#select_gg").find("option:selected").text();
        $("#Daima").val(guige);
    }
    function getZczgg(zczid) {
        var _zczid = zczid;
        var filltable = "";
        var fillmc = "";
        $.post(
            "/base_zhucezhenggg/getdetail",
            {
                zczbh: _zczid
            },
            function (data) {
                var selval=$("#ogg").val();
                for (var i in data) {
                    filltable = filltable + '<option value="';
                    filltable = filltable + data[i].Guige;
                    if(data[i].Guige==selval)
                        filltable = filltable + '" selected="selected">';
                    else
                        filltable = filltable + '">';
                    filltable = filltable + data[i].Guige;
                    filltable = filltable + '</option>';
                }
                $("#select_gg").html(filltable);
            });
    }
    function GetJldw() {
        var filltable = "";
        $.post(
            "/base_jiliangdw/GetJldw",
            {
            },
                function (data) {
                    for (var i in data) {
                        filltable = filltable + '<tr><td width="50px;"><label><input type="checkbox" class ="checkbox" value="';
                        filltable = filltable + data[i].ID;
                        filltable = filltable + '"></label></td><td width="30%;"><span class="bh">';
                        filltable = filltable + data[i].Bianhao;
                        filltable = filltable + '</span></td><td width="30%;"><span class="mc">';
                        filltable = filltable + data[i].Mingcheng;
                        filltable = filltable + '</span></td><td width="30%;">';
                        filltable = filltable + data[i].Miaoshu;
                        filltable = filltable + '</td></tr>';
                    }
                    $("#pl_jldw tbody").html(filltable);
                });
    }
</script>

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li>
            <a href="/base_shangpinxx">商品资料</a>
        </li>
        <li class="active"> 编辑</li>
    </ul>
</div>
<div class="page-content">
    @using (Html.BeginForm("Update", "base_shangpinxx", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" id="spid" value="@Model.ID" />
        <input type="hidden" name="qiyeid" id="qiyeid" value="@Model.QiyeID" />
        <input type="hidden" name="Muluxuhao" id="muluxuhao" value="@Model.Muluxuhao" />
        <input type="hidden" name="zhucezhengbh" id="zhucezhengbh" value="@Model.ZhucezhengBH" />
        <input type="hidden" name="zhucezhengid" id="zhucezhengid" value="@Model.ZhucezhengID" />
        <input type="hidden" id="ohzid" value="@Model.HuozhuID" />
        <input type="hidden" id="ocpx" value="@Model.Chanpinxian" />
        <input type="hidden" id="ogg" value="@Model.Guige" />
        <input type="hidden" name="Shouying" id="Shouying" value="@ViewData.Model.Shouying" />
        <input type="hidden" id="MakeMan" name="MakeMan" value=@Session["user_id"] />
        <input type="hidden" name="MakeDate" value=@string.Format("{0:yyyy-MM-dd}",DateTime.Now) />
        <div class="page-header">
            <p>
                <button type="submit" class="btn btn-default"><i class="icon-save"></i>更新</button>
                <button type="button" class="btn btn-default" onclick="javascript: history.back(-1); "><i class="icon-hand-left"></i>返回</button>
            </p>
        </div>
        <div class="container">
            @*货主*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>货主</label>
                <div class="col-sm-10">
                    @Html.SelectList_Auto("huozhuid", "货主", "名称", (long)Model.HuozhuID)
                </div>
                @*<label class="col-sm-10 blue">@Html.GetDataValue_ID("货主", "名称", (int)@Model.HuozhuID)</label>*@
            </div>
            @*代码*@
            <div class="form-group">
                <label for="name" class="col-sm-2"><i class="icon-leaf red"></i>代码</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Daima, new { @class = "form-control", @placeholder = "请选择注册证" })
                </div>
            </div>
            @*注册证*@
            <div class="form-group">
                <label for="name" class="col-sm-2">注册证</label>
                <div class="col-sm-10">
                    @*@Html.SelectList_Auto("zhucezhengid", "注册证", "编号", (long)ViewData.Model.ZhucezhengID)*@
                <input type="text" class="form-control" value="@Model.ZhucezhengBH" readonly />
                </div>
            </div>
            @*商品名称*@
            <div class="form-group">
                @Html.LabelFor(m => m.Mingcheng, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mingcheng, new { @class = "form-control" })
                </div>
            </div>
            @*规格*@
            <div class="form-group">
                <label for="name" class="col-sm-2">规格</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Guige, new { @class = "form-control",@readonly="true"})
                    @*<select name="guige" id="select_gg" style="width:100%;"></select>*@
                </div>
            </div>
            @*生产企业*@
            <div class="form-group">
                <label for="name" class="col-sm-2">生产企业</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Qiyemingcheng, new { @class = "form-control" })
                </div>
            </div>
            @*产地*@
            <div class="form-group">
                <label for="name" class="col-sm-2">产地</label>
                <div class="col-sm-10">
                    @*<select name="qiyemingcheng" id="select_qymc" style="width:100%;"></select>*@
                    @Html.TextBoxFor(m => m.Chandi, new { @class = "form-control" })
                </div>
            </div>
            @*型号*@
            <div class="form-group">
                @Html.LabelFor(m => m.Xinghao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Xinghao, new { @class = "form-control" })
                </div>
            </div>
            @*计量单位*@
            <div class="form-group">
                <label for="name" class="col-sm-2">单位</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Danwei, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input id="btn_jldw" type="button" value="选择单位" class="form-control" />
                </div>
            </div>
            @*包装单位*@
            <div class="form-group">
                <label for="name" class="col-sm-2">包装单位</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.BaozhuangDW, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input id="btn_jldw1" type="button" value="选择单位" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Huansuanlv, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Huansuanlv, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volchang, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Volchang, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label class="form-control">米(M)</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volkuan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Volkuan, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label class="form-control">米(M)</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Volgao, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Volgao, new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <label class="form-control">米(M)</label>
                </div>
            </div>
            @*产品线名称*@
            <div class="form-group">
                <label for="name" class="col-sm-2">产品线名称</label>
                <div class="col-sm-10">
                    <select id="select_cpx" name="chanpinxian" style="width:100%;"></select>
                </div>
            </div>
            @*分类目录*@
            <div class="form-group">
                <label for="name" class="col-sm-2">分类目录</label>
                <div class="col-sm-8">
                    <input type="text" id="Mulu" class="form-control" readonly value="@Html.GetDataValue_ID("分类目录", "", (int)Model.Muluxuhao)" />
                </div>
                <div class="col-sm-2">
                    <input id="bt_mulu" type="button" value="选择分类目录" class="form-control" />
                </div>
            </div>
            @*管理类别*@
            <div class="form-group">
                @Html.LabelFor(m => m.Guanlifenlei, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Common("guanlifenlei", "医疗器械管理类别", (long)ViewData.Model.Guanlifenlei)
                </div>
            </div>
            @*包装要求*@
            <div class="form-group">
                @Html.LabelFor(m => m.Baozhuangyaoqiu, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Baozhuangyaoqiu, new { @class = "form-control" })
                </div>
            </div>
            @*存储条件*@
            <div class="form-group">
                @Html.LabelFor(m => m.Cunchutiaojian, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @*@Html.TextBoxFor(m => m.Cunchutiaojian, new { @class = "form-control" })*@
                    <input type="text" id="Cunchutiaojian" name="cunchutiaojian" class="form-control" readonly value="@ViewData.Model.Cunchutiaojian" />
                </div>
                <div class="col-sm-2">
                    <input id="btn_cctj" type="button" value="存储条件" class="form-control" />
                </div>
            </div>
            @*供应商序号*@
            <div class="form-group">
                @Html.LabelFor(m => m.GongyingID, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.SelectList_Auto("gongyingid", "供应商", "", (long)ViewData.Model.GongyingID)
                </div>
            </div>
            @*是否审查*@
            <div class="form-group">
                @Html.LabelFor(m => m.ShenchaSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.ShenchaSF, new { @class = "form-control" })
                </div>
            </div>
            @*是否经营*@
            <div class="form-group">
                @Html.LabelFor(m => m.JingyinSF, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.JingyinSF, new { @class = "form-control" })
                </div>
            </div>
            @*商品条码*@
            <div class="form-group">
                <label for="name" class="col-sm-2">商品条码</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShangpinTM, new { @class = "form-control" })
                </div>
            </div>
            @*首营状态*@
            <div class="form-group">
                @Html.LabelFor(m => m.Shouying, new { @class = "control-label col-sm-2" })
                @*<label class="col-sm-10">@Html.GetCommonValue_ID("首营状态", (int)ViewData.Model.Shouying)</label>*@
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetCommonValue_ID("首营状态", (int)ViewData.Model.Shouying)">

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeDate, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="@string.Format("{0:yyyy-MM-dd}",ViewData.Model.MakeDate)" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MakeMan, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="@Html.GetDataValue_ID("userinfo", "全名", (int)ViewData.Model.MakeMan)" />
                </div>
            </div>
        </div>
    }
</div>
<div id="pl_jldw" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:250px;width:400px;height:500px;z-index:99999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">计量单位<button id="pl_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_jldw_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="jldwdatatable" style="margin-top:10px;">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td width="50px;"></td>
                        <td width="30%;">编号</td>
                        <td width="30%;">名称</td>
                        <td width="30%;">说明</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:380px;overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="pl_Fanwei" class="panel panel-primary " style="display:none;position:fixed;top:100px;left:200px;z-index:999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">分类目录<button id="plfw_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_fanwei_add"><i class="icon-add"></i>确定</button>
            <span class="gllb">
                <span style="margin-left:10px;">管理类别</span>
                <select name="cata_guanlifenlei" id="cata_guanlifenlei">
                    <option value="全部">全部</option>
                    <option value="一类">一类</option>
                    <option value="二类">二类</option>
                    <option value="三类">三类</option>
                </select>
            </span>
            <table class="table" id="qxdatatable" style="margin-top:10px;">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td style="width:4%"></td>
                        <td style="width:10%">编号</td>
                        <td style="width:30%">名称</td>
                        <td style="width:30%">描述</td>
                        <td style="width:10%">管理分类</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:330px;overflow:auto;"></tbody>
            </table>
        </div>
    </div>
</div>
@*存储条件*@
<div id="pl_Cunchu" class="panel panel-primary" hidden style="position:fixed;top:100px;left:240px;width:240px;height:auto;z-index:999;">
    <div class="panel-heading tuodong">
        <h3 class="panel-title">存储条件<button id="plcc_close" class="pull-right">X</button></h3>
    </div>
    <div class="panel-body">
        <div class="center">
            <button type="button" class="btn btn-default " id="bt_cunchu_add"><i class="icon-add"></i>确定</button>
            <table class="table" id="ccdatatable">
                <caption></caption>
                <thead style="display:block">
                    <tr>
                        <td width="40px"></td>
                        <td width="95px">编号</td>
                        <td width="100px">名称</td>
                    </tr>
                </thead>
                <tbody style="display:block; max-height:460px;overflow:auto;">
                    @foreach (var dd in MvcApplication.TranCondition)
                    {
                        <tr>
                            <td>
                                <label><input class="checkbox" type="checkbox" value="" /></label>
                            </td>
                            <td width="90px">@dd.Key</td>
                            <td width="100px" class="cctj_val">@dd.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
