@using CKWMS.App_Code
@using CKWMS.Models
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "GSP委托客户清单";
    string _searchcondition = ViewBag.SearchCondition;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr").bind("dblclick", function () {
            var u_id = $(this).find('td').eq(0).find('input').val();
            if (u_id != null) {
                var url_go = "/quan_gspwtkh/Edit/" + u_id;
                location.href = url_go;
            }
        });
    });
    function AddInfo() {
        location.href = "/quan_gspwtkh/Add";
    }
    function EditInfo() {
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                location.href = "/quan_gspwtkh/Edit/" + $(this).val();
        });
    }
    function DelInfo() {
        var sDel = "";
        $("#mydatatable tr input[type=checkbox]").each(function () {
            if (this.checked)
                sDel = sDel + ", " + $(this).val()
        });
        if (sDel.length < 2)
            return;
        var url_go = "/quan_gspwtkh/Delete/?del=" + sDel;
        location.href = url_go;
    }
</script>
@{
    List<SearchConditionModel> scms = new List<SearchConditionModel>();
    if (_searchcondition == null || _searchcondition == "")
    {
        SearchConditionModel scm = new SearchConditionModel();
        scm.ItemCode = "Daima";
        scm.ItemTitle = "代码";
        scm.ItemType = "System.String";
        scms.Add(scm);
    }
    else
    {
        string[] scs = _searchcondition.Split(';');
        if (scs.Length > 0)
        {
            SearchConditionModel scm = new SearchConditionModel();
            scm.ItemCode = "Daima";
            scm.ItemTitle = "代码";
            scm.ItemType = "System.String";
            if (scs.Length > 1)
            {
                scm.ItemValue = scs[0].Split(',')[1];
                scm.ItemOpValue = scs[0].Split(',')[2];
                scm.ItemJion = scs[0].Split(',')[3];
            }
            scms.Add(scm);
        }
    }
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">GSP委托客户</li>
    </ul>
</div>
<div class="page-content">
    @Html.Search_Condition((int)Session["user_id"], "GSP委托客户_条件组合查询", "/quan_gspwtkh/index", "quan_gspwtkh_index", scms)
    <div class="page-header">
        <p>
            <button type="button" class="btn btn-default " id="bt_searchInfo" data-toggle="modal" data-target="#myModal"><i class="icon-search"></i>查询</button>
            <button type="button" class="btn btn-default " id="bt_addInfo" onclick="AddInfo()"><i class="icon-adn"></i>新增</button>
            <button type="button" class="btn btn-default " id="bt_updateInfo" onclick="EditInfo()"><i class="icon-edit"></i>编辑</button>
            <button type="button" class="btn btn-default " id="bt_deleteInfo" onclick="DelInfo()"><i class="icon-remove"></i>删除</button>
            <button type="button" class="btn btn-default " id="bt_refreshInfo" onclick="javascript: location.reload()"><i class="icon-refresh"></i>刷新</button>
        </p>
    </div>
    <div class="row">
        <table class="table" id="mydatatable">
            <caption></caption>
            <thead>
                <tr>
                    <td></td>
                    <td>代码</td>
                    <td>简称</td>
                    <td>名称</td>
                    <td>合同编号</td>
                    <td>营业执照编号</td>
                    <td>营业执照有效期</td>
                    <td>营业执照图片</td>
                    <td>组织机构编号</td>
                    <td>组织机构有效期</td>
                    <td>组织机构图片</td>
                    <td>税务登记编号</td>
                    <td>税务登记有效期</td>
                    <td>税务登记图片</td>
                    <td>经营许可编号</td>
                    <td>经营许可有效期</td>
                    <td>经营许可图片</td>
                    <td>经营范围</td>
                    <td>经营范围代码</td>
                    <td>联系人</td>
                    <td>联系电话</td>
                    <td>备注</td>
                    <td>首营</td>
                    <td>制单日期</td>
                    <td>制单人</td>
                    <td>是否合作</td>
                    <td>是否合作</td>
                    <td>备案编号</td>
                    <td>备案有效期</td>
                    <td>备案批准日期</td>
                    <td>备案发证机关</td>
                    <td>备案图片</td>
                    <td>许可批准日期</td>
                    <td>许可发证机关</td>
                    <td>注册地址</td>
                    <td>经营地址</td>
                    <td>库房地址</td>
                    <td>委托内容</td>
                    <td>委托开始日期</td>
                    <td>委托结束日期</td>
                    <td>委托期限</td>
                    <td>贴中文标签</td>
                    <td>合同文件</td>
                    <td>法人</td>
                    <td>负责人</td>
                    <td>三证合一</td>
                    <td>对象序号</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.quan_gspwtkh)
                {
                    <tr>
                        <td>
                            <label><input type="checkbox" value="@item.ID"></label>
                        </td>
                        <td>@item.Daima</td>
                        <td>@item.Jiancheng</td>
                        <td>@item.Kehumingcheng</td>
                        <td>@item.Hetongbianhao</td>
                        <td>@item.YingyezhizhaoBH</td>
                        <td>@item.YingyezhizhaoYXQ</td>
                        <td>@item.YingyezhizhaoTP</td>
                        <td>@item.ZuzhijigouBH</td>
                        <td>@item.ZuzhijigouYXQ</td>
                        <td>@item.ZuzhijigouTP</td>
                        <td>@item.ShuiwudengjiBH</td>
                        <td>@item.ShuiwudengjiYXQ</td>
                        <td>@item.ShuiwudengjiTP</td>
                        <td>@item.JingyingxukeBH</td>
                        <td>@item.JingyingxukeYXQ</td>
                        <td>@item.JingyingxukeTP</td>
                        <td>@item.Jingyingfanwei</td>
                        <td>@item.JingyingfanweiDM</td>
                        <td>@item.Lianxiren</td>
                        <td>@item.Lianxidianhua</td>
                        <td>@item.Beizhu</td>
                        <td>@item.Shouying</td>
                        <td>@item.MakeDate</td>
                        <td>@item.MakeMan</td>
                        <td>@item.ShenchaSF</td>
                        <td>@item.HezuoSF</td>
                        <td>@item.BeianBH</td>
                        <td>@item.BeianYXQ</td>
                        <td>@item.BeianPZRQ</td>
                        <td>@item.BeianFZJG</td>
                        <td>@item.BeianTP</td>
                        <td>@item.XukePZRQ</td>
                        <td>@item.XukeFZJG</td>
                        <td>@item.ZhuceDZ</td>
                        <td>@item.JingyinDZ</td>
                        <td>@item.KufangDZ</td>
                        <td>@item.WeituoNR</td>
                        <td>@item.WeituoKSRQ</td>
                        <td>@item.WeituoJSRQ</td>
                        <td>@item.WeituoQX</td>
                        <td>@item.TieZWBQ</td>
                        <td>@item.HetongTP</td>
                        <td>@item.Faren</td>
                        <td>@item.Fuzeren</td>
                        <td>@item.HeyiSF</td>
                        <td>@item.WTKHID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
